[2022-02-23 10:19] Nupur-Khatri opened #1 "New issue as contributor"
Myself a contributor from GSSOC-22. I Found a feature in frontend to add in the CSS JS Clock. I would like to contribute to this issue . Please assign me this issue.

[2022-02-24 13:30] Jatinkumar30 opened #2 "New Issue"
I'm here from GSSOC-22. I want to contribute a new project to your repo . Please assign me this issue.

[2022-02-24 15:22] sahilg861907 opened #3 "New Issue as Contributer"
Hello. Myself a Contributor from GSSOC'22. I want to contribute on Countdown-Timer issue. Can You Please assign it to me.

[2022-02-24 19:01] surajm-333 commented on #2
Hey. Great to have you here! Can you mention what project would you like to add to the repository?

[2022-02-24 19:03] surajm-333 commented on #3
Hey. Great to have you as a contributor! Can you mention what improvements would you like to make to the project?

[2022-02-25 05:40] Jatinkumar30 commented on #2
I would like to add a **Glassmorphism calendar** project with tilt.js enabled.

[https://jatinkumar30.github.io/Glassmorphism/](url)
<br>
![calendar_gif_file](https://user-images.githubusercontent.com/65028262/155660168-79f98c79-30a9-4ac7-b523-2516cd08ffee.gif)

[2022-02-25 07:24] Vartika511 opened #4 "Adding a 3D Background in Neumorphic Form"
Hello, Myself a contributor from **GSSOC-22**. I would like to add 3D background using **THREE.JS** in Neumorphic Form with a **Debug panel**. It will give form a new 3D look.  I would like to contribute to this issue . Please assign me this issue.

[2022-02-25 07:54] sahilg861907 commented on #3
I want to add an alarm system to present system . so that after timer goes down to 0, system will make an alert through sound.

[2022-02-25 08:13] ishika1501 commented on #4
good evening mam , i would like to contribute to this issue as i am confident in designing , and quite familiar with most of the designing  and Ui stuffs .Thankyou

[2022-02-25 08:23] Vartika511 commented on #4
@ishika1501 actually I'm a contributor and I've raised this issue cuz, I want the mentor to assign it to me.

[2022-02-25 10:04] surajm-333 commented on #4
Hey @Vartika511. I would suggest you to create a new folder for this idea and create a separate form with 3D background.

[2022-02-25 10:06] surajm-333 commented on #3
Okay. Sounds good! I would also suggest you to make some improvements in the design of the page.

[2022-02-25 10:17] Vartika511 commented on #4
Okay Sure @surajm-333

[2022-02-26 13:37] Ajoe12 opened #5 "NEW ISSUE - Add a innovative Login form (Front-end)"
Hey!! I am a contributor from GSSOC-22, I want to contribute a login form to this repo
![Screenshot (203)](https://user-images.githubusercontent.com/54743791/155845271-ef7459fb-0a68-484b-aeda-ff298f67b3bb.png)

[2022-02-26 13:38] Ajoe12 commented on #5
Please assign me this issue

[2022-02-27 12:26] devon221 opened #6 "new project !!"
I will like to add responsive navbar    . Can you assign me this issue ?

[2022-02-27 13:25] HarshitShukla01 opened #7 "Beautiful Animated Login page Template"
![image](https://user-images.githubusercontent.com/75080333/155884260-b521ce0b-4116-4931-9a2d-cb1d47bd4e2e.png)

please assign me this issue

[2022-02-27 13:27] HarshitShukla01 opened #8 "Casio"
I want to add Casio.

![image](https://user-images.githubusercontent.com/75080333/155884317-32fa4abc-85ca-47f8-908b-2fd22a039b78.png)

Please assign me this issue

[2022-02-27 19:12] swethalana opened #9 "Image Gallery Grid"
Hey, I'm a GSSOC'22 Contributor. I want to make the image gallery grid web page responsive and also add some hover effects. Please assign me this issue.

[2022-02-28 02:12] swethalana opened #10 "JS Drum Kit"
Hey, I'm a GSSOC'22 Contributor. I want to change the UI to the drum kit web app and add sounds when the key is clicked.

[2022-02-28 05:37] akanksha0044 opened #11 "new issu"
I'm here from GSSOC-22. I want to contribute a new project to your repo . Please assign me this issue.

[2022-02-28 10:03] AmolShelke2 opened #12 "Added Beautiful Form with Wave Effects:"
Hey, project admin, I'm GSSOC Participant and I've come up with your project I would love to contribute to your project so I want to add a basic form with some animating effect to Ace-The-FrontEnd Repository...

https://user-images.githubusercontent.com/95171638/155963439-cad171ed-cab3-4f10-9c4d-bc6466eb7416.mp4

[2022-02-28 10:54] surajm-333 commented on #11
Hey @akanksha0044! Glad to have you as a contributor. Please mention the description of the project that you want to add. You can also share a screenshot of what plan to add.

[2022-02-28 10:57] surajm-333 commented on #10
Hey @swethalana! Glad to have you as a contributor. The sounds are already available when the keys are clicked. The UI of the app is also fine.  I would suggest you to add new projects and open its issue.

[2022-02-28 11:00] surajm-333 commented on #12
Looks good @AmolShelke2. You can start working on it.

[2022-02-28 11:11] AmolShelke2 commented on #12
I will create the PR tomorrow as the contribution will starts from tomorrow
thanks for your kind support✨

On Mon, Feb 28, 2022, 4:30 PM Suraj Mulchandani ***@***.***>
wrote:

[2022-02-28 11:33] swethalana opened #13 "Tic Tac toe"
Hey, I'd wish to add a new project which is a tic tac toe game as a part of GSSOC'22 contribution. Please assign me this issue.

[2022-02-28 15:50] Akriti-007 opened #14 "Adding numbers in clock and also adding tik tik sound in the clock"
Hey, I'm GSSoC'22 Contributor. I want to add numbers in css clock as by adding numbers in the clock, it will become more presentable and readable. Further  I want to add tik tik sound whenever clock's hand is moved as adding sound will make it realistic.

[2022-02-28 16:24] Kushal-2002 commented on #13
I am a GSSOC'22 participant, I want to work on this issue.

[2022-02-28 16:31] Akriti-007 opened #15 "Adding hover over login button"

[2022-02-28 16:32] Akriti-007 commented on #15
Adding hover over login button in Glassmorphism

[2022-02-28 17:07] ringo476 commented on #15
I wish to work on this issue as a G'SSOC '22 participant..
Can you please assign this to me..
Also can you please add the GSSOC '22 tag along with difficulty level tag

[2022-02-28 18:00] kalashvasaniya commented on #13
Hey, I want to work on this issue!

[2022-02-28 18:00] kalashvasaniya commented on #15
Hey, I want to work on this issue!

[2022-02-28 18:32] Ravnoor12 opened #16 "Simon Game"
I am a contributor from GSSoC - 22. I want to add a new project which is Simon game. Kindly assign me this issue.

[2022-02-28 18:54] Kunal0220 opened #17 "Portfolio Template"
Feature Request:

A portfolio template which contains an image of the person at top along with his intro , skills , achievements and all the other things like the link to their Social Accounts and stuffs in a well formatted way , Which can be customized a bit based on the users wants and needs .

Css will be used to make it more Appealing and Presentable.

I would like to work on this new feature.

[2022-02-28 19:05] Bhawna147 opened #18 "Calculator"
I am a contributor from GSSoC - 22. I want to add a new project which is the Calculator using React JS. Kindly assign this issue to me.

[2022-02-28 19:07] Bhawna147 commented on #18
@surajm-333 Please assign this issue to me

[2022-02-28 19:08] Bhawna147 opened #19 "Tetris Game"
I am a contributor from GSSoC - 22. I want to add a new project which is a Tetris game. Please assign this issue to me.

[2022-02-28 19:14] CoderSahil128 opened #20 "Differrent GLassmorphism Card UI Design with Vanila JS"
I am a contributor from GSSoC - 22. I can create different kinds of glassmorphism card UI designs like glowing gradients and etc. and can add some effects like hover and tilt effects.so Please assign this issue to me

https://user-images.githubusercontent.com/97339865/156043778-23a1c0ce-745b-4c07-a089-d61a1a8da8f0.mp4

[2022-02-28 19:14] Bhawna147 commented on #19
@surajm-333 Please assign this issue to me

[2022-02-28 20:03] Utkarsh575 commented on #13
Hey there, I specialize in Frontend web development and would like to implement an instance of the Tic Tac Toe game into this project .

[2022-02-28 22:02] Jyo561 opened #22 "Instagram Clone using NUXT JS"
So it will be an Instagram Clone which i will be building with Help of NUXTJs framework with a unique UI and some added features

[2022-03-01 02:02] surajm-333 commented on #13
Hi @Kushal-2002 @kalashvasaniya @Utkarsh575. Glad to have you as contributors. You can work on adding other projects to the repository by opening its issue.

[2022-03-01 02:05] surajm-333 commented on #14
Hi @Akriti-007. One such issue is already assigned to a contributor. I would suggest you to work on adding other project to the repository. You can open its issue.

[2022-03-01 02:09] surajm-333 commented on #17
Hi @Kunal0220. This sounds good! You can start working on this issue.

[2022-03-01 02:09] surajm-333 commented on #18
Here you go @Bhawna147.

[2022-03-01 02:11] surajm-333 commented on #20
Looks good @CoderSahil128! You can start working on it.

[2022-03-01 02:25] surajm-333 commented on #22
Hi @Jyo561. Glad to have you as a contributor. Can you please add some description about the project you want to add and the tech stack of the project? Once done, I will assign you this issue!

[2022-03-01 02:47] akanksha0044 commented on #11
i want to make a textanlayzer,it will count  the number of words and character and also calculate the time to read that text  and many more functions

[2022-03-01 04:27] gurjeetsinghvirdee opened #23 "Add Google Search Engine Clone"
Hey, I'm a contributor at GSSo'C 22, I want to add Google Search Engine Clone with React Js using google API

![Screenshot (672)](https://user-images.githubusercontent.com/73753957/156106752-2e9e3398-6d3a-48e9-88e7-87898e1fe0a1.png)

Please assign me this issue

[2022-03-01 04:46] AshutoshDash1999 opened #24 "Add a tip calculator project"
Hey, I want to add a Tip Calculator built on HTML, TailwindCSS and JavaScript.
![image](https://user-images.githubusercontent.com/46455250/156106394-fe36b11f-ea3d-4381-aee9-fce5b0faba45.png)

Can you please assign me this issue?

[2022-03-01 05:00] surajm-333 commented on #23
Hi @gurjeetsinghvirdee! Glad to have you as a contributor. You can start working on this issue.

[2022-03-01 05:00] surajm-333 commented on #24
Hi @AshutoshDash1999! Glad to have you as a contributor. You can start working on this issue.

[2022-03-01 05:09] rittikadeb opened #25 "Online Quiz Portal"
Hey I am a GSSOC,22 contributor.
 I would like to add an online quiz portal which will have features like instructions at the beginning of the quiz, a timer and other customizable features. I will be using HTML, CSS, Javascript for this project.
I would be glad if you would kindly assign me this issue.

[2022-03-01 05:09] geethika1129 opened #26 "Add a Bill Splitter"
I am a GSSOC'22 participant . I would like to add a Simple Bill Splitter project made using HTML , Materialize and JavaScript .

![bill splitter](https://user-images.githubusercontent.com/83590629/156108699-daea9cb3-f2cf-448f-9764-fe32a2b99e1b.png)

Could you please assign this to me .

[2022-03-01 05:17] ahmadjubair33 opened #27 "Add a new project"
Hi @surajm-333 I will add a Bootstrap carousel . Please assign me this issue.

[2022-03-01 05:24] surajm-333 commented on #25
Hi @rittikadeb ! Glad to have you as a contributor. You can start working on this issue.

[2022-03-01 05:25] surajm-333 commented on #26
Hi @geethika1129 ! Glad to have you as a contributor. You can start working on this issue.

[2022-03-01 05:26] surajm-333 commented on #27
Hi @ahmadjubair33 ! Glad to have you as a contributor. You can start working on this issue.

[2022-03-01 05:26] gurjeetsinghvirdee commented on #23
Can you make a GSSo'C label for this issue

[2022-03-01 05:38] prabhashkumar11 commented on #15
Hi I am GSSOC participant, I would like to work on this issue

[2022-03-01 05:40] #15 closed

[2022-03-01 05:52] Kunal0220 commented on #17
Thanks @surajm-333 , my exams are going on RN but will try to be as quick as possible :)

[2022-03-01 06:05] shelabh opened #29 "Add a NFT Tracker Project"
Hi mentor I am a Gssoc'22 Contributor.
I want to add a new project to this repository.

**_Project Description_**
The project will contain a **modern ui design** and It will track the most popular NFTs and display live **crypto-currency** rates.
This will help new developers to understand ui/ux and the use of api in projects.

**_Tech Stack Used_**

- Next.Js
- Typescript
- Tailwindcss
- Framer-mo

[2022-03-01 06:17] SupriyaKumari08 opened #30 "Password strength calculator"
Feature Request:

This page will help people to check their password strength and let them know if their password is safe from hackers or not , or how much time will it take to hack their password.

I would like to go ahead with this feature project. Kindly assign it to me [GSSoC'22 Contributor].

[2022-03-01 06:58] kingmask420 opened #32 "Adding a 3D background in glass morphic form"
I am a contributor from gssoc-2022. I want to add the 3D background. below is the shared video. please assign me this issue.

https://user-images.githubusercontent.com/91127892/156120283-536cab08-904e-425c-bdfe-5d508c36091a.mp4

[2022-03-01 07:44] nishaSahuU opened #33 "Add an E-Reader project"
Hi!! I am a contributor from GSSOC-22, I want to contribute an E-reader project to this repo.
In this project a reader can change the display from day mode to night mode and back again according to their choice.
Prototype:
Day mode-
![Day mode](https://user-images.githubusercontent.com/82632229/156126044-22d1fdc2-8350-4519-bd3f-0dade6a52a1a.png)

Night mode-
![Dark mode](https://user-images.github

[2022-03-01 07:46] Jyo561 commented on #22
So it will be an Instagram Clone which i will be building with Help of NUXTJs framework with a unique UI and some added features

[2022-03-01 07:56] Abh1shekSingh opened #34 "Create Crypto Rush webapp"
In this WEB Application. You can see data of about 100 crypto currencies in the world. This is more useful for crypto investor, they can see the data brfore investing into specific crypto currencies

[2022-03-01 07:57] Abh1shekSingh commented on #34
@surajm-333  PLEASE ASSIGN THIS ISSUE TO ME, DESIGN IS READY. HALF development is also ready. This project is very useful sir. Please assign this to me

[2022-03-01 07:58] Abh1shekSingh opened #35 "Create, Coding Contest Notifier App"
In this website user / coder will get to know every future contest happening on top sites like kickstart, leetcode, codechef or codeforces etc...

[2022-03-01 07:59] Abh1shekSingh commented on #35
@surajm-333  SIR PLEASE ASSIGN THIS ISSUE TO ME. I WANT TO WORK ON SUCH APPLICATION SIR. PLEASE ASSIGN THIS ISSUE TO ME

[2022-03-01 08:17] anish2210 opened #36 "A new Registration/Login page."
hello friends, I want to work for this organization, can anyone please assign this work to me I am attaching one of my works with this comment, It is a registration/login page that is built on stackblitz.
MUST CHECK THE RESPONSIVENESS 😊
link - https://angular-ivy-iro2sa.stackblitz.io/

[2022-03-01 08:41] ahmadjubair33 commented on #27
Hello, @surajm-333  I have raised a PR for this issue Please review and merge it.Thanks

[2022-03-01 08:52] surajm-333 commented on #29
Hi @shelabh  ! Glad to have you as a contributor. You can start working on this issue.

[2022-03-01 08:54] surajm-333 commented on #30
Hi @SupriyaKumari08! Glad to have you as a contributor. You can start working on this issue.

[2022-03-01 08:58] surajm-333 commented on #32
Hi @kingmask420 ! Glad to have you as a contributor. I would recommend you to create a new folder of this project. You can start working on this issue.

[2022-03-01 09:00] surajm-333 commented on #33
Hi @nishaSahuU  ! Glad to have you as a contributor. You can start working on this issue.

[2022-03-01 09:02] surajm-333 commented on #34
Hi @Abh1shekSingh ! Glad to have you as a contributor. You can start working on this issue.

[2022-03-01 09:19] Abh1shekSingh commented on #34
Thank you Thank You so much

[2022-03-01 09:41] Chirantanbanik opened #38 "Will add To-Do-List"
Hi @surajm-333 I will add a To-Do-List. Please assign me this issue.

[2022-03-01 10:05] shreelakshmijoshi commented on #24
Hi @surajm-333, Shall I build a weather application using HTML, CSS, JavaScript and deploy that on Heroku?

[2022-03-01 10:10] HIGH238 opened #40 "add a travel website template"
Hi mentor I am a Gssoc'22 Contributor.
I want to add a new project to this repository.

Project Description
The project will contain a modern ui design and a traveling web site template.
This will help new developers to understand ui/ux .

Tech Stack Used

    Next.Js
    Typescript
    Tailwindcss
    Framer-motion

Prototype
![image](https://user-images.githubusercontent.com/54985872/156149163-f

[2022-03-01 11:16] Ankit62042 opened #44 "Add a Login Page Design"
![LOGIN](https://user-images.githubusercontent.com/71378462/156159576-7a0c5966-fd1a-45fb-bd7c-17af11e22037.png)

[2022-03-01 11:18] surajm-333 commented on #36
Hi @anish2210! Glad to have you as a contributor. There are already some issues assigned regarding responsive forms. So as of now, I would recommend you to add some other project to this repository. You can open a new issue and let me know if you face any difficulty. I would be happy to help :)

[2022-03-01 11:59] rajprem4214 opened #45 "Adding Parallex Website Design Template Using Html, Css and Scroll Trigger."
I want to add a parallex website . I want to work on this issue for GSSoC;22.

[2022-03-01 12:04] Nanshi29 opened #46 "Colorful Rain Animation Effects USing Html, Css, JS"
I want to add a website with colorful rain effects.
PLease assign me this issue for GSSoC'22.

[2022-03-01 12:10] Faiziimam opened #47 "Add Speech Detection WebApplication"
In this web-Application, I will create an interface that will display all the speech that is detected.

[2022-03-01 13:24] Rishabh-Gaud opened #48 "Add Restaurant Website"
I am Rishabh Gaud GSSOC'22 participant. I want to work upon this issue

[2022-03-01 13:49] darkling10 opened #50 "Score Keeper App"
I am a contributor from GSSoC - 22. I want to add a new project which is a Ping Pong Score Keeper. Please assign this issue to me.

[2022-03-01 13:54] anish2210 commented on #36
I have a Registration/Login page with a transition effect that I made a
couple of weeks ago, so in to add that do I have to add a new issue ?

On Tue, 1 Mar, 2022, 4:48 pm Suraj Mulchandani, ***@***.***>
wrote:

[2022-03-01 14:09] iamrahulmahato opened #51 "Improve ui of clock and add extra function"
CSS-JS-Clock

Project link
([Provide project link over here](https://github.com/surajm-333/Ace-The-FrontEnd/tree/main/CSS-JS-Clock))

Improvements suggested
(Let me enhance or improve the UI,and make it more functioning by adding javascript)

As a participant of GSsOC '22, I would like to work on it.

[2022-03-01 14:49] grvmourya commented on #51
I have worked on one of my own clock app which featured a beautiful clock UI. I would be grateful if I would get the opportunity to work on [this](https://github.com/surajm-333/Ace-The-FrontEnd/tree/main/CSS-JS-Clock) issue.
As a participant of GSsOC '22, I would work to my best efforts to bring out the most beautiful clock UI possible.

[2022-03-01 15:36] amitkr79 commented on #48
I am Amit Kumar GSSOC'22 participant. I want to work upon this issue

[2022-03-01 15:37] amitkr79 commented on #45
I want to add a parallex website . I want to work on this issue for GSSoC;22. Please assign this to me.

[2022-03-01 15:40] rajprem4214 commented on #45
I am already working on it. Please assign it to me.

[2022-03-01 16:00] amitkr79 commented on #44
I want to work on this project please assign to me.

[2022-03-01 17:19] surajm-333 commented on #45
Hi @rajprem4214! You can start working on this issue. @amitkr79 you can think of any new project and create a new issue for it. Also do join the project channel on GSSoC discord server. Let me know if you need any help!

[2022-03-01 17:20] surajm-333 commented on #46
Hi @Nanshi29. You can start working on this issue!

[2022-03-01 17:21] surajm-333 commented on #47
Hi @Faiziimam. This project sounds interesting. You can start working on this issue! Also do join the project channel on GSSoC discord server. Let me know if you need any help!

[2022-03-01 17:22] surajm-333 commented on #48
Hi @Rishabh-Gaud. You can start working on this issue. @amitkr79 you can think of any new project and create a new issue for it. Also do join the project channel on GSSoC discord server. Let me know if you need any help!

[2022-03-01 17:23] surajm-333 commented on #50
Hi @darkling10. You can start working on this issue!

[2022-03-01 17:25] surajm-333 commented on #51
Hi @iamrahulmahato and @grvmourya. Glad to have you as a contributor! There's already a contributor working on enhancing the UI of this project. But fret not, you can think of any new project and create a new issue for it. Also do join the project channel on GSSoC discord server. Let me know if you need any help!

[2022-03-01 17:26] #12 closed

[2022-03-01 17:27] surajm-333 commented on #22
Hi @Jyo561! You can start working on this issue. Also do join the project channel on GSSoC discord server. Let me know if you need any help!

[2022-03-01 17:28] #20 closed

[2022-03-01 17:28] #38 closed

[2022-03-01 17:42] tm2582001 opened #53 "Add Circular progress bar"
### Description

Hi, I am Tushar Mehta from GSSoC22. I want to add a Circular progress bar. So Please assign this issue to me.

### Code of Conduct

- [X] I follow [Code of conduct](https://github.com/surajm-333/Ace-The-FrontEnd/blob/main/CODE_OF_CONDUCT.md) of this project.

[2022-03-01 18:18] Rahul5430 opened #54 "Diprella Login Page Clone"
### Description

I would like to add Diprella Login Page Clone to your website. Please assign me this under GSSoC22.

![Screenshot 2022-03-01 231655](https://user-images.githubusercontent.com/67220225/156225458-46219b33-e29d-483b-8ddf-559816f8bec4.png)
![Screenshot 2022-03-01 231720](https://user-images.githubusercontent.com/67220225/156225553-9d1a5a63-4f73-4e8a-a3b4-355ae1ccc203.png)

### Code of

[2022-03-01 18:23] pratham-ops opened #55 "[Addition]: Can i add responsive Navbar made in bootstrap?"
### Description

Description of the project here

### Code of Conduct

- [X] I follow [Code of conduct](https://github.com/surajm-333/Ace-The-FrontEnd/blob/main/CODE_OF_CONDUCT.md) of this project.

[2022-03-01 19:27] TarunKoli opened #57 "Widgets-panel"
### Description

Hi @surajm-333 , happy to onboard to this project as a contributor . It would be a pleasure if you assign me to contribute a grid widget-panel to this project !
Cheers,

![image](https://user-images.githubusercontent.com/72290482/156235311-c84adc6f-5527-4658-931f-50afc61ca020.png)

### Code of Conduct

- [X] I follow [Code of conduct](https://github.com/surajm-333/Ace-The-FrontEnd

[2022-03-01 19:29] DivyanshTungaria-01 opened #58 "BMI Calculator"
### Description

Hello @surajm-333 ,
I am a GSSOC 22 contributor. I would like to make a **BMI calculator** with modern frontend effects (Glassmorphism) and functionality(Hovering Effects). Please assign it to me.

### Code of Conduct

- [X] I follow [Code of conduct](https://github.com/surajm-333/Ace-The-FrontEnd/blob/main/CODE_OF_CONDUCT.md) of this project.

[2022-03-01 20:00] thelordzeus opened #59 "Login Form with gradient animations"
### Description

@surajm-333
I will be making a Light theme  Login form with beautiful gradient animations, the site will be fully responsive and all the animations will purely done on CSS.

### Code of Conduct

- [X] I follow [Code of conduct](https://github.com/surajm-333/Ace-The-FrontEnd/blob/main/CODE_OF_CONDUCT.md) of this project.

[2022-03-01 20:12] Prit33 opened #60 "JS Infinity Animation"
### Description

Hey Admin, I want to add JS Animation which would appear like this to your project.
So assign this issue to me for GSSOC 2022 contribution.
![Infinity](https://user-images.githubusercontent.com/74133659/156240710-0329c279-2c0e-48ef-b1d8-a0a8521dedd6.gif)

### Code of Conduct

- [X] I follow [Code of conduct](https://github.com/surajm-333/Ace-The-FrontEnd/blob/main/CODE_OF_CONDUCT.

[2022-03-02 00:27] vardhinii opened #61 "Weather App"
### Description

I wanted to add a weather App made using HTML, CSS and Javascript to add in this repo similar to the below picture. I'm a participant under GSSOC'22 and I will do this.

![images (6)](https://user-images.githubusercontent.com/77223276/156271505-77a47d72-157f-40fb-972d-cf8c9c9f3add.jpeg)

### Code of Conduct

- [X] I follow [Code of conduct](https://github.com/surajm-333/Ace-The-Fr

[2022-03-02 02:33] surajm-333 commented on #54
Hi @Rahul5430. Glad to have you as a contributor. Make sure the form is responsive. You can start on this issue!

[2022-03-02 02:59] Rishabh-Gaud commented on #48
thank you sir

[2022-03-02 03:01] surajm-333 commented on #55
Hi @pratham-ops. Can you please change the title of this issue and provide description and screenshot of the project you want to add.

[2022-03-02 03:02] surajm-333 commented on #57
Hi @TarunKoli. You can start working on this issue!

[2022-03-02 03:02] sagnik2001 opened #62 "Ip Address Tracker"
Hey, I am a contributor under GSsOc 22 and would like to add an Ip Address tracker as an issue using Html, css, And Js. Please assign this issue to me

[2022-03-02 03:05] surajm-333 commented on #58
Hi @DivyanshTungaria-01. You can start working on this issue! Make sure that the project is not copied from somewhere. It will not be accepted if it is plagiarised. Take care of that thing :)

[2022-03-02 03:07] surajm-333 commented on #59
Hi @thelordzeus. You can start working on this issue. Make sure to give a unique name to your project folder according to the description you have provided.

[2022-03-02 03:07] surajm-333 commented on #60
Hi @Prit33. You can start working on this issue!

[2022-03-02 03:09] surajm-333 commented on #61
Hi @vardhinii. You can start working on this issue!

[2022-03-02 03:10] Kalyani02072003 opened #63 "[Profile card using ReactJs]:"
### Description

Making a profile card using ReactJs with a profile photo and social media handles.
Kindly assign it to me.

ScreenShots

![Screenshot (306)](https://user-images.githubusercontent.com/71889838/156287653-483d8214-29e2-4e47-9cbe-2ae1c6106ebf.png)

![Screenshot (307)](https://user-images.githubusercontent.com/71889838/156287657-6660c52f-bc72-4ce0-9029-47390585f681.png)

### Code of Co

[2022-03-02 03:11] surajm-333 commented on #62
Hi @sagnik2001. If you have a screenshot the can you please provide it for reference?

[2022-03-02 03:18] sagnik2001 commented on #62
![Screenshot from 2022-03-02 08-47-29](https://user-images.githubusercontent.com/74464019/156288496-211d225d-67b5-44fc-ac86-7e78f7744f58.png)

[2022-03-02 03:31] pratham-ops commented on #55
Sure i will

[2022-03-02 04:01] Atif0604 opened #64 "Snake Game"
### Description

Want to Add Snake Game

### Code of Conduct

- [X] I follow [Code of conduct](https://github.com/surajm-333/Ace-The-FrontEnd/blob/main/CODE_OF_CONDUCT.md) of this project.

[2022-03-02 04:48] ahmadjubair33 opened #66 "[New Issue]: I will add a well designed header and footer"
### Description

Hi @surajm-333 I will add a well-designed header and footer in bootstrap4 and angular. Please assign this issue to me.ThankYou

### Code of Conduct

- [X] I follow [Code of conduct](https://github.com/surajm-333/Ace-The-FrontEnd/blob/main/CODE_OF_CONDUCT.md) of this project.

[2022-03-02 05:35] #16 closed

[2022-03-02 05:37] Abh1shekSingh commented on #34
@surajm-333  Sir done all changes as per you instruction

[2022-03-02 05:39] DivyanshTungaria-01 commented on #58
Don't worry about that @surajm-333.
It will not be copied from somewhere.

[2022-03-02 05:53] #34 closed

[2022-03-02 06:10] arora-jasjot opened #70 "Add a new keyboard"
### Description

I am GSSOC'22 Participant.
I want to con tribute in this project by adding a new keyboard designed using HTML and CSS. Moreover it will be functional using Javscript.
I can complete this by 05-03-2022.

May I contribute to it ?

### Code of Conduct

- [X] I follow [Code of conduct](https://github.com/surajm-333/Ace-The-FrontEnd/blob/main/CODE_OF_CONDUCT.md) of this project.

[2022-03-02 06:44] RiyaBhandari-2811 opened #72 "[New Issue]: Reactjs Accordion"
### Description

_**Description of the project here**_ :

1.  Accordion Component provides a way to control our card components so that we can open them one at a time .
2. An accordion component can be broken-down in following components:
    - A toggle component to show and hide the content.
    - A collapse component to wrap the content.

@surajm-333 As a GSSOC-Contributor I would like to contri

[2022-03-02 06:52] Madhumitha155 opened #73 "[New Issue]: Add a TODO list with neumorphism UI"
### Description

A TODO list built using HTML, CSS, Javascript
![image](https://user-images.githubusercontent.com/83526768/156310205-1f5eb8d6-f99c-4e1c-bcf2-dc38e035c4bb.png)

### Code of Conduct

- [X] I follow [Code of conduct](https://github.com/surajm-333/Ace-The-FrontEnd/blob/main/CODE_OF_CONDUCT.md) of this project.

[2022-03-02 07:01] surajm-333 commented on #63
Hi @Kalyani02072003. You can start working on this issue. Make sure that you create a new project from scratch and the submodule is not created.

[2022-03-02 07:06] surajm-333 commented on #72
Hi @RiyaBhandari-2811. What tech stack will you use for this project?

[2022-03-02 07:08] surajm-333 commented on #73
Hi @Madhumitha155. You can start working on this issue. I would recommend you to increase the size of list container and the font size. Name project folder as To-do-list-Neumorphism.

[2022-03-02 07:12] ahmadjubair33 commented on #66
@surajm-333 sure

[2022-03-02 07:49] amitkr79 commented on #66
Hi @surajm-333 I will add a well-designed header and footer in bootstrap4 and angular. Please assign this issue to me.ThankYou

[2022-03-02 08:03] nikitadhona opened #76 "Adding Piano Keyboard"
### Description

I want to add a working piano keyboard made with the help of HTML, CSS and JavaScript. Assign it to me please!

### Code of Conduct

- [X] I follow [Code of conduct](https://github.com/surajm-333/Ace-The-FrontEnd/blob/main/CODE_OF_CONDUCT.md) of this project.

[2022-03-02 08:23] Neelima-git opened #77 "Simple and Compound Interest Calculator"
### Description

Hey @surajm-333!

I would like to contribute to this project by adding a **Simple and Compound Interest Calculator** built using HTML, CSS, Bootstrap, and Javascript. It will be responsive across all devices.

### Code of Conduct

- [X] I follow [Code of conduct](https://github.com/surajm-333/Ace-The-FrontEnd/blob/main/CODE_OF_CONDUCT.md) of this project.

[2022-03-02 09:32] Atif0604 commented on #64
It Would HTML CSS And JS

[2022-03-02 09:33] AmolShelke2 opened #78 "Want to Add Random Anime Pic Generator to Ace-The-FrontEnd"
### Description

Hey, Project Admin I'm GSSOC 2022 Participant and I've come up with your project I found it very comfortable with my coding tech stack so I want to add a Random anime profile pic generator to the ZeroOctave JavaScrit Projects Repository I hope you will go through my Issue and assign me the issue to work on it. I am attaching the Demo of the project please give it a look.

https://

[2022-03-02 10:23] Vartika511 commented on #4
I have done the required changes and sent  a PR.  Please give your valuable suggestion. Thank You

[2022-03-02 10:51] #3 closed

[2022-03-02 10:55] rv602 opened #83 "[New Feature]: Title : Adding dark theme toggle and displaying digital time & date below analog clock"
### Description

I wish to add a display the time digitally visible along with time below the analog clock. I also wish to add a dark theme toggle for the same.

### Code of Conduct

- [X] I follow [Code of conduct](https://github.com/surajm-333/Ace-The-FrontEnd/blob/main/CODE_OF_CONDUCT.md) of this project.

[2022-03-02 10:57] surajm-333 commented on #29
Hi @shelabh. You can continue working on the api part and complete the project.

[2022-03-02 10:58] shelabh commented on #29
okay @surajm-333

[2022-03-02 11:11] surajm-333 commented on #63
Actually you need to take care that a submodule is not created. So if a submodule is not there then you are good to go!

[2022-03-02 12:28] Shubhayu-Bhowmick opened #87 "[New Issue]: I want to make a Reviews Project"
### Description

Description of the project here:  I want to make a Reviews section project using html, css, javascipt.

![Annotation 2022-03-02 175142](https://user-images.githubusercontent.com/69085132/156361528-9f882aa7-ab4a-4878-a514-d5df7a4b0106.png)

It would look something like this

### Code of Conduct

- [X] I follow [Code of conduct](https://github.com/surajm-333/Ace-The-FrontEnd/blob/ma

[2022-03-02 12:28] Shubhayu-Bhowmick commented on #87
please assign me this  project.

[2022-03-02 12:40] pratiksrivastava01 commented on #87
I am a participant of GSSOC'22. I want to work on this issue. Can you please assign me?

[2022-03-02 12:42] pratiksrivastava01 commented on #76
I am a participant of GSSOC'22. I want to work on this issue . Can you please assign me?

[2022-03-02 12:43] pratiksrivastava01 commented on #1
I am a participant of GSSOC'22. I want to work on this issue. Can you please assign me?

[2022-03-02 12:59] Shubhayu-Bhowmick commented on #87
I have already requested to work on it actually

[2022-03-02 13:07] surajm-333 commented on #72
Ok. So make sure you code it from scratch and the submodule is not created.

[2022-03-02 13:21] surajm-333 commented on #64
Hi @rv602. Glad to have you as a contributor and it is good to see that you are enthusiastic about contributing to this project. As this issue is already assigned, you can open new issue for any other project that you wish to add.

[2022-03-02 14:36] charusahare commented on #70
I am GSSOC'22 Participant.
I want to contribute to this project.

[2022-03-02 14:50] Kunal0220 commented on #17
@devanshpratapsingh I have already started working on this issue , You may find somethings else to work on !

Thank you.

[2022-03-02 15:31] vedsom opened #90 "Add a Learning website"
### Description

This website consist of different resources of learning of a particular domain.
This will be really helpful for the students to get all resources access at a certain place.

I am a GSSOC contributor, kindly assign me this task.

### Code of Conduct

- [X] I follow [Code of conduct](https://github.com/surajm-333/Ace-The-FrontEnd/blob/main/CODE_OF_CONDUCT.md) of this project.

[2022-03-02 15:41] Gaurika-Gupta commented on #83
Can I work for this issue under GSSOC'22?

[2022-03-02 16:16] sulogna2001 opened #93 "Hey, I am a contributor under GSSOC 22.I would like to add an Google Map clone as an issue using HTML CSS and JS. Please assign this issue to me"
### Description

![image](https://user-images.githubusercontent.com/74129295/156402241-30c33638-d057-4503-9682-4219eccbc473.png)

### Code of Conduct

- [X] I follow [Code of conduct](https://github.com/surajm-333/Ace-The-FrontEnd/blob/main/CODE_OF_CONDUCT.md) of this project.

[2022-03-02 16:29] Jyo561 commented on #22
Sir can you assign this project under GSSoC22

[2022-03-02 16:33] yash-25log commented on #1
me too is a participant at GSSOC'22. I had few projects like login forms with great designs which i will like to showcase please assign me so i would be able to help

[2022-03-02 16:36] yash-25log opened #94 "Login Form built ui design"
### Description
hey i am a contributor at GSSOC'22
I have been working up on a cool UI design over a login form
I have the source code which i would like to share along please assign me in
![image](https://user-images.githubusercontent.com/58944204/156406061-080f8cc9-76bd-42e4-b3ff-8c8ae0e4bf6f.png)

### Code of Conduct

- [X] I follow [Code of conduct](https://github.com/surajm-333/Ace-The-FrontE

[2022-03-02 16:37] yash-25log commented on #94
please assign me in as contributor

[2022-03-02 16:42] ShivanshCharak opened #95 "[New Issue]: Clone of spotify"
### Description

i want to work on this issue

### Code of Conduct

- [x] I follow [Code of conduct](https://github.com/surajm-333/Ace-The-FrontEnd/blob/main/CODE_OF_CONDUCT.md) of this project.

[2022-03-02 16:51] yash-25log opened #96 "Profile Card UI"
### Description

Hey there i am participant at GSSOC'22.
i hereby have a great UI i have been working over on
![image](https://user-images.githubusercontent.com/58944204/156408921-3bfc67fa-5521-4300-abf6-a3d0acfe851f.png)

### Code of Conduct

- [X] I follow [Code of conduct](https://github.com/surajm-333/Ace-The-FrontEnd/blob/main/CODE_OF_CONDUCT.md) of this project.

[2022-03-02 18:32] yaman-694 opened #100 "[New Issue]: Apple website clone with animated navbar with searchbar"
### Description
GSSOC'22 contributor
a small clone of apple website with animated navbar and searchbar with javascript , html and css.

![image](https://user-images.githubusercontent.com/72979343/156425670-8c4759d5-348e-44a3-8897-a29cb412e947.png)

### Code of Conduct

- [X] I follow [Code of conduct](https://github.com/surajm-333/Ace-The-FrontEnd/blob/main/CODE_OF_CONDUCT.md) of this project.

[2022-03-02 19:11] rittikadeb opened #104 "EXPENSE TRACKER"
### Description

Hey @surajm-333, I am a GSSOC'22 contributor.
I would like to add an **EXPENSE TRACKER**  which will have features like adding new transaction, view of the history and other customizable features. I will be using HTML, CSS, Javascript for this project.
I would be glad if you would kindly assign me this issue.

### Code of Conduct

- [X] I follow [Code of conduct](https://github.co

[2022-03-02 19:41] purnimakatiyar commented on #90
I am a GSSOC contributor, kindly assign me this task. I will definitely give my best to obtain the result.

[2022-03-02 21:57] kalashvasaniya opened #105 "[New Issue]: Dynamic Calendar"
### Description

Event calender is useful to find event!

### Code of Conduct

- [X] I follow [Code of conduct](https://github.com/surajm-333/Ace-The-FrontEnd/blob/main/CODE_OF_CONDUCT.md) of this project.

[2022-03-02 22:02] kalashvasaniya opened #106 "[New Issue]: Dice Roll"
### Description

Dice The Roll virtually is helpful & Fun!

### Code of Conduct

- [X] I follow [Code of conduct](https://github.com/surajm-333/Ace-The-FrontEnd/blob/main/CODE_OF_CONDUCT.md) of this project.

[2022-03-02 22:02] kalashvasaniya commented on #106
hey I want to work on this issue!

[2022-03-02 22:05] kalashvasaniya opened #107 "[New Issue]: Wave Effect"
### Description

I already made this project, This wave effect is very satisfying!

### Code of Conduct

- [X] I follow [Code of conduct](https://github.com/surajm-333/Ace-The-FrontEnd/blob/main/CODE_OF_CONDUCT.md) of this project.

[2022-03-02 22:05] kalashvasaniya commented on #107
Hey i wnat to work on this issue!

[2022-03-02 22:09] kalashvasaniya opened #108 "[New Issue]: Infinite scroll"
### Description

Very satisfying!

### Code of Conduct

- [X] I follow [Code of conduct](https://github.com/surajm-333/Ace-The-FrontEnd/blob/main/CODE_OF_CONDUCT.md) of this project.

[2022-03-02 22:09] kalashvasaniya commented on #108
Hey i want to work no this issue!

[2022-03-03 03:07] surajm-333 commented on #76
Hi @pratiksrivastava01. This issue was already asked for. You can open a new issue for creating any other project.

[2022-03-03 03:09] surajm-333 commented on #78
@AmolShelke2 make sure to add a gif of working demo of project in the folder.

[2022-03-03 03:10] surajm-333 commented on #90
Hi @vedsom. What will be the tech stack of the project?

[2022-03-03 03:12] surajm-333 commented on #93
Hi @sulogna2001. Can you share a working demo of this project?

[2022-03-03 03:14] surajm-333 commented on #95
Hi @ShivanshCharak. What will be the tech stack of this project?

[2022-03-03 03:14] vedsom commented on #90
Html, css, javascript

[2022-03-03 03:15] surajm-333 commented on #105
Hi @kalashvasaniya. What will be the tech stack of this project?

[2022-03-03 03:16] surajm-333 commented on #106
Please mention the tech stack of the project and a demo for reference.

[2022-03-03 03:36] kalashvasaniya commented on #105
I'm a GSSoC'22 contributor.
I would like to add an Event Calendar  which will have features like Set Event, Event Reminder, customisable & 3D UI, This Project made with using HTML, CSS, Javascript.
I Want to work on this issue!

[2022-03-03 03:42] kalashvasaniya commented on #106
I'm a GSSoC'22 contributor.
I would like to add an Dice Roll This is very useful when you are playing some board game, This Project made with using HTML, CSS, Javascript.
I Want to work on this issue!
<img width="667" alt="Screenshot 2022-03-03 at 9 09 52 AM" src="https://user-images.githubusercontent.com/88212870/156491892-947b846f-cef3-4d0f-9d82-5e6c3851f445.png">

[2022-03-03 03:50] kalashvasaniya commented on #107
I'm a GSSoC'22 contributor.
I would like to add an Wave Effect Because it is very satisfying to use & If we use in website then website look more attractive, This Project made with using HTML, CSS, Javascript.
I Want to work on this issue!

https://user-images.githubusercontent.com/88212870/156492341-e3c32d56-c7dc-4b30-a0ee-84a7c9389908.mov

[2022-03-03 03:51] #108 closed

[2022-03-03 04:10] ShivanshCharak commented on #95
@surajm-333 reactjs or other css framework  is nedded

[2022-03-03 04:15] #62 closed

[2022-03-03 07:28] ShraddhaBShinde commented on #107
Hi...please assign this task to me.

[2022-03-03 07:59] shivananilisharma commented on #105
Kindly please this Issue to me

[2022-03-03 08:54] rahul123gautam opened #114 "Neumorphism design for login and registration page"
### Description

hello sir , I want to make Neumorphism login and registration form for this project through GSSOC 2022 .
please assign me because I can make better than others.

![image](https://user-images.githubusercontent.com/93531189/156530336-46c0fe2b-158c-4a9e-9377-b876f038f4ff.png)

### Code of Conduct

- [X] I follow [Code of conduct](https://github.com/surajm-333/Ace-The-FrontEnd/blob/ma

[2022-03-03 09:26] praniti111 opened #115 "[New Issue]: Search Github Profiles from a website"
### Description

Hey!
I wanted to make a template for websites that can **search the Github Profiles without opening Github.**
The template will contain

1. Profile Picture
2. Name
3. Number of followers and following
4. Description of the user.

I am a GSSoC22 participant, and would like to work on this project and contribute to this repo!
Please assign me the project!

### Code of Conduct

- [X]

[2022-03-03 13:02] surajm-333 commented on #83
Hi @Gaurika-Gupta. This issue was already asked for assignment by @rv602. You can still contribute to this repository by adding another project.

[2022-03-03 13:03] surajm-333 commented on #95
Okay @ShivanshCharak. You can start working on this issue. But make sure to add a gitignore file and that a submodule is not created.

[2022-03-03 13:05] surajm-333 commented on #105
@kalashvasaniya you can start working on this issue!

[2022-03-03 13:06] surajm-333 commented on #105
Hi @shivananilisharma. This issue was already asked for assignment by @rv602. You can still contribute to this repository by adding another project :)

[2022-03-03 13:09] surajm-333 commented on #107
@kalashvasaniya you can start working on this issue!

[2022-03-03 13:09] surajm-333 commented on #107
Hi @ShraddhaBShinde. Glad to have you as a contributor! This issue was already asked for assignment by @kalashvasaniya. You can still contribute to this repository by adding another project :)

[2022-03-03 13:17] surajm-333 commented on #114
Hi @rahul123gautam. Glad to have you as a contributor! One similar form is already added to the repository [here](https://github.com/surajm-333/Ace-The-FrontEnd/blob/main/Neumorphic-design-form/demo.png). But you can add different projects to the repository :)

Let me know if you need any help!

[2022-03-03 13:20] surajm-333 commented on #115
Hi @praniti111. You can start working on this issue. Make sure to add following in the project folder: a demo gif demonstrating working of the project and a gitignore file(in case if you use React or any other library/framework)

[2022-03-03 13:23] rahul123gautam commented on #114
Thank you sir for your confirmation . Can you assign me for game project based on Guess My Number (HTML , CSS , Java Script) with good design .

[2022-03-03 13:29] surajm-333 commented on #22
Hi @Jyo561. The issue is already assigned to you. You can start working on it. Make sure your pull request does not have a submodule and you have added the demo images/gif and there is a gitignore file.

[2022-03-03 13:49] akanksha0044 commented on #11
A want to make textanlayzer, techniques including counting word and how
much time will be taken to read any text and much more.

On Mon, Feb 28, 2022, 4:24 PM Suraj Mulchandani ***@***.***>
wrote:

[2022-03-03 13:50] akanksha0044 commented on #11
On Thu, Mar 3, 2022 at 7:18 PM akanksha maurya ***@***.***>
wrote:

[2022-03-03 14:56] #5 closed

[2022-03-03 15:22] #57 closed

[2022-03-03 16:12] surajm-333 commented on #32
@kingmask420 add proper screenshots of the form and gif of screen recording. Also, rename files as index.js, index.html and style.css and make appropriate path changes in the code.

[2022-03-03 16:27] #73 closed

[2022-03-03 16:40] #60 closed

[2022-03-03 16:54] itaintkevin opened #122 "[New Issue]: Youtube Clone"
## Description

Hey! Suraj,
I want to make a Youtube Clone. Just the front end of the website.
- It will show different video thumbnails which are links to videos.
- On clicking it will play the video and the UI changes just like in Youtube.
- Minimal actions with the video are possible, like Pause, Play, Mute and Fullscreen.
- It will also have a comments section.

I am a GSSoC22 participant, and

[2022-03-03 16:55] #59 closed

[2022-03-03 18:49] kalashvasaniya opened #125 "[New Issue]: Adding awesome tools in README.md File"
### Description

Make README.md file dynamic & the best UI.

### Code of Conduct

- [X] I follow [Code of conduct](https://github.com/surajm-333/Ace-The-FrontEnd/blob/main/CODE_OF_CONDUCT.md) of this project.

[2022-03-04 01:03] tanisha-bhadani commented on #90
Please assign this task to me

[2022-03-04 02:24] itaintkevin opened #131 "[New Issue]: Parallax Scrolling Website"
### Description

## Description

Hey! Suraj,
I would like to make a Parallax Scrolling Website, themed on #teamtrees & #TeamSeas.
- It will be a Tribute page for the 2 fundraising movements.
- It will feature their accomplishments and projects.

I am a GSSoC22 participant, and would like to work on this project and contribute to this repository!
Please assign this project to me!

### Code of Condu

[2022-03-04 02:56] surajm-333 commented on #72
I have mentioned some changes. Have  look at them in pr conversation.

[2022-03-04 03:29] surajm-333 commented on #93
Hi @sulogna2001. I tried the deployed link and I am getting a blank page.
![image](https://user-images.githubusercontent.com/66875689/156693950-96950941-0b09-4789-9913-36c855c62821.png)

[2022-03-04 03:59] Adit0507 opened #132 "CSS Santa Claus with a snowfall bg"
### Description

Description of the project here

I wish to add a CSS Santa Claus with a snowfall background animation.
![preview](https://user-images.githubusercontent.com/78037846/156696835-bd3128a2-1a76-4a60-9833-e4b3bc539ca6.PNG)

### Code of Conduct

- [X] I follow [Code of conduct](https://github.com/surajm-333/Ace-The-FrontEnd/blob/main/CODE_OF_CONDUCT.md) of this project.

[2022-03-04 05:03] praniti111 commented on #115
Okay, Will do it in the given format

[2022-03-04 07:11] sulogna2001 commented on #93
Hey can you check out this link that's showing blank because the access token was removed
https://eloquent-roentgen-1a1a4f.netlify.app/

[2022-03-04 07:34] praveen-221 opened #135 "Add Digital Clock project with animations"
### Description

### Digital Clock with Date and Animations

I would like to add a digital clock which is made using HTML, CSS, JS. It also contains the date with it. This simple digital clock will make the developers know about working of JS DOM model in HTML & CSS.

I am ready to work on this issue under GSSoC'22.

Thank you

### Code of Conduct

- [X] I follow [Code of conduct](https://github.c

[2022-03-04 08:54] AbhaHimani commented on #135
I would like to take up this issue! I'm from GSSoC '22

[2022-03-04 13:04] praveen-221 commented on #135
Could you please try to create issue ?
You can take up the issue created by project admin and mentors based on first come model.
But try to look who created the issue and whether they mentioned to work on it before commenting to work on the issue.
All the best for your open source journey.

[2022-03-04 13:29] Adit0507 opened #137 "CSS Submarine Animation"
### Description

Description of the project here

I wish to add a CSS Submarine Animation with a rotating propeller and a shining windows.
![css-submarine](https://user-images.githubusercontent.com/78037846/156771892-dc3cc662-17f7-4c00-a689-93ce6ae51c25.PNG)

### Code of Conduct

- [X] I follow [Code of conduct](https://github.com/surajm-333/Ace-The-FrontEnd/blob/main/CODE_OF_CONDUCT.md) of this p

[2022-03-05 00:33] XZANATOL opened #139 "Add GitHub Clone"
### Description

A GitHub Homepage clone. The project aims to demonstrate the capabilities of flex property and give a breif explanation about how GitHubs frontend is built.

### Code of Conduct

- [X] I follow [Code of conduct](https://github.com/surajm-333/Ace-The-FrontEnd/blob/main/CODE_OF_CONDUCT.md) of this project.

[2022-03-05 03:23] #32 closed

[2022-03-05 03:40] #4 closed

[2022-03-05 03:55] #72 closed

[2022-03-05 05:11] #64 closed

[2022-03-05 05:33] ahmadjubair33 commented on #66
Hi,@surajm-333 I have raised a PR for this issue please review and merge it.Thank you

[2022-03-05 05:34] surajm-333 commented on #93
Now it is working.
@sulogna2001 update the link in the readme file of Map folder.
Also mention steps to set up and run the project so that users can run and test the app.
Let me know once done

[2022-03-05 05:48] #8 closed

[2022-03-05 06:49] sulogna2001 commented on #93
@surajm-333 I have updated the readme file

[2022-03-05 07:07] SupriyaKumari08 commented on #30
Thanks @surajm-333 for assigning this project to me, been working on this. Shall update soon!

[2022-03-05 11:36] suman-shah opened #142 "[New Issue]: adding some cool social media icons"
### Description

Adding social media icons like facebook instagram youtube on the landing page will make it more attractive . people can visit by just clicking on that link

### Code of Conduct

- [X] I follow [Code of conduct](https://github.com/surajm-333/Ace-The-FrontEnd/blob/main/CODE_OF_CONDUCT.md) of this project.

[2022-03-05 11:37] suman-shah commented on #142
can you please assign this issue to me I want to work on this under GSSOC2022.

[2022-03-05 13:01] kalashvasaniya commented on #125
Hey Assign this ti me!

[2022-03-05 14:27] TarunKoli opened #143 "Mousemove parallax"
### Description

Hi @surajm-333 , can i proceed with mousemove parallax effect ?
![CPT2203051948-945x449](https://user-images.githubusercontent.com/72290482/156887564-af612b7c-8780-44b4-91eb-a9eac5e0aef8.gif)

### Code of Conduct

- [X] I follow [Code of conduct](https://github.com/surajm-333/Ace-The-FrontEnd/blob/main/CODE_OF_CONDUCT.md) of this project.

[2022-03-05 14:42] TarunKoli opened #144 "Neumorphic-analog-clock"
### Description

Hi @surajm-333 ,another issue for neumorphic analog clock , shall i proceed with this ?
![image](https://user-images.githubusercontent.com/72290482/156888108-0eaa5187-a4c1-4bbc-b9eb-95f89147ef49.png)

### Code of Conduct

- [X] I follow [Code of conduct](https://github.com/surajm-333/Ace-The-FrontEnd/blob/main/CODE_OF_CONDUCT.md) of this project.

[2022-03-05 15:16] #131 closed

[2022-03-05 15:17] #122 closed

[2022-03-05 16:56] Khushi25pandey commented on #142
I would like to work on this issue. Please assign it to me @suman-shah

[2022-03-05 17:03] Khushi25pandey commented on #132
I would like to work on this task. Please assign it to me @Adit0507

[2022-03-05 23:55] XZANATOL opened #146 "Adding Carousel landing page template"
### Description

Add an edited bootstrap 5 carousel homepage template that is suitable for volunteering communities to showcase their activities along with the timeline of their upcoming events.

### Code of Conduct

- [X] I follow [Code of conduct](https://github.com/surajm-333/Ace-The-FrontEnd/blob/main/CODE_OF_CONDUCT.md) of this project.

[2022-03-06 06:07] Aditya-Shahari commented on #142
I would like to work on this issue @suman-shah

[2022-03-06 06:48] Khushi-Mattu opened #147 "Password generator"
### Description

A password will be generated acc to the conditions chosen

### Code of Conduct

- [X] I follow [Code of conduct](https://github.com/surajm-333/Ace-The-FrontEnd/blob/main/CODE_OF_CONDUCT.md) of this project.

[2022-03-06 06:50] Khushi-Mattu opened #148 "Theme Clock"
### Description

A stylish clock of which we can change the theme too like light or dark.

### Code of Conduct

- [X] I follow [Code of conduct](https://github.com/surajm-333/Ace-The-FrontEnd/blob/main/CODE_OF_CONDUCT.md) of this project.

[2022-03-06 06:51] Khushi-Mattu commented on #148
Can you please assign this issue to me?

[2022-03-06 06:51] Khushi-Mattu commented on #147
Can you please assign this issue to me?

[2022-03-06 07:24] Tanvi444 commented on #148
Can you please assign this issue to me?

[2022-03-06 10:01] yashikhare opened #149 "Add Number Guessing Game"
I want add a number guessing game.
I will be using Html, css and javascript.
I am a GSSOC participant.
Can you please assign this issue to me?

[2022-03-06 10:14] Atharv-110 opened #150 "Typing Speed Tester"
## Description
This will be an amazing frontend project to test typing speed of anyone on the keyboard.

### Tech Stack - HTML, CSS & JavaScript

### Consider this issue under GSSoC'22

### Code of Conduct

- [X] I follow [Code of conduct](https://github.com/surajm-333/Ace-The-FrontEnd/blob/main/CODE_OF_CONDUCT.md) of this project.

[2022-03-06 11:27] Shivam-Katare commented on #146
I want to **solve** this issue so, can you assign me this issue?

[2022-03-06 13:44] priyanka2061 opened #151 "Adding tic tac toe game"
### Description

Hi mentor, I want to add new a project that is a tic tac toe game on this repo. please assign me. I made this using HTML ,CSS,javascript.

### Code of Conduct

- [X] I follow [Code of conduct](https://github.com/surajm-333/Ace-The-FrontEnd/blob/main/CODE_OF_CONDUCT.md) of this project.

[2022-03-06 21:17] moazbasheer commented on #150
I am Moaz Basheer. I am a GSoC contributer. Can I start working on this project? Do I have to submit a proposal?

[2022-03-07 10:21] yashikhare commented on #149
I am a GSSOC22  participant.
Can you please assign this issue to me?

[2022-03-07 12:49] XZANATOL commented on #139
@surajm-333 Can I get working on this?

[2022-03-07 15:56] Rishabh-Gaud commented on #48
Sir, I did it

[2022-03-07 16:23] #23 closed

[2022-03-07 16:48] Sulagna-Dutta-Roy opened #152 "Add a Music App"
### Description

Description of the project here
This is a music app made using html, css, javascript. Please assign me this Issue
Screenshot:
![Music](https://user-images.githubusercontent.com/72568715/157079057-6fd95ef6-6d5a-4725-8306-3821600dc5b6.PNG)

### Code of Conduct

- [X] I follow [Code of conduct](https://github.com/surajm-333/Ace-The-FrontEnd/blob/main/CODE_OF_CONDUCT.md) of this proje

[2022-03-07 21:09] kalashvasaniya opened #153 "[New Issue]: Random Joke Generator"
### Description

Making Random Joke Generator Using API,
Made with use of HTML, CSS, JS.

### Code of Conduct

- [X] I follow [Code of conduct](https://github.com/surajm-333/Ace-The-FrontEnd/blob/main/CODE_OF_CONDUCT.md) of this project.

[2022-03-07 21:10] kalashvasaniya opened #154 "[New Issue]: Maths Addition Game"
### Description

Making Maths Addition Game.
I make this game using HTML, CSS, JS.

### Code of Conduct

- [X] I follow [Code of conduct](https://github.com/surajm-333/Ace-The-FrontEnd/blob/main/CODE_OF_CONDUCT.md) of this project.

[2022-03-07 21:14] kalashvasaniya opened #155 "[New Issue]: Countdown Clock Project"
### Description

Countdown Clock Project is useful.
I make Countdown Clock Project with the help of HTML, CSS, JS.

### Code of Conduct

- [X] I follow [Code of conduct](https://github.com/surajm-333/Ace-The-FrontEnd/blob/main/CODE_OF_CONDUCT.md) of this project.

[2022-03-08 02:54] rajprem4214 commented on #45
Please review pr it's has been 2 days.

[2022-03-08 05:58] Vartika511 opened #156 "[New Issue]: 3D Galaxy with Debug Panel"
### Description

I want to add projects which I have made using THREE.JS its a 3D galaxy with a debug panel and an orbit control.

![image](https://user-images.githubusercontent.com/73403577/157175357-0dd9dbd4-6b55-46ab-807a-326517ad1d72.png)

### Code of Conduct

- [X] I follow [Code of conduct](https://github.com/surajm-333/Ace-The-FrontEnd/blob/main/CODE_OF_CONDUCT.md) of this project.

[2022-03-08 17:47] #33 closed

[2022-03-08 17:51] surajm-333 commented on #132
Hi @Khushi25pandey. This issue was already asked for being assigned. You can open a new issue of another project that you wish to add!

[2022-03-08 17:54] surajm-333 commented on #135
Hi @praveen-221. Can you share the working demo of this project?

[2022-03-08 17:55] surajm-333 commented on #135
Hi @AbhaHimani. This issue was already asked for being assigned. But fret not, you can add new projects by creating new issues!

[2022-03-08 18:01] surajm-333 commented on #142
Hi @Aditya-Shahari @Khushi25pandey you can contribute by creating new issues of other projects.

[2022-03-08 18:05] #77 closed

[2022-03-09 05:39] ishika1501 opened #158 "Glassmorphism Card Hover Effects"
### Description

It will be consisting of few cards with **Glassmorph effect**  which will show cool **animation when it will be hoverd .**

- Tech Stack used : CSS,  HTML,  Js

I will create something like this :
![WhatsApp Image 2022-03-09 at 11 05 03 AM](https://user-images.githubusercontent.com/86921052/157379598-4d480bcb-33db-4754-a2cf-cadf073de94a.jpeg)

### Code of Conduct

- [X] I follow [

[2022-03-09 07:19] #45 closed

[2022-03-09 08:09] #106 closed

[2022-03-09 10:39] XZANATOL commented on #146
@surajm-333 Can I get working on this?

[2022-03-09 11:10] Shel-2607 opened #163 "[New Issue]: Add a Speech Synthesis"
### Description

Hello , this is Shelja Sharma , GSSOC'2022 participant , I want to add   Speech Synthesis that will control rate and pitch of speech
Thank you for your time!! and looking forward to work on it.

### Code of Conduct

- [X] I follow [Code of conduct](https://github.com/surajm-333/Ace-The-FrontEnd/blob/main/CODE_OF_CONDUCT.md) of this project.

[2022-03-09 13:35] surajm-333 commented on #156
@Vartika511 share a working demo of this project.

[2022-03-09 14:08] XZANATOL opened #166 "Add Discord App Page Clone"
### Description

Add a clone of Discord app homepage (the one where we enter to servers & dms)

## Tech Stack:

- [x] HTML
- [x] CSS
- [x] JS
- [x] Bootstrap 5

Issue created under GSSoC'22 contributions

### Code of Conduct

- [X] I follow [Code of conduct](https://github.com/surajm-333/Ace-The-FrontEnd/blob/main/CODE_OF_CONDUCT.md) of this project.

[2022-03-09 15:35] Girlwithasmile opened #167 "Add Netflix clone"
I am a contributer at gssoc and would like to add clone of netflix in your project. I hope you assign this to me as I hv good frontend skills. This is a photo of netflix clone I had made.
![Preview png](https://user-images.githubusercontent.com/98261167/157474949-3e30ac7d-d43c-40b4-959d-7f5bb5a6ed44.png)

[2022-03-09 15:37] Girlwithasmile opened #168 "Add Scientific Calculator"
I am a contributer at gssoc and would like to add a scientific calculator in your project.

[2022-03-09 15:39] Girlwithasmile opened #169 "Add Starbuck's clone"
I am a contributer at gssoc and would like to add a clone of everyone's favourite starbucks here. I hv previously made such clones and hv good frontend skills so I hope u assign this to me.
![previewstarbucks](https://user-images.githubusercontent.com/98261167/157475688-c0c92510-ae3e-4f3f-adaf-31a740c47005.png)

[2022-03-09 18:52] karishmashuklaa commented on #169
@Girlwithasmile which technologies are you planning to use?

[2022-03-09 18:53] karishmashuklaa commented on #158
@ishika1501 Go ahead 💯

[2022-03-10 03:51] Girlwithasmile commented on #169
html, css, javascript

[2022-03-10 05:20] Vartika511 commented on #156
https://drive.google.com/file/d/1hlRZOc-v7wNOq8F7xquXa6TFx-BOC1FS/view?usp=sharing
Please check it

[2022-03-10 05:35] ronitrangwani commented on #166
I want to work on this under GSSOC2022. Can you assign it to me.

[2022-03-10 14:34] surajm-333 commented on #146
Hi @Shivam-Katare you can contribute by creating new issues of other projects.

[2022-03-10 14:36] surajm-333 commented on #148
@Khushi-Mattu can you share a demo of this project as there are already few clock projects

[2022-03-10 14:40] surajm-333 commented on #150
Hi @moazbasheer. This project is a part of **GSSoC'22**. You do not need to submit a proposal to start contributing, you can contribute by creating new issues of other projects.

[2022-03-10 14:43] surajm-333 commented on #152
Go ahead @Sulagna-Dutta-Roy. Make sure to add a demo gif while creating a pull request!

[2022-03-10 14:44] surajm-333 commented on #154
Hi @kalashvasaniya can you provide a more detailed description this project and a reference to see its working.

[2022-03-10 14:48] surajm-333 commented on #163
@Shel-2607 you can start working on this issue. Make sure to add a demo gif in the project folder while making a pull request

[2022-03-10 14:53] surajm-333 commented on #166
Hi @ronitrangwani you can contribute by creating new issues of other projects.

[2022-03-10 14:54] surajm-333 commented on #167
@Girlwithasmile please mention the tech stack used

[2022-03-10 14:56] #10 closed

[2022-03-10 14:57] surajm-333 commented on #11
@akanksha0044 can you share a demo of this project?

[2022-03-10 14:58] #36 closed

[2022-03-10 15:03] gurjeetsinghvirdee opened #171 "Add 3D Layered Hover Effect"
### Description

Layered Hover Effect, In this project I use multiple images to make a layer with nth-child and a little bit of use of transform property so when you hover an image it will come up slowly layer by layer

## Screenshots
![Screenshot (721)](https://user-images.githubusercontent.com/73753957/157689814-1335241c-9a8c-4da8-8c05-fca688375369.png)

### Code of Conduct

- [X] I follow [Code

[2022-03-10 16:23] karishmashuklaa commented on #171
@gurjeetsinghvirdee Go ahead 💯

[2022-03-10 16:26] karishmashuklaa commented on #125
@kalashvasaniya what changes are you planning to make?

[2022-03-10 16:36] #61 closed

[2022-03-10 16:38] #132 closed

[2022-03-10 16:56] Girlwithasmile commented on #167
Techstack is html, css, javascript

[2022-03-10 16:59] Girlwithasmile commented on #168
tech stack : html, css, javascript

[2022-03-10 17:22] kalashvasaniya commented on #155
Like this:

![5eb02da948d92c795561ad87](https://user-images.githubusercontent.com/88212870/157719600-ce52bfcb-a3c4-4bbe-91ee-62ee7112f788.png)

[2022-03-10 17:25] kalashvasaniya commented on #154
Like this:

<img width="1437" alt="Screenshot 2022-03-10 at 10 54 08 PM" src="https://user-images.githubusercontent.com/88212870/157720124-43cd165e-4030-4262-a934-a393662d44e6.png">

[2022-03-10 18:33] #78 closed

[2022-03-10 20:20] Tiya0310 commented on #125
Hey, the readme can be made more interactive by adding a table
Project, its repo
or
adding some resources for beginners to understand them thoroughly and also individual project repo link in a sorted and neat way.

Can I contribute to this issue?

[2022-03-11 05:30] akanksha0044 commented on #11
**Project title**
Text Analyzer

**Project Description**
This website analyses the text and enables a user to convert the text written in the text section into:

upper case
lower case
copy the text etc.
very smoothly on a single click of a button.
Some other features of this website includes:

word count
character count
time required to read the word or sentence
preview of the written text
dark mo

[2022-03-11 06:24] #107 closed

[2022-03-11 06:54] akratikushwah opened #175 "CGPA Calculator"
### Description

CGPA Calculator which calculate the CGPA of 8 sems using js , HTML , css.

### Code of Conduct

- [X] I follow [Code of conduct](https://github.com/surajm-333/Ace-The-FrontEnd/blob/main/CODE_OF_CONDUCT.md) of this project.

[2022-03-11 06:54] akratikushwah commented on #175
/assign

[2022-03-11 06:55] akratikushwah commented on #175
/assign

[2022-03-11 06:56] akratikushwah commented on #175
@surajm-333 please assign this issue to me

[2022-03-11 08:18] sam301100 opened #177 "[New Issue]: Build a Portfolio Website"
### Description

I would like to contribute to this project by building a 'Responsive Portfolio Website' using HTML, CSS & JavaScript with smooth scrolling and parallax effects. I request you to assign me this task.

Thank you,
Samruddhi Somwanshi
GsSOC Contributor

### Code of Conduct

- [X] I follow [Code of conduct](https://github.com/surajm-333/Ace-The-FrontEnd/blob/main/CODE_OF_CONDUCT.md) of

[2022-03-11 10:00] Khushi-Mattu commented on #147
Thank you! I will complete it by tonight!

[2022-03-11 10:06] praveen-221 commented on #135
Can I share the hosted link of this project?

[2022-03-11 15:30] ishika1501 commented on #158
@karishmashuklaa  thankyou mam.

[2022-03-11 17:55] #70 closed

[2022-03-11 18:00] surajm-333 commented on #70
Hi @charusahare. This issue was already asked to be assigned. But fret not, you can contribute by adding other projects! You can contact me or the mentors on discord if you face any difficulty :)

[2022-03-11 19:41] karishmashuklaa commented on #177
@sam301100 go ahead 💯

[2022-03-11 19:42] karishmashuklaa commented on #175
@akratikushwah can you provide some more details regarding the project?
which technologies will be used?

[2022-03-11 19:43] #171 closed

[2022-03-12 03:25] Shel-2607 opened #180 "Speech Detection"
### Description

Hello , this is Shelja Sharma , GSSOC'2022 participant , I want to  make Speech Detection which converts our speech to text
Thank you for your time!! and looking forward to work on it.

 Tech Stack Used will be
HTML
CSS
JavaScript

### Code of Conduct

- [X] I follow [Code of conduct](https://github.com/surajm-333/Ace-The-FrontEnd/blob/main/CODE_OF_CONDUCT.md) of this project.

[2022-03-12 03:58] sam301100 commented on #177
Thank you!

[2022-03-12 04:53] Srushti-Naik commented on #175
@surajm-333 I'm GSSOC'22 participant please assign this issue to me. With CGPA this calculator will calculate SGPA .

[2022-03-12 07:17] aakankshabhende commented on #180
You can start working on it @Shel-2607

[2022-03-12 10:01] iamrahulmahato opened #183 "[New Issue]: Want to create a Breaking Bad quote Genrator"
### Description

It will work like an quote generator but rather than any random quote it will generate famous tv show breaking bad famous quotes

Example:
You need to stop focusing on the darkness behind you. The past is the past. Nothing can change what we’ve done.
WALTER WHITE

Features:
Breaking bad famous random quotes
enhance UI

working
When ever user Refresh webpage it will show him breaki

[2022-03-12 12:33] AmolShelke2 opened #187 "[New Issue]: Want to Add animated counter it can be used before a WebPage loads"
### Description

Hey, Project admin I'm a GSSOC participant and I want to add my animated preloader to the project list it can be used before a webPage load or before an app loads I hope that you will go through my issue and assign me to work on it.

### Code of Conduct

- [X] I follow [Code of conduct](https://github.com/surajm-333/Ace-The-FrontEnd/blob/main/CODE_OF_CONDUCT.md) of this project.

[2022-03-12 13:19] Saurabh-Suchak opened #188 "[New Issue]: Want to make a loader"
### Description

This would be a simple ripple loader in having multiple colors.

### Code of Conduct

- [X] I follow [Code of conduct](https://github.com/surajm-333/Ace-The-FrontEnd/blob/main/CODE_OF_CONDUCT.md) of this project.

[2022-03-12 13:20] Saurabh-Suchak commented on #188
I would like to work on it.

[2022-03-12 14:30] iamrahulmahato opened #190 "[New Issue]: Want to create a single page profile"
### Description

This will be a single page portfolio page

I am a GSSoC Contributor.Please assign me this issue

inspiration
https://cdn.dribbble.com/users/914722/screenshots/10075000/media/f800a9d7b8c52f118962b61c4ac2dbde.png?compress=1&resize=600x450
![Screenshot 2022-03-12 062947](https://user-images.githubusercontent.com/49890655/158022022-f346733f-b799-46c8-bab7-75982db721c9.jpg)

### Code o

[2022-03-12 16:14] Saurabh-Suchak opened #191 "[New Issue]: Want to add a pricing card"
### Description

The pricing card will have a attractive color gradient and also be responsive. I would like to be assigned to this issue.

### Code of Conduct

- [X] I follow [Code of conduct](https://github.com/surajm-333/Ace-The-FrontEnd/blob/main/CODE_OF_CONDUCT.md) of this project.

[2022-03-12 17:03] surajm-333 commented on #191
Hi @Saurabh-Suchak. Can you share a screenshot of its design?

[2022-03-12 17:03] surajm-333 commented on #188
Hi @Saurabh-Suchak. Can you share a screenshot of its design?

[2022-03-12 17:05] surajm-333 commented on #187
Hi @AmolShelke2. Can you share a demo for reference?

[2022-03-12 17:06] surajm-333 commented on #190
Hi @iamrahulmahato, you can start working on this issue!

[2022-03-12 17:08] surajm-333 commented on #183
Sounds interesting! You can start working on it.

[2022-03-12 19:07] aditi10701 commented on #188
I am interested in working with this issue.

[2022-03-12 19:32] Saurabh-Suchak commented on #191
![Screenshot_20220313_010104.jpg](https://user-images.githubusercontent.com/91744743/158032310-aa65e850-bd1b-4227-9250-005a16d99e85.jpg)

[2022-03-12 19:33] Saurabh-Suchak commented on #191
It will be having a hover effect and a good color combination.

[2022-03-12 19:42] Saurabh-Suchak commented on #188
Something like this.

https://user-images.githubusercontent.com/91744743/158032592-f2894218-3f14-4995-9853-038ea704fb58.mp4

[2022-03-12 19:44] Saurabh-Suchak commented on #188
hey Aditi, I will let you know if I need your help . But we can collaborate to make a bigger project than this.

[2022-03-13 07:01] AmolShelke2 commented on #187
https://user-images.githubusercontent.com/95171638/158048998-91fd70c5-0256-4f37-84c1-78186abce12d.mp4

[2022-03-13 10:43] dvlsatya commented on #151
please assign me this

[2022-03-13 11:01] priyanka2061 commented on #151
@ dvlsatya, I am working on.

[2022-03-13 11:27] aakankshabhende commented on #191
You can start working on it @Saurabh-Suchak

[2022-03-13 11:29] Saurabh-Suchak commented on #191
yeah, thanks!

[2022-03-13 16:00] #125 closed

[2022-03-14 04:28] #151 closed

[2022-03-14 09:48] rithik-sharma opened #198 "Add BMI Calculator"
### Description

Adding BMI Calculator...

### Code of Conduct

- [X] I follow [Code of conduct](https://github.com/surajm-333/Ace-The-FrontEnd/blob/main/CODE_OF_CONDUCT.md) of this project.

[2022-03-14 09:48] rithik-sharma commented on #198
/assign

[2022-03-14 09:58] rithik-sharma opened #199 "[New Issue]: Joke Teller"
### Description

Want to Add Joke Teller..

### Code of Conduct

- [X] I follow [Code of conduct](https://github.com/surajm-333/Ace-The-FrontEnd/blob/main/CODE_OF_CONDUCT.md) of this project.

[2022-03-14 11:16] raj075512 commented on #187
hey ,i'm also  a participants in GSSOC ,can i also contribute on this repo..

[2022-03-14 11:42] raj075512 commented on #148
hey @surajm-333, can i also work on this issue ?, because it is not assigned..

[2022-03-14 13:27] Abhishek786-Kolvekar opened #201 "Drawing App using HTML,CSS and JavaScript"
### Description

Hello.
I would love to contribute a Drawing App using HTML,CSS and JS.
I request you to assign this issue to me.
I assure I will complete the assigned task as soon as possible

### Code of Conduct

- [X] I follow [Code of conduct](https://github.com/surajm-333/Ace-The-FrontEnd/blob/main/CODE_OF_CONDUCT.md) of this project.

[2022-03-14 13:57] Devansh-365 opened #202 "Add Airbnb Clone: Gssoc Contributor"
### Description

I have created a frontend Airbnb Clone. Can I add that?
Tech Stack: Nextjs

Here is a link: https://airbnb-clone-rouge-psi.vercel.app/

### Code of Conduct

- [X] I follow [Code of conduct](https://github.com/surajm-333/Ace-The-FrontEnd/blob/main/CODE_OF_CONDUCT.md) of this project.

[2022-03-14 14:48] priyanka2061 opened #203 "www.coding guru.com"
### Description

I wanted to add one useful website here using HTML, CSS, javascript. It is related to guiding beginners to advance to do codding. as well users get all required resources through this website. I will add all resources here and provide links to youtube and other resources also level by level.

### Code of Conduct

- [X] I follow [Code of conduct](https://github.com/surajm-333/Ace-T

[2022-03-14 14:49] priyanka2061 commented on #203
please assign this to me

[2022-03-14 15:38] aakankshabhende commented on #201
You can start working on it @Abhishek786-Kolvekar

[2022-03-14 15:39] aakankshabhende commented on #202
You can start working on it :) @Devansh-365

[2022-03-14 15:41] aakankshabhende commented on #203
You can start working on it :) @priyanka2061

[2022-03-14 16:11] YalfamIamShaon opened #204 "Crypto currency price tracker"
### Description

Hey @surajm-333, I Want to add Crypto currency price tracker with Bar graphs. As a GSSOC contributor I want you to give me this opportunity.

### Code of Conduct

- [X] I follow [Code of conduct](https://github.com/surajm-333/Ace-The-FrontEnd/blob/main/CODE_OF_CONDUCT.md) of this project.

[2022-03-14 16:59] #158 closed

[2022-03-14 17:05] aakankshabhende commented on #204
You can start working on it :) @YalfamIamShaon

[2022-03-14 17:17] #180 closed

[2022-03-14 17:51] surajm-333 commented on #202
Hi @Devansh-365. Glad to have you as a contributor!

At present we are accepting projects made using HTML, CSS and Javascript only. As a result, I am closing this issue. But fret not, you can contribute to this repository by adding new projects. You can reach out to me and the mentors in the discord project channel in case you need any help :)

[2022-03-15 05:43] Mennapika opened #207 "[New Issue]: Daily Meal plan"
### Description

**A Daily Meal plan**
A project created by reactjs , fetching Api & css
**you are able to enter the calories you should eat in a day and it give 3 food  recipes  **
![eatsmart1](https://user-images.githubusercontent.com/38566183/158314122-994dfbf4-fa1f-4e4c-b83d-ecedaca357ab.PNG)
![eatsmart2](https://user-images.githubusercontent.com/38566183/158314162-268ab4bb-c89d-4a6a-b22a-24f0

[2022-03-15 07:08] karishmashuklaa commented on #207
@Mennapika go ahead 💯

[2022-03-15 07:59] amityadav200015 opened #208 "Vanillla Stopwatch"
### Description

Stopwatch using Vanilla stopwatch..

### Code of Conduct

- [X] I follow [Code of conduct](https://github.com/surajm-333/Ace-The-FrontEnd/blob/main/CODE_OF_CONDUCT.md) of this project.

[2022-03-15 08:00] amityadav200015 commented on #208
@surajm-333 please assign this issue to me.

[2022-03-15 08:00] amityadav200015 commented on #208
/assign

[2022-03-15 09:17] Shel-2607 opened #209 "Click and Drag"
Hello , this is Shelja Sharma , GSSOC'2022 participant , I want to add Click and Drag amazing CSS effects such that on clicking , the screen drags
Thank you for your time!! and looking forward to work on it.

[2022-03-15 10:39] #209 closed

[2022-03-15 10:56] Janvi-Thakkar opened #210 "[New Issue]: Random Emoji Generator"
### Description

Random Emoji generator is a fun app to generate emojis as a gift. Users will hover over the gift box and they will get a random emoji every time.

### Technology

ReactJs

![image](https://user-images.githubusercontent.com/55620053/158362199-e64a3aa6-2370-455a-8f06-35ade632dae6.png)

![image](https://user-images.githubusercontent.com/55620053/158362969-aec11edf-9601-46d6-87be-86f7

[2022-03-15 12:01] Devansh-365 commented on #202
Hi @surajm-333 Can you please send me the project discord server link :)

[2022-03-15 12:05] Devansh-365 opened #211 "Add Tic-tac-toe Game"
### Description

I have created a Tic-tac-toe Game. Can I add that?
Tech Stack: Html, CSS, Javascript

Here is a link: https://devansh-365.github.io/Tic--Tac--Toe-Game/

### Code of Conduct

- [X] I follow [Code of conduct](https://github.com/surajm-333/Ace-The-FrontEnd/blob/main/CODE_OF_CONDUCT.md) of this project.

[2022-03-15 18:19] #147 closed

[2022-03-16 09:42] Akriti-007 opened #214 "[New Issue]: To-do list"
### Description

Hello! I am GSSoC 2022 contributor. I want to create a basic to-do list.

### Code of Conduct

- [X] I follow [Code of conduct](https://github.com/surajm-333/Ace-The-FrontEnd/blob/main/CODE_OF_CONDUCT.md) of this project.

[2022-03-16 10:37] iamrahulmahato opened #215 "[New Issue]: Rating Bar"
### Description

It will be a cool single page rating bar

### Code of Conduct

- [X] I follow [Code of conduct](https://github.com/surajm-333/Ace-The-FrontEnd/blob/main/CODE_OF_CONDUCT.md) of this project.

[2022-03-16 10:37] iamrahulmahato commented on #215
As a participant of GSsOC '22, I would like to work on it.

[2022-03-16 15:23] Abhishek786-Kolvekar commented on #201
![Draw](https://user-images.githubusercontent.com/81409657/158625801-a07de82d-1dc0-4bf8-8f6c-c817b3ead0f2.jpg)

[2022-03-16 18:08] SomyaRanjanSahu opened #217 "[New Issue]: Quote Generator Page"
## Description

A neumorphic version of a random quote generator webpage.

## Tech Stack

- HTML
- CSS
- JavaScript

## Screenshot

<img src="https://i.postimg.cc/tCq1DbDj/Screenshot.png" />

### Code of Conduct

- [X] I follow [Code of conduct](https://github.com/surajm-333/Ace-The-FrontEnd/blob/main/CODE_OF_CONDUCT.md) of this project.

[2022-03-16 18:12] #217 closed

[2022-03-16 18:34] SomyaRanjanSahu opened #218 "[New Issue]: Random Quote Generator"
## Description

I would like to contribute a  basic neumorphic version of a random quote generator webpage.

## Tech Stack

- HTML
- CSS
- JavaScript

## Screenshot

<img src="https://i.postimg.cc/tCq1DbDj/Screenshot.png" />

### Code of Conduct

- [X] I follow [Code of conduct](https://github.com/surajm-333/Ace-The-FrontEnd/blob/main/CODE_OF_CONDUCT.md) of this project.

[2022-03-16 20:16] Harshitp7 commented on #218
I want this issue to be assigned. I am a GSSoC'22 contributor.

[2022-03-16 20:18] Harshitp7 commented on #218
I want this issue to be assigned. I am a GSSoC'22 contributor.

[2022-03-16 20:22] SomyaRanjanSahu commented on #218
@Harshitp7 Actually, I have already worked on this project and want this to be assigned to me. You may look for other projects or may create an issue of your own for a new project.

[2022-03-17 04:26] Mennapika opened #220 "[New Issue]: Animated Hot Chocolate cup"
### Description

### using pure CSS and HTML to draw an animated HOT chocolate cup

https://user-images.githubusercontent.com/38566183/158737014-37034f13-5bf4-4c05-a38b-2d14252219df.mp4

### Code of Conduct

- [X] I follow [Code of conduct](https://github.com/surajm-333/Ace-The-FrontEnd/blob/main/CODE_OF_CONDUCT.md) of this project.

[2022-03-17 09:21] aakankshabhende commented on #2
@Jatinkumar30 did you make a pull request for this project?

[2022-03-17 09:22] aakankshabhende commented on #6
Any updates? @devon221

[2022-03-17 09:22] #7 closed

[2022-03-17 09:24] aakankshabhende commented on #13
Any updates? @swethalana

[2022-03-17 09:25] #14 closed

[2022-03-17 09:25] aakankshabhende commented on #17
Any updates? @Kunal0220

[2022-03-17 09:26] aakankshabhende commented on #18
Any updates? @Bhawna147

[2022-03-17 09:26] aakankshabhende commented on #19
Any updates? @Bhawna147

[2022-03-17 09:27] aakankshabhende commented on #22
Any updates? @Jyo561

[2022-03-17 09:28] aakankshabhende commented on #24
Any updates? @AshutoshDash1999

[2022-03-17 09:28] #25 closed

[2022-03-17 09:29] aakankshabhende commented on #40
Any updates? @HIGH238

[2022-03-17 09:30] aakankshabhende commented on #44
Any updates? @Ankit62042

[2022-03-17 09:30] aakankshabhende commented on #46
Any updates? @Nanshi29

[2022-03-17 09:31] aakankshabhende commented on #58
Any updates? @DivyanshTungaria-01

[2022-03-17 09:33] Bhawna147 commented on #18
Yes will make a PR by tomorrow

[2022-03-17 09:33] Bhawna147 commented on #19
Yes it's half done

[2022-03-17 09:34] aakankshabhende commented on #90
Any updates? @vedsom

[2022-03-17 09:35] aakankshabhende commented on #95
Any updates? @ShivanshCharak

[2022-03-17 09:35] aakankshabhende commented on #100
Any updates? @yaman-694

[2022-03-17 09:36] aakankshabhende commented on #150
Any updates? @Atharv-110

[2022-03-17 09:46] ShivanshCharak commented on #95
@aakankshabhende yea almost complete

[2022-03-17 09:55] Kunal0220 commented on #17
Yeah ma'am I have made it , Just Working on the responsiveness, Will give the pages link by evening and make the PR by tomorrow. Thank you for your time and patience . 🙌🏻

[2022-03-17 09:56] DivyanshTungaria-01 commented on #58
Hey,
Yeah actually I got busy with my college stuff as they got offline. But
definitely I will complete this project and make a PR soon.

On Thu, Mar 17, 2022 at 3:01 PM Aakanksha Bhende ***@***.***>
wrote:

[2022-03-17 09:58] vedsom commented on #90
Yes mam, most of the work is done some parts are left due to my end sem exams currently it's pending.

[2022-03-17 09:59] HIGH238 commented on #40
Sorry for the inconvenience but i am sick right now and i am on bed rest for few months ... And i can't code for the time being.... U can assign this project to some one or close the issue.... Regards
Aakashdeep

[2022-03-17 09:59] Atharv-110 commented on #150
Yes @aakankshabhende, I will be raising my PR in just 2 days as my Mid semester exams were going onn.

[2022-03-17 10:05] aakankshabhende commented on #150
No issues @Atharv-110
Take your time :)

[2022-03-17 10:06] aakankshabhende commented on #40
Ohh no worries, hoping that you will get well soon :)

[2022-03-17 10:07] aakankshabhende commented on #90
No issues @vedsom
Take your time :)

[2022-03-17 10:07] aakankshabhende commented on #58
No issues @DivyanshTungaria-01
Take your time :)

[2022-03-17 10:08] aakankshabhende commented on #17
No issues @Kunal0220
Take your time :)

[2022-03-17 10:08] swethalana commented on #13
@aakankshabhende Yes,I have created a pull request #212 in the name TIC TAC TOE(ISSUE 13).Please check.

[2022-03-17 10:08] aakankshabhende commented on #95
No worries @ShivanshCharak
Take your time :)

[2022-03-17 10:20] nikitadhona commented on #76
Working on it.Will update by tomorrow!

[2022-03-17 10:38] vedsom commented on #90
Thanku mam

[2022-03-17 10:43] nikitadhona commented on #76
Please review it once! @aakankshabhende

[2022-03-17 13:44] Jyo561 commented on #22
Yeah i am working on it
Due the sudden announcement of college exams i have been a little diverted for the time being but i assure u thet i will complete it in time.

[2022-03-17 17:49] Ankit62042 commented on #44
I'm working on it..

[2022-03-17 17:50] Ankit62042 commented on #44
I'll send PR in 3 days

[2022-03-17 17:59] karishmashuklaa commented on #220
@Mennapika using pure what?

[2022-03-17 17:59] karishmashuklaa commented on #215
@iamrahulmahato please mention the technologies you'll be using

[2022-03-17 18:01] karishmashuklaa commented on #214
@Akriti-007 this project is already present in the repository. You can work on any other project

[2022-03-17 18:01] #214 closed

[2022-03-17 18:15] karishmashuklaa commented on #220
@Mennapika go ahead 💯

[2022-03-17 18:15] karishmashuklaa commented on #215
@iamrahulmahato go ahead :)

[2022-03-17 18:20] surajm-333 commented on #175
Hi @Srushti-Naik. This issue is already asked to work on by other contributor. You can add other projects to this repository :)

[2022-03-17 18:28] #137 closed

[2022-03-17 18:36] Janvi-Thakkar commented on #210
@karishmashuklaa Updated the issue description. Can you please assign this to me?

[2022-03-17 18:42] #166 closed

[2022-03-17 18:51] aditi10701 commented on #220
I am interested in working with this issue.

[2022-03-17 19:09] #83 closed

[2022-03-17 19:44] SomyaRanjanSahu commented on #218
@karishmashuklaa Please assign this issue to me under GSSoc'22.

[2022-03-17 20:19] iamrahulmahato commented on #190
@surajm-333 The PR is made #224  . Kindly review and merge it.
Thank You

[2022-03-17 20:44] iamrahulmahato opened #226 "pokemon match cards Game"
### Description

It will be a memory pokemon match card game with different pokemon hidden behind the card you have to memorize and have to find the right match

Stack:
Html
CSS
JavaScript

As a participant of GSsOC '22, I would like to work on it.

### Code of Conduct

- [X] I follow [Code of conduct](https://github.com/surajm-333/Ace-The-FrontEnd/blob/main/CODE_OF_CONDUCT.md) of this project.

[2022-03-18 07:20] dasgupta002 opened #227 "Add an Dashboard UI design for eCommerce app"
### Description

A simple administrator dashboard stuff with a graph, sidebar, navbar, some stats displayed and tabular demographics.
As for the stack I would love to use HTML and Tailwind CSS.

As a participant of GSSOC '22, I myself would like to work on this issue.
Hope to get assigned this one in a whirl!

### Code of Conduct

- [X] I follow [Code of conduct](https://github.com/surajm-333/Ace-

[2022-03-18 12:40] aakankshabhende commented on #227
You can start working on it @dasgupta002

[2022-03-18 15:09] Abhishek786-Kolvekar opened #228 "Word Counter using HTML ,CSS and JS"
### Description

Hello and Good Evening,
I would like to develop a word counter using HTML,CSS and JS.
Please assign me this issue.
Regards.

### Code of Conduct

- [X] I follow [Code of conduct](https://github.com/surajm-333/Ace-The-FrontEnd/blob/main/CODE_OF_CONDUCT.md) of this project.

[2022-03-18 16:00] Lalit3716 opened #229 "Add a Pokedex with advanced searching functionalities and much more!"
### Description

It's a cool pokedex app with react and redux. It offers searching and filtering functionalities as well as you can catch your favorite pokemons and them to your favorites.

## Demo/Screenshots:

### Combine powerful filters to search interesting results, e.g The heaviest pokemon in gen 4 is Giratina!
![Screenshot 2022-03-18 212305](https://user-images.githubusercontent.com/8427640

[2022-03-18 16:07] Lalit3716 opened #230 "Adding a complete password manager"
### Description

I want to add a password-manager app in which you can add accounts which will be stored in a local encrypted sql database. It will also have a built-in password-generator, password-strength-checker.

**Note:**
- I will use electron to make a desktop app with react frontend.
- I will use built in crypto(nodejs) library to encrypt all the emails and passwords before saving in databa

[2022-03-18 16:25] aakankshabhende commented on #230
You can start working on it @Lalit3716

[2022-03-18 17:12] Jatinkumar30 commented on #2
hey 👋, Thnx for checking in , I haven't made any PR yet due to some issues , but I'll soon.

[2022-03-18 17:38] AshutoshDash1999 commented on #24
Hey @aakankshabhende I'm really sorry for late update. But can you spare me two days more?

[2022-03-18 17:39] aakankshabhende commented on #24
Yes no issues
Take your time :)

On Fri, Mar 18, 2022, 11:08 PM Ashutosh Dash ***@***.***>
wrote:

[2022-03-19 05:22] #201 closed

[2022-03-19 05:54] Atif0604 opened #233 "Tic Tac Toe Game"
### Description

Its a js based tic tac toe in which player is able to play computer

### Code of Conduct

- [X] I follow [Code of conduct](https://github.com/surajm-333/Ace-The-FrontEnd/blob/main/CODE_OF_CONDUCT.md) of this project.

[2022-03-19 06:55] AshutoshDash1999 commented on #24
@aakankshabhende hey can you please check PR #234

[2022-03-19 08:53] Kunal0220 commented on #17
https://kunal0220.github.io/Kunal/
Hey @aakankshabhende  can you just go through it , then I'll make a PR with the a text.txt file on how to edit it and make it your own.

[2022-03-19 09:56] rittikadeb opened #235 "Hangman Game"
### Description

Hey @surajm-333, I am a GSSOC'22 contributor.
I would like to add an Hangman game in which we have to guess the word . I will be using HTML, CSS, Javascript for this project.
I would be glad if you would kindly assign me this issue.

### Code of Conduct

- [X] I follow [Code of conduct](https://github.com/surajm-333/Ace-The-FrontEnd/blob/main/CODE_OF_CONDUCT.md) of this project.

[2022-03-19 10:19] Shel-2607 opened #236 "Fun With Webcam"
Hello , this is Shelja Sharma ,a  GSSOC'2022 participant , I want to add  "Fun with Webcam". It will be real fun because its going to click amazing pictures adding colors/filters to your pic using your device webcam and going to save it in your device
Thank you for your time!! and looking forward to work on it.

[2022-03-19 13:22] #152 closed

[2022-03-19 14:12] #24 closed

[2022-03-19 16:18] Abhishek786-Kolvekar commented on #228
Can anyone assign this issue?

[2022-03-19 18:18] #135 closed

[2022-03-20 02:22] yaman-694 commented on #100
it is not fully completed can i add so other can contribute

[2022-03-20 12:41] Manik-Aggarwal commented on #233
I am a GSSOC 22 contributor, pls assign it to me

[2022-03-20 13:13] Atif0604 commented on #233
Hey @Manik-Aggarwal this issue is created by me and not by the mentors

[2022-03-20 22:19] XZANATOL opened #241 "Microsoft Teams: Teams page clone"
### Description

Build a clone of the microsoft teams -> teams page (the page where the groups are listed)

- The page should be responsive as in the desktop web app.
- Going to implement it in Light & Dark modes.
- Page will make use of HTML / CSS / Bootstrap5.

Issue made under GSSoC'22 contributions.

### Code of Conduct

- [X] I follow [Code of conduct](https://github.com/surajm-333/Ace-The-Fr

[2022-03-21 05:26] bajajharsha opened #242 "[New Issue]: Change the styling"
### Description

I want to change the styling of gradient animation login form.
- add hover effect
- position of login card etc.

![image](https://user-images.githubusercontent.com/85387921/159209298-5927e06e-b62a-4040-89be-4d6757104a0e.png)

### Code of Conduct

- [X] I follow [Code of conduct](https://github.com/surajm-333/Ace-The-FrontEnd/blob/main/CODE_OF_CONDUCT.md) of this project.

[2022-03-21 06:11] anshumanlite opened #243 "Path finding Visualizer"
### Description

It is a pathfinding visualizer project which visualizes Dijkastra's Algorithm. I want to add this project because I was fascinated by pathfinding algorithms, and I wanted to visualize them in action. I will be using HTML, CSS and Javascript.

#### This project has the following algorithms:
#### Dijkstra's Algorithm
#### Greedy Best-first Search
#### Swarm Algorithm
#### Convergent

[2022-03-21 11:14] #154 closed

[2022-03-21 15:29] Jassi10000 commented on #241
Assign me this , would like to work on as GSSOC'22 contributor

[2022-03-21 16:35] RavishaNewase opened #244 "Grocery-Bud Application"
### Description

I'm GSSoC'22 Contributor:
I will be creating an application in which you can create a list of grocery items.
Also can delete and edit the items.
I will also add the functionality to show success and alert messages.

### Code of Conduct

- [X] I follow [Code of conduct](https://github.com/surajm-333/Ace-The-FrontEnd/blob/main/CODE_OF_CONDUCT.md) of this project.

[2022-03-21 17:13] Piyush-Aman opened #245 "Creative Agency Website Template"
### Description

Sir @surajm-333 I would like to add Website Template to your website. Please assign me this under GSSoC22.

### Code of Conduct

- [X] I follow [Code of conduct](https://github.com/surajm-333/Ace-The-FrontEnd/blob/main/CODE_OF_CONDUCT.md) of this project.

[2022-03-21 19:45] karishmashuklaa commented on #236
@Shel-2607 please mention the technologies used

[2022-03-21 19:45] karishmashuklaa commented on #244
@RavishaNewase  please mention the technologies used

[2022-03-21 19:45] karishmashuklaa commented on #243
@anshumanlite Go ahead 💯

[2022-03-22 03:00] Shel-2607 commented on #236
html, css, js

[2022-03-22 03:45] RavishaNewase commented on #244
Technologies will be HTML, CSS/BOOTSTRAP, REACTJS

[2022-03-22 12:10] abhilipsasahoo03 opened #246 "Instagram Login Page Clone"
### Description

# Description

I'd like to add an Instagram Login Page clone made using HTML and CSS.
Please assign me this issue under GSSOC'22.

# Demo

https://user-images.githubusercontent.com/80174214/159478804-01f2e29e-f882-44f6-b97e-4a332ba87a0c.mp4

### Code of Conduct

- [X] I follow [Code of conduct](https://github.com/surajm-333/Ace-The-FrontEnd/blob/main/CODE_OF_CONDUCT.md) of this pr

[2022-03-22 18:32] karishmashuklaa commented on #236
@Shel-2607 go ahead 👍

[2022-03-22 18:32] karishmashuklaa commented on #244
@RavishaNewase go ahead 💯

[2022-03-22 18:41] SomyaRanjanSahu commented on #218
@karishmashuklaa Thanks 😇

[2022-03-23 15:32] #149 closed

[2022-03-23 18:57] #191 closed

[2022-03-23 18:57] Saurabh-Suchak commented on #191
Merged the pr

[2022-03-23 19:39] dewanshiPaul opened #248 "Instagram web home page clone using React"
### Description

Project for instagram web home page clone using React with dummy data.
![Screenshot (27)](https://user-images.githubusercontent.com/92020810/159782035-03561773-88f0-41c6-bf66-1596b06287ce.png)

### Code of Conduct

- [X] I follow [Code of conduct](https://github.com/surajm-333/Ace-The-FrontEnd/blob/main/CODE_OF_CONDUCT.md) of this project.

[2022-03-23 20:21] iamrahulmahato commented on #215
The PR is made #249  . Kindly review and merge it.
Thank You

[2022-03-23 20:24] iamrahulmahato commented on #226
@surajm-333 please assign me this issue!!!

[2022-03-23 20:25] iamrahulmahato opened #250 "Love Calculator"
### Description

Project title
Love Calculator

Project Description
It will be a love calculator which will calculate how much your crush likes you

Stack:

[] Html
[] CSS
[] JavaScript

### Code of Conduct

- [X] I follow [Code of conduct](https://github.com/surajm-333/Ace-The-FrontEnd/blob/main/CODE_OF_CONDUCT.md) of this project.

[2022-03-23 20:26] iamrahulmahato opened #251 "Memory Card Game"
### Description

Project title
Memory Card Game

Project Description
It will be a memory card game with different gems hidden in the different boxes you have to memories the gems and if you able to match the gems with box you will win the game

Stack:
And in order to tick the check box just but x inside them for example - [x] like this. Please delete options that are not relevant.

[] Html
[] CSS

[2022-03-24 13:25] abhilipsasahoo03 commented on #246
Hi @surajm-333 kindly assign me this issue so that I can start working on it.

[2022-03-24 16:26] #17 closed

[2022-03-24 18:27] #227 closed

[2022-03-25 06:11] #30 closed

[2022-03-25 06:13] #54 closed

[2022-03-25 11:29] Saurabh-Suchak opened #254 "Make Pig game"
### Description

this would be a simple 2 dice game wherein the players will have roll dice and the number gets added to their score.But if the dice number is 1, their score is lost and hence need to update score before the number one appears.
The player to reach the score of 100 first wins.

### Code of Conduct

- [X] I follow [Code of conduct](https://github.com/surajm-333/Ace-The-FrontEnd/blob/

[2022-03-25 11:30] Saurabh-Suchak commented on #254
I would like to work on this issue.

[2022-03-25 12:46] dasgupta002 opened #255 "Add an landing page UI design for eCommerce website"
### Description

A simple landing page for eCommerce, with sidebar, varied categorial search filters and a modular grid layout.
As for the stack I would love to use HTML and Tailwind CSS.

![image](https://user-images.githubusercontent.com/62376775/162247880-f84ca433-28a2-42f0-8efe-9a5929336381.png)

As a participant of GSSOC '22, I myself would like to work on this issue.
Hope to get assigned thi

[2022-03-25 18:43] #248 closed

[2022-03-25 18:53] dewanshiPaul opened #256 "neon gradient glassmorphic card"
### Description

Glassmorphic ui card with neon gradient and hovering effects.
Screenshot:-
![Screenshot (28)](https://user-images.githubusercontent.com/92020810/160183655-20020abd-a28d-4bf1-a37e-7422761d5629.png)
![Screenshot (29)](https://user-images.githubusercontent.com/92020810/160183824-3967c8fe-b6aa-4c55-a07f-edf4c41b88e3.png)

### Code of Conduct

- [X] I follow [Code of conduct](https://g

[2022-03-26 06:28] Shatakshi-Choudhary commented on #233
Hey there, can you please assign this issue to me. I am a GSSoC'22 contributer.

[2022-03-26 13:45] #251 closed

[2022-03-26 13:45] #250 closed

[2022-03-26 17:10] #228 closed

[2022-03-27 10:56] #218 closed

[2022-03-27 14:02] dewanshiPaul commented on #256
/assign

[2022-03-28 07:30] SomyaRanjanSahu opened #261 "Neumorphic Tetris Game"
### Description

I would like to contribute neumorphic version of the most famous 'Tetris Game'.

## Tech Stack

- HTML
- CSS
- JavaScript

## Screenshot

<img src="https://i.postimg.cc/nVkcLs0W/ss1.png" />

### Code of Conduct

- [X] I follow [Code of conduct](https://github.com/surajm-333/Ace-The-FrontEnd/blob/main/CODE_OF_CONDUCT.md) of this project.

[2022-03-28 18:20] Saurabh-Suchak opened #262 "Infinite pic scroller"
### Description

making of an infinite pic scroller using api

### Code of Conduct

- [X] I follow [Code of conduct](https://github.com/surajm-333/Ace-The-FrontEnd/blob/main/CODE_OF_CONDUCT.md) of this project.

[2022-03-29 06:19] Shatakshi-Choudhary commented on #242
Hey @surajm-333 , I would like to work on this issue. I will be changing the font style & add the hover effect too. I am a GSSoC'22 contributor. Please assign this issue to me.

[2022-03-29 13:34] nithu2109 opened #263 "Random User"
### Description

 Generate Random User after successful refresh of Website

### Code of Conduct

- [X] I follow [Code of conduct](https://github.com/surajm-333/Ace-The-FrontEnd/blob/main/CODE_OF_CONDUCT.md) of this project.

[2022-03-29 13:48] Saurabh-Suchak opened #264 "Grouping the files"
Group the assets or the images of the project Pig Game in a folder to make it more organised.

[2022-03-29 15:21] #256 closed

[2022-03-29 15:23] dewanshiPaul opened #265 "Radial navigation bar"
### Description

A navigation bar in radial or circular form.
![image](https://user-images.githubusercontent.com/92020810/160647030-6463598d-b2cc-44b1-ada3-328e5a1af187.png)

### Code of Conduct

- [X] I follow [Code of conduct](https://github.com/surajm-333/Ace-The-FrontEnd/blob/main/CODE_OF_CONDUCT.md) of this project.

[2022-03-30 08:13] SomyaRanjanSahu commented on #261
@aakankshabhende Please have a look and assign this issue to me.

[2022-03-30 11:06] deekshi1023 opened #268 "Menu Filter"
### Description

Restaruant Menu Filter

### Code of Conduct

- [X] I follow [Code of conduct](https://github.com/surajm-333/Ace-The-FrontEnd/blob/main/CODE_OF_CONDUCT.md) of this project.

[2022-04-01 05:51] Rakesh9100 opened #271 "Add a Typing Game"
### Description

I have created a well-designed Typing Game which is very interesting, which can help to increase the typing speed as well as take some break. I want to add that. Can I ?

Project Description

* Characters can be case sensitive or insensitive.
* Wrong characters will decrease your score.
* Click on the button to change case sensitivity.
* Pause by pressing ESC.

Screenshot :--
![Ty

[2022-04-01 06:55] Kumar-laxmi opened #272 "Wikipedia Clone"
### Description

I will create a wikipedia clone.

### Code of Conduct

- [X] I follow [Code of conduct](https://github.com/surajm-333/Ace-The-FrontEnd/blob/main/CODE_OF_CONDUCT.md) of this project.

[2022-04-01 07:56] gurjeetsinghvirdee opened #273 "Add 2048 game"
### Description

2048 game in React Js

### Code of Conduct

- [X] I follow [Code of conduct](https://github.com/surajm-333/Ace-The-FrontEnd/blob/main/CODE_OF_CONDUCT.md) of this project.

[2022-04-01 12:31] iamrahulmahato opened #274 "Ping Pong Game"
### Description

The main points for the game are -
1. There will be 2 rods at the top and bottom of the screen.
2. Both rods will be controlled with the same keys. In other words, they will move together.
3. When the game starts, an alert should be shown about the highest score and the player who scored it. If there is no such record, say 'this is your first time'.
4. If the score becomes highest

[2022-04-01 13:31] itsmohitnamdeo opened #275 "Drink Water"
### Description

I am GSSOC'22 contributor
I want to add drinking water project
Please assign me this task
![161204653-52cca343-9958-4f3b-90b4-6acee75edfbb](https://user-images.githubusercontent.com/85800451/161273423-36befc47-3e36-49c7-a23b-a629562a1c39.png)

### Code of Conduct

- [X] I follow [Code of conduct](https://github.com/surajm-333/Ace-The-FrontEnd/blob/main/CODE_OF_CONDUCT.md) of this

[2022-04-01 13:51] i-am-aisha opened #276 "Food Ordering website"
### Description

Description of the project here
I am GSSOC'22 contributor and I want to add an  online food ordering  website  from where you can order your meal anytime after placing an order and filling your details also you can know about the services they provide and can also know about their clients.
so please assign this issue to me so that I can work in it and can contribute in your projec

[2022-04-01 13:57] i-am-aisha commented on #276
/assign

[2022-04-01 19:19] Kumar-Ankit56 opened #277 "Hii I'm a GSSoc22 contributor and I'm looking to make a pr request in this repo regarding my project which is a custom emoji slider. ### The idea behind this project This is just like calculating which is performing calculation behind the scene. ### How does it work Here is three input field upper one is the base value and below two input box with px and em level, this is the CSS unit. when we will put some value in px it will evaluate em value accordingly behind the scene and will preview in em field. Similarly we have vice verse function as well Em to Pixel for more details please refer to this attached images. ![Screenshot (98)](https://user-images.githubusercontent.com/73521123/161326669-646c6d91-90bd-415f-b514-a01d7f66be00.png) ![Screenshot (99)](https://user-images.githubusercontent.com/73521123/161326681-a319e878-665a-4032-893b-c3f2cdf0e13b.png)"
### Description

Hii I'm a GSSoc22 contributor and I'm looking to make a pr request in this repo regarding my project which is a custom emoji slider.

### The idea behind this project
This is just like calculating which is performing calculation behind the scene.

### How does it work
Here is three input field upper one is the base value and below two input box with px and em level, this is the CS

[2022-04-01 19:19] #277 closed

[2022-04-01 19:20] Kumar-Ankit56 opened #278 "Pixel to Em and Em to pixel converter."
Hii I'm a GSSoc22 contributor and I'm looking to make a pr request in this repo regarding my project which is a custom emoji slider.

### The idea behind this project
This is just like calculating which is performing calculation behind the scene.

### How does it work
Here is three input field upper one is the base value and below two input box with px and em level, this is the CSS unit. when we w

[2022-04-01 21:46] gurjeetsinghvirdee opened #279 "Add Amazon Clone"
### Description

Amazon Clone using React Js with proper functionality & used the stripe to make demo payments and in the end, you will get to see your orders history on the Order Page

### Code of Conduct

- [X] I follow [Code of conduct](https://github.com/surajm-333/Ace-The-FrontEnd/blob/main/CODE_OF_CONDUCT.md) of this project.

[2022-04-02 02:07] Abh1shekSingh opened #280 "Add secret Website to Share Secret"
### Description

This website will Enable user to share their secret anonymously. I have made it using Nodejs and Bycrypt Password Encryption with PassportJS

### Code of Conduct

- [X] I follow [Code of conduct](https://github.com/surajm-333/Ace-The-FrontEnd/blob/main/CODE_OF_CONDUCT.md) of this project.

[2022-04-02 04:20] itsmohitnamdeo opened #281 "Covid Template"
### Description

I am a GSSOC'22 contributor
I want to add Covid Project
It is a Covid based template to get information about covid cases , information , news etc...
Kindly assign me this..
![covid](https://user-images.githubusercontent.com/85800451/161365991-830512c4-288f-4b22-9db1-98939e470a13.png)
![covid2](https://user-images.githubusercontent.com/85800451/161366022-fab9106e-1dd0-4c8e-b3c6-e9

[2022-04-02 05:13] Abh1shekSingh opened #282 "Want to add CodeKaro Website"
### Description

A Website where you can see future coding contest helding at your favourite site,

### Code of Conduct

- [X] I follow [Code of conduct](https://github.com/surajm-333/Ace-The-FrontEnd/blob/main/CODE_OF_CONDUCT.md) of this project.

[2022-04-02 05:13] Abh1shekSingh commented on #282
Please assign this  issue to me @surajm-333

[2022-04-02 05:38] #265 closed

[2022-04-02 11:01] Khushi-Mattu opened #284 "want to add a double click feature."
### Description

There will be a picture and as soon as someone double clicks it the like counter will increase. Basically it will be like a counter application.

### Code of Conduct

- [X] I follow [Code of conduct](https://github.com/surajm-333/Ace-The-FrontEnd/blob/main/CODE_OF_CONDUCT.md) of this project.

[2022-04-02 11:39] #282 closed

[2022-04-02 11:40] #35 closed

[2022-04-02 11:40] #280 closed

[2022-04-02 12:33] #246 closed

[2022-04-02 13:39] #188 closed

[2022-04-02 13:40] Saurabh-Suchak commented on #188
merged in the repository

[2022-04-02 13:53] #278 closed

[2022-04-02 13:55] Kumar-Ankit56 opened #285 "[Css unit converter using Pixel to Em and Em to pixel]:"
### Description

Hii I'm a GSSoc22 contributor and I'm looking to make a pr request in this repo regarding my project which is a custom emoji slider.

The idea behind this project
This is just like calculating which is performing calculation behind the scene.

How does it work
Here is three input field upper one is the base value and below two input box with px and em level, this is the CSS unit.

[2022-04-02 15:44] anaya729 commented on #233
I would like to contribute kindly assign this issue to me. I am a GSSoC'22 contributer.

[2022-04-02 15:45] anaya729 commented on #272
kindly assign it to me

[2022-04-02 17:33] #271 closed

[2022-04-02 17:34] dvlsatya opened #286 "[New Issue]: I am a GSSOC'22 contributor"
### Description

Description of the project here

### Code of Conduct

- [X] I follow [Code of conduct](https://github.com/surajm-333/Ace-The-FrontEnd/blob/main/CODE_OF_CONDUCT.md) of this project.

[2022-04-02 17:40] dvlsatya opened #287 "[New Issue]: latest technologies template"
### Description

I am a GSSOC'22 contributor
I want to add about the latest technologies
It is about the [latest]) technologies template to get information about various technologies in computer science.
Kindly assign me this.

![Screenshot_26](https://user-images.githubusercontent.com/91010098/161394779-840ee582-18fa-4b2e-9dc1-805b760138cd.png)

### Code of Conduct

- [X] I follow [Code of conduc

[2022-04-02 17:41] #286 closed

[2022-04-02 18:32] Shreyaar12 opened #289 "[New Issue]: Meme Generator"
### Description

Description of the project
I am GsSOC'22 contributor and I want to add a Meme generator website. The end user can personalize the memes and download them as well.  I would like to contribute to your project so please assign this issue to me.

### Code of Conduct

- [X] I follow [Code of conduct](https://github.com/surajm-333/Ace-The-FrontEnd/blob/main/CODE_OF_CONDUCT.md) of this p

[2022-04-02 19:58] mohammadshaad opened #290 "Want to improve the UI of the Password-Generator"
### Description

I am a GSSoC'22 Contributor and I want to want to improve the UI of Password-Generator.
Kindly assign me this issue.

![image](https://user-images.githubusercontent.com/89409389/161399179-0511fc75-34d9-4f76-907c-18fef049b15f.png)

### Code of Conduct

- [X] I follow [Code of conduct](https://github.com/surajm-333/Ace-The-FrontEnd/blob/main/CODE_OF_CONDUCT.md) of this project.

[2022-04-02 20:48] SomyaRanjanSahu opened #291 "Add Burger Eye"
## Description :

Eyes, made with HTML, CSS, and JavaScript, follow the cursor (burger here).

## Tech Stack :

- HTML
- CSS
- JavaScript

## Preview :

<img src="https://i.postimg.cc/kXHdQQ3m/video.gif" />

### Code of Conduct

- [X] I follow [Code of conduct](https://github.com/surajm-333/Ace-The-FrontEnd/blob/main/CODE_OF_CONDUCT.md) of this project.

[2022-04-02 20:50] SomyaRanjanSahu commented on #291
@aakankshabhende Please have a look and assign this issue to me.

[2022-04-03 02:09] #272 closed

[2022-04-03 05:08] srinjoy-26 opened #292 "Add an Amazing website UI , with particles js animation"
### Description

A frontent project , with amazing UI made using HTML canvas , CSS , and particle js animations.

### Code of Conduct

- [X] I follow [Code of conduct](https://github.com/surajm-333/Ace-The-FrontEnd/blob/main/CODE_OF_CONDUCT.md) of this project.

[2022-04-03 07:54] komalswami opened #293 "Hope -A mental health awareness website using react js"
### Description

Hope is a mental health awareness website that has different articles and programs listed related to the same over it.
![Screenshot from 2022-04-03 13-16-57 (1)](https://user-images.githubusercontent.com/46648301/161417353-c7faf3fe-fed1-4193-89c8-3b946b54e667.png)
![Screenshot from 2022-04-03 13-17-15](https://user-images.githubusercontent.com/46648301/161417363-b731b705-527f-429b

[2022-04-03 09:50] iamrahulmahato commented on #190
@surajm-333 @karishmashuklaa haven't assign the GSSoC22 and level labels in pr #224

[2022-04-03 09:51] iamrahulmahato commented on #215
@surajm-333 @karishmashuklaa haven't assign the GSSoC22 and level labels in pr #224

[2022-04-03 12:50] maneesha-28 opened #295 "[New Issue]: New Project : Calculator UI"
### Description

# Calculator UI
Calculator UI using CSS 3 and Vanilla JavaScript
------------------
![JavaScript-Calculator-Trim](https://user-images.githubusercontent.com/75939565/161428837-d8379462-4798-4209-8b0f-b73e5ca4b743.gif)

### Code of Conduct

- [X] I follow [Code of conduct](https://github.com/surajm-333/Ace-The-FrontEnd/blob/main/CODE_OF_CONDUCT.md) of this project.

[2022-04-03 17:28] #241 closed

[2022-04-03 19:46] AsmaIbrahimButt opened #296 "Add BMR calculator using reactjs"
### Description

The Basal Metabolic Rate (BMR) Calculator estimates your basal metabolic rate.That helps people to calculate their bmr.

### Code of Conduct

- [X] I follow [Code of conduct](https://github.com/surajm-333/Ace-The-FrontEnd/blob/main/CODE_OF_CONDUCT.md) of this project.

[2022-04-04 07:15] #292 closed

[2022-04-04 08:03] anshumanlite commented on #243
I am extremely sorry I could not complete this project on time. I was having my college exams that is why I was unable to work on this but surely I will complete this project in a couple of days.

[2022-04-04 11:20] TG922 opened #297 "[New Issue]: Adding a Travel website"
### Description

I would like to build a travel website

## Tech Stack

- [x] HTML
- [x] CSS
- [x] JS

I'm a GSSOC participant please assign it to me

### Code of Conduct

- [X] I follow [Code of conduct](https://github.com/surajm-333/Ace-The-FrontEnd/blob/main/CODE_OF_CONDUCT.md) of this project.

[2022-04-05 02:28] praveen-221 commented on #135
Hi, Could you please assign level to this issue so that my PR will be counted.
Thank you.

[2022-04-05 04:04] san-droid371 commented on #276
I want to add few changes in your project i like your idea. So, please assign this issue to me.

[2022-04-05 07:12] Shreyaar12 commented on #289
Please assign this issue to me

[2022-04-05 09:47] i-am-aisha commented on #276
@san-droid371 this issue is created by me  so you can't work on it you have to create your own issue different from it

[2022-04-05 12:01] SamarthKadam opened #298 "Adding an animated Portfolio"
I have developed an Animated portfolio using Javascript and frontend technologies. You can have a look at it on https://samarthkadam.github.io/Animations/ .
Can I add this?

[2022-04-05 15:01] ranimanya opened #300 "[New Issue]: Pinterest extension for Chrome browser"
### Description

Here I intend to create a Pinterest extension in Chrome browser using html, css and javascript.
It helps us collect, organize, save and revisit our inspiring ideas whenever we wish to.

Please assign me this issue, I'm a GSSoc22 participant.

### Code of Conduct

- [X] I follow [Code of conduct](https://github.com/surajm-333/Ace-The-FrontEnd/blob/main/CODE_OF_CONDUCT.md) of this p

[2022-04-05 22:13] #279 closed

[2022-04-06 17:24] #168 closed

[2022-04-06 17:25] surajm-333 commented on #11
Hi @akanksha0044. Can you improve the UI than what is present in the demo?

[2022-04-06 17:25] #51 closed

[2022-04-06 17:28] surajm-333 commented on #148
Hi @Khushi-Mattu. Please share the working demo of this project.

[2022-04-06 17:29] surajm-333 commented on #167
@Girlwithasmile is it responsive?

[2022-04-06 17:31] surajm-333 commented on #187
Hi @AmolShelke2  you can start working on this issue.

Meanwhile, @raj075512 you can work by adding new projects to this repository!

[2022-04-06 18:03] surajm-333 commented on #210
Hi @Janvi-Thakkar. Glad to have you as a contributor! You can start working on this issue.

[2022-04-06 18:19] iamrahulmahato commented on #215
@surajm-333 The PR is made #302 . Kindly review and merge it.
Thank You

[2022-04-06 18:54] surajm-333 commented on #199
Hi @rithik-sharma. Provide a working demo of this project

[2022-04-06 18:56] surajm-333 commented on #211
Hi @Devansh-365. There is a tic-tac-toe game already added to this repository. I would recommend you to add new projects!

[2022-04-06 18:56] #211 closed

[2022-04-06 18:57] surajm-333 commented on #208
Hi @amityadav200015. Can you provide a demo of this project for reference?

[2022-04-06 18:58] surajm-333 commented on #245
@Piyush-Aman please provide proper description and demo of the project in issue description.

[2022-04-06 19:00] surajm-333 commented on #255
Hi @dasgupta002. Please provide a demo for reference.

[2022-04-06 19:01] surajm-333 commented on #261
Hi @SomyaRanjanSahu. You can start working on this issue!

[2022-04-06 19:03] Saurabh-Suchak commented on #262
I have provided a working demo in the pr made

[2022-04-06 20:29] #146 closed

[2022-04-06 20:29] #139 closed

[2022-04-07 01:46] Girlwithasmile commented on #167
I shall make it responsive till tomorrow and share a video.

[2022-04-07 02:06] #215 closed

[2022-04-07 02:56] #254 closed

[2022-04-07 03:00] #273 closed

[2022-04-07 03:03] surajm-333 commented on #274
@iamrahulmahato you can start working on this issue. I would suggest you to make the page more attractive.

[2022-04-07 03:08] surajm-333 commented on #281
@itsmohitnamdeo Is the data about number of cases and other Covid related information visible?

[2022-04-07 03:09] surajm-333 commented on #284
@Khushi-Mattu can you provide a demo of this project?

[2022-04-07 03:16] surajm-333 commented on #287
@dvlsatya this is a very basic html page. I would suggest you to add some unique and attractive projects to this repository. You can refer to other contributor's work for reference.

[2022-04-07 03:16] #287 closed

[2022-04-07 08:01] itsmohitnamdeo commented on #281
yes
![c1](https://user-images.githubusercontent.com/85800451/162150238-550fb750-f52f-4ca4-a0df-750b4dd176ee.png)
![c2](https://user-images.githubusercontent.com/85800451/162150263-e2d4477e-e752-49c3-8494-deb6a411d698.png)
![c3](https://user-images.githubusercontent.com/85800451/162150269-ea957d36-da9a-4a6b-a7af-f27a44c6a4b5.png)

[2022-04-07 08:01] itsmohitnamdeo commented on #281
@surajm-333

[2022-04-07 09:03] AsmaIbrahimButt commented on #296
@surajm-333  kindly assign me this issue.

[2022-04-07 11:34] AnIkeT126 opened #303 "YouTube to mp4 converter"
### Description

Some youtube videos are just too good to not be downloaded on our local machine and I intend to create a downloader for the same.
I suggest a web-based app using ReactJs for the same.

### Code of Conduct

- [X] I follow [Code of conduct](https://github.com/surajm-333/Ace-The-FrontEnd/blob/main/CODE_OF_CONDUCT.md) of this project.

[2022-04-07 12:12] AnIkeT126 opened #304 "Memory Card Game"
### Description

This is a vue.js based memory based game derived from the concept of ANKI CARDS.

### Code of Conduct

- [X] I follow [Code of conduct](https://github.com/surajm-333/Ace-The-FrontEnd/blob/main/CODE_OF_CONDUCT.md) of this project.

[2022-04-07 12:12] AnIkeT126 commented on #304
@surajm-333 please add the level label to this PR, for evaluation.

[2022-04-07 16:00] #276 closed

[2022-04-07 16:25] Ajoe12 opened #305 "[New Issue]: Google keep Clone"
### Description

Project is made with Reactjs, Html, Css, Javascript. A website where you can add delete update your notes
![Screenshot (212)](https://user-images.githubusercontent.com/54743791/162251419-f1d5ae3b-10cf-4e26-a316-24afc01a3bfc.png)

### Code of Conduct

- [X] I follow [Code of conduct](https://github.com/surajm-333/Ace-The-FrontEnd/blob/main/CODE_OF_CONDUCT.md) of this project.

[2022-04-07 16:25] nithu2109 commented on #263
shows new user in this format after refreshing!
<img width="566" alt="image" src="https://user-images.githubusercontent.com/67360225/162251506-4b3a3e6c-7158-4c0a-ab83-e94f01a260fe.png">

[2022-04-07 16:56] Girlwithasmile commented on #167
![responsive netflix](https://user-images.githubusercontent.com/98261167/162256790-4261ff43-cc48-4788-a7b4-b20bd1677717.gif)

[2022-04-07 20:31] #236 closed

[2022-04-08 14:37] Khushi-Mattu commented on #148
I have already completed it and added it there.

[2022-04-09 06:16] SamarthKadam opened #307 "Adding an Amazing Portfolio"
Can  I Add an amazing animated portfolio built using Javascript and Frontend Technologies? Here is the link for the trial https://samarthkadam.github.io/Animations/? Can You assign it to me

[2022-04-09 11:58] ishika1501 opened #308 "A Rotating cube"
### Description

i would like to create a glowing cube which rotate 360 deg , with HTML , Css , Js
![WhatsApp Image 2022-04-09 at 5 24 48 PM](https://user-images.githubusercontent.com/86921052/162573191-d52783e3-a27f-4abd-911e-2567186a10d9.jpeg)
.

### Code of Conduct

- [X] I follow [Code of conduct](https://github.com/surajm-333/Ace-The-FrontEnd/blob/main/CODE_OF_CONDUCT.md) of this project.

[2022-04-09 12:11] ishika1501 opened #310 "Glowing Effect on hovering"
### Description

It would be a simple project which will contain some text and it would glow when it will be hovered .
Tech stack : Css , HTML, Js.
![CSS-Neon-Text-Effect](https://user-images.githubusercontent.com/86921052/162573624-dedee227-431f-4dd3-94d9-472383cd89ad.png)

### Code of Conduct

- [X] I follow [Code of conduct](https://github.com/surajm-333/Ace-The-FrontEnd/blob/main/CODE_OF_CONDU

[2022-04-09 12:45] iamrahulmahato commented on #274
@surajm-333 The PR is made #311  . Kindly review and merge it.
Thank You

[2022-04-10 06:25] SamarthKadam commented on #307
@surajm-333  Please reply Can I add this?

[2022-04-10 08:13] surajm-333 commented on #307
@SamarthKadam this is a single webpage with animated background. Many such projects are already added to the repository. Can you prepare a full portfolio website template?

[2022-04-10 08:19] SamarthKadam commented on #307
Like what should be the contents inside ?
Can I put my all projects there?

[2022-04-10 08:25] surajm-333 commented on #167
@Girlwithasmile the demo is not sufficient and the UI is also not clean.

[2022-04-10 08:26] surajm-333 commented on #198
@rithik-sharma what is the update? Do you want to work on this issue?

[2022-04-10 08:26] surajm-333 commented on #199
@rithik-sharma what is the update?

[2022-04-10 08:27] surajm-333 commented on #208
@amityadav200015 what is the update?

[2022-04-10 08:28] surajm-333 commented on #226
@iamrahulmahato provide a demo of this project.

[2022-04-10 08:36] surajm-333 commented on #229
@Lalit3716 the app looks good. However there are some improvements that you need to take care of. For eg :-
Fix this alignment issue
![image](https://user-images.githubusercontent.com/66875689/162609865-65c0f81e-3e03-4da9-b729-1ce16e60984d.png)

Also try to improve the UI and make it more attractive.
Make sure that you do not add similar project to any other repository or else it will be marked as

[2022-04-10 08:39] surajm-333 commented on #233
@Atif0604 can you please share the demo of this project?

@Manik-Aggarwal @Shatakshi-Choudhary @anaya729 you can contribute to this repository by adding new projects.

[2022-04-10 08:45] surajm-333 commented on #242
@bajajharsha can you provide some reference of the changes that you wish to make?

@Shatakshi-Choudhary this issue has been already asked by other contributor. You can contribute by adding new projects.

[2022-04-10 08:45] surajm-333 commented on #245
@Piyush-Aman what is the update?

[2022-04-10 08:46] #142 closed

[2022-04-10 08:48] surajm-333 commented on #148
@Khushi-Mattu provide pr link here.

[2022-04-10 08:48] surajm-333 commented on #11
@akanksha0044 what is the update?

[2022-04-10 08:54] Shatakshi-Choudhary commented on #233
@surajm-333 Okay! Will add new projects.

[2022-04-10 08:55] #1 closed

[2022-04-10 08:56] surajm-333 commented on #2
@Jatinkumar30 what is the update?

[2022-04-10 08:56] #6 closed

[2022-04-10 08:56] #9 closed

[2022-04-10 10:40] iamrahulmahato commented on #226
![Screenshot 2022-04-04 081353](https://user-images.githubusercontent.com/49890655/162614281-491ceec0-a153-4b51-a631-af9d09d5f58c.png)

[2022-04-10 10:40] iamrahulmahato commented on #226
@surajm-333 ss provided

[2022-04-10 12:58] surajm-333 commented on #226
@iamrahulmahato please provide a working demo like a gif to see how the game is played. The screenshot is not much helpful as a reference.

[2022-04-10 13:23] rithik-sharma commented on #198
Sorry for late Reply !!!!

[2022-04-10 13:55] #307 closed

[2022-04-11 10:38] bajajharsha commented on #242
@surajm-333 Yes. I'll send it.

[2022-04-11 14:52] #297 closed

[2022-04-12 06:49] MR-DHRUV opened #316 "Adding A textutilty with a button to switch between dark<->light mode"
@surajm-333
Sir, I would like Text-Based utility that can be used to convert text to uppercase, lowercase, capitalize, remove extra spaces if present, parse content from HTML tags etc.

It will have a button to switch between dark and light mode
It will be react based

Here is the sample: https://mr-dhruv.github.io/Textify.me/

[2022-04-12 08:49] Khushi-Mattu commented on #148
![image](https://user-images.githubusercontent.com/82451914/162920784-98b48c4e-a4bf-40d4-b56e-55f70114a4fb.png)
After changing the theme:
![image](https://user-images.githubusercontent.com/82451914/162920837-e692acfd-cd66-46b3-bbf9-b5eb45befa6a.png)

[2022-04-12 14:16] ishika1501 commented on #310
@puja2806  this issue is what i wanted to work upon , i have created it , you can chose other issue or work.

[2022-04-12 15:35] suhaillahmad opened #317 "New Look to bill splitter section."
### Description
<img width="1440" alt="Screenshot 2022-04-12 at 9 04 18 PM" src="https://user-images.githubusercontent.com/97229491/162999985-b8accaf5-1893-4098-8065-da8e5459703d.png">

I made some changes in the CSS section to make the bill splitter more attractive to the user.

I have attached the updated bill splitter section.

please allow me to work on the issue..

### Code of Conduct

- [X]

[2022-04-12 16:15] Jatinkumar30 commented on #2
@surajm-333 I've made a successful PR recently regarding **Glassmorphism calendar** but I think it doesn't have a GSSoc'22 label. What should I do next?

[2022-04-12 16:56] dsasaank-369 opened #318 "Netflix Clone"
I am a GSSOC contributor and I want to contribute to this repository.

[2022-04-13 04:47] surajm-333 commented on #289
@Shreyaar12 please provide the demo of this project for reference and also mention the tech stack that you will use.

[2022-04-13 06:56] wre9-tesh opened #322 "animated android mascot"
### Description

i want to add an animated flying android mascot.
the tech stack used is html,css.

https://user-images.githubusercontent.com/96977189/163117861-465ff2bb-aab7-412e-a6df-1f1a2eaf7087.mp4

### Code of Conduct

- [X] I follow [Code of conduct](https://github.com/surajm-333/Ace-The-FrontEnd/blob/main/CODE_OF_CONDUCT.md) of this project.

[2022-04-13 06:56] wre9-tesh commented on #322
/assign
i am a gssoc participant and want to work on this

[2022-04-13 06:58] #243 closed

[2022-04-13 07:04] surajm-333 commented on #48
@Rishabh-Gaud respond to the queries on this issue's pull request.

[2022-04-13 08:36] #167 closed

[2022-04-13 09:19] surajm-333 commented on #263
@nithu2109 this demo is not sufficient. Share a gif or deployed project link which depicts that a new user gets generated after refreshing.

[2022-04-13 09:20] surajm-333 commented on #268
Hi @deekshi1023. Please provide a proper description about the project. What do you mean by "Restaurant Menu Filter"? What will it do? Also provide a demo for reference.

[2022-04-13 09:36] surajm-333 commented on #281
@itsmohitnamdeo you can start working on this issue. Make sure that you have not added this project to other repositories or else it will not be considered.

[2022-04-13 09:40] itsmohitnamdeo commented on #281
@surajm-333
Yes , sure !

[2022-04-13 09:47] #18 closed

[2022-04-13 09:47] #13 closed

[2022-04-13 09:48] #19 closed

[2022-04-13 09:51] #11 closed

[2022-04-13 09:51] #22 closed

[2022-04-13 09:52] #27 closed

[2022-04-13 09:52] surajm-333 commented on #40
@HIGH238 what is the update?

[2022-04-13 10:12] #46 closed

[2022-04-13 10:13] #50 closed

[2022-04-13 10:14] #87 closed

[2022-04-13 10:15] surajm-333 commented on #95
@ShivanshCharak what's the update?

[2022-04-13 10:16] surajm-333 commented on #90
@vedsom what's the update?

[2022-04-13 10:18] surajm-333 commented on #44
@Ankit62042 what is the update?

[2022-04-13 10:19] surajm-333 commented on #29
@shelabh what is the update?

[2022-04-13 10:20] #94 closed

[2022-04-13 10:21] #100 closed

[2022-04-13 10:21] surajm-333 commented on #143
@TarunKoli what is the update?

[2022-04-13 10:22] #144 closed

[2022-04-13 10:23] surajm-333 commented on #148
@Khushi-Mattu what is the pull request number?

[2022-04-13 10:34] #150 closed

[2022-04-13 10:35] surajm-333 commented on #156
@Vartika511 what is the update?

[2022-04-13 10:36] surajm-333 commented on #163
@Shel-2607 what is the update?

[2022-04-13 10:36] #169 closed

[2022-04-13 10:36] surajm-333 commented on #175
@akratikushwah what is the update?

[2022-04-13 10:37] surajm-333 commented on #177
@sam301100 what is the update?

[2022-04-13 10:39] #183 closed

[2022-04-13 11:17] surajm-333 commented on #316
@MR-DHRUV what is the tech stack used for this project?

[2022-04-13 11:46] MR-DHRUV commented on #316
@surajm-333
html , css ,ReactJs and bootstrap
Since its a frontend project i am planning to change the whole design

[2022-04-13 14:17] Shreyaar12 commented on #289
@[surajm-333](https://github.com/surajm-333) I am still working on it so can't provide the demo as of now,
the tech stack used is HTML5, CSS3 and JavaScript ES6

[2022-04-14 00:51] SomyaRanjanSahu commented on #261
@surajm-333 Kindly review this PR :)

[2022-04-14 03:59] surajm-333 commented on #316
Okay. Changes are appreciated!
What changes would you make to the current design?

[2022-04-14 04:13] surajm-333 commented on #289
Okay @Shreyaar12. You can start working on this issue. Make sure that the design of this app is clearly laid out, efficient to use, and aesthetically pleasing.

[2022-04-14 05:40] MR-DHRUV commented on #316
@surajm-333 Some animations will be added to buttons, a Few changes in the navbar and I will try to add some more effects in the dark-light mode .

[2022-04-14 05:47] vedsom commented on #90
I am so sorry sir recently I get free from end sem exam and after that there is some misfortune in my relatives.
Can you give me last 1 week time. I will get to you with my work done

[2022-04-14 07:55] anshumanlite opened #327 "Single Page E -learning Website"
### Description

This is a single page e learning website for CSE college students. I will be using HTML, CSS and Javascript only. This website is very much useful for college students. They can get in touch with some amazing free youtube courses through this website.

### Code of Conduct

- [X] I follow [Code of conduct](https://github.com/surajm-333/Ace-The-FrontEnd/blob/main/CODE_OF_CONDUCT.md)

[2022-04-14 08:54] TarunKoli commented on #143
Hi @surajm-333 already sent PR regarding the same. check #174

[2022-04-15 07:00] AsmaIbrahimButt commented on #296
/assign

[2022-04-15 12:50] Rishabh-Gaud commented on #48
@surajm-333

Sir I didn't understand

[2022-04-15 13:22] surajm-333 commented on #48
@Rishabh-Gaud why did you make two pull requests for the same issue?
And close the other pull request.

[2022-04-15 13:53] Rishabh-Gaud commented on #48
Okay sir, actually it was done by mistake.

[2022-04-15 14:10] Abhishek786-Kolvekar opened #329 "Leave and Doc request letter generator"
### Description

Tech Stack: HTML,CSS and JS
JSpdf

### Code of Conduct

- [X] I follow [Code of conduct](https://github.com/surajm-333/Ace-The-FrontEnd/blob/main/CODE_OF_CONDUCT.md) of this project.

[2022-04-15 14:11] Abhishek786-Kolvekar commented on #329
@surajm-333 @aakankshabhende Please assign this issue

[2022-04-15 14:20] #76 closed

[2022-04-15 14:20] #187 closed

[2022-04-15 14:51] Kumar-Ankit56 opened #330 "Tab switch folder"
Hii I'm a GSSoc22 contributor and I'm looking to make a pr request in this repo regarding my project which is a switch tab folder.

### The idea behind this project
This is just like we have many merged folders in a single tab preview.

### How does it work
There is 3 tab folder enclosed behind each other and by-default first tab will be previewed and when you will click the second will be preview

[2022-04-15 16:04] surajm-333 commented on #293
@komalswami is the website responsive? And are you using any api for fetching the information like articles and programs?

[2022-04-15 16:06] surajm-333 commented on #295
@maneesha-28 you can start working on this issue.

[2022-04-15 16:08] surajm-333 commented on #296
@AsmaIbrahimButt please be more descriptive about the project. What tech stack will you use for developing this calculator?

[2022-04-15 16:09] surajm-333 commented on #300
@ranimanya you can start working on this issue. Make sure that you have not contributed this project to any other repositories before or else it will not be considered.

[2022-04-15 16:13] surajm-333 commented on #303
@AnIkeT126 you can start working on this issue. Since you're using react, do not forget to add a gitignore file and add the description of this project and demo in the readme file.

[2022-04-15 16:17] surajm-333 commented on #304
@AnIkeT126 this is an issue and level labels are supposed to be added to pull request when it is merged.

Solve issue #303 first and then this issue shall be assigned to you.

[2022-04-15 16:19] surajm-333 commented on #305
@Ajoe12 this app can simply be created with javascript. Can you so it with HTML, CSS and JS?

[2022-04-15 16:21] surajm-333 commented on #316
Okay @MR-DHRUV. You can start working on this issue. Since you're using react, do not forget to add a gitignore file and add the description of this project and demo in the readme file.

[2022-04-15 16:24] MR-DHRUV commented on #316
Sure
Thanks and Regards

[2022-04-15 16:25] AnIkeT126 commented on #304
sure I will send a PR now.

[2022-04-15 16:36] surajm-333 commented on #310
@ishika1501 and @puja2806 this is a simple feature which can be applied in various apps to make them look good. But this does not require a separate project folder. You can work on more complex projects and add this design feature to them :)

[2022-04-15 16:36] #310 closed

[2022-04-15 16:38] AnIkeT126 commented on #303
sure.

[2022-04-15 16:41] surajm-333 commented on #304
@AnIkeT126 this issue is not even assigned to you yet. You should solve issue #303 first and then this issue will be assigned to you. Read the message properly.

[2022-04-15 16:54] AnIkeT126 opened #333 "Youtube Clone"
### Description

A front-end-based Youtube Clone (home page).

### Code of Conduct

- [X] I follow [Code of conduct](https://github.com/surajm-333/Ace-The-FrontEnd/blob/main/CODE_OF_CONDUCT.md) of this project.

[2022-04-15 16:54] AnIkeT126 commented on #333
@surajm-333 can I work on this issue.

[2022-04-15 16:57] AnIkeT126 commented on #304
I solved that too, can you please review that, I misunderstood the message in haste, pardon me for that, I have resolved issue #303 for now.

[2022-04-15 17:43] AnIkeT126 commented on #303
@surajm-333 please review pr #332

[2022-04-16 04:47] komalswami commented on #293
Yes it is responsive

[2022-04-16 05:33] pratyay9 opened #334 "[New Issue]: Online computer programming learning website."
### Description

I have made an online programming Bootcamp website with HTML, CSS and Bootstrap. Good UI design with responsiveness
![gnome-shell-screenshot-TTEEK1](https://user-images.githubusercontent.com/81563083/163662985-fd0abdc8-ce68-4452-869a-816644cda008.png)
![screenshot](https://user-images.githubusercontent.com/81563083/163662986-9da0d366-683b-46ae-a2fe-569085787da4.png)

### Code of C

[2022-04-16 07:19] Divya2163 opened #335 "[New Issue]: Random motivational quotes generator."
### Description

A random motivational quotes display using HTML, CSS, and Javascript. I don't have a working demo but I can make it with a good UI and an elegant look. I would like to work on this under gssoc.

### Code of Conduct

- [X] I follow [Code of conduct](https://github.com/surajm-333/Ace-The-FrontEnd/blob/main/CODE_OF_CONDUCT.md) of this project.

[2022-04-16 09:18] pratyay9 commented on #334
I have made an online programming Bootcamp website with HTML, CSS and Bootstrap. I have made it a Good UI design with responsiveness and an elegant look. I would like to work on this under GSSOC.

[2022-04-16 10:07] srinjoy-26 opened #336 "Design_me"
### Description

Website frontend for , interior designing company.

Tech stack
- HTML5
- CSS3
- Bootstrap

### Code of Conduct

- [X] I follow [Code of conduct](https://github.com/surajm-333/Ace-The-FrontEnd/blob/main/CODE_OF_CONDUCT.md) of this project.

[2022-04-16 10:15] #336 closed

[2022-04-16 14:04] Divya2163 commented on #335
Kindly assign me this issue

[2022-04-16 17:42] Atif0604 commented on #233
https://user-images.githubusercontent.com/64218887/157244508-2d8c0961-4f2d-4b64-b68f-a9c3e591a046.mp4
@surajm-333

[2022-04-16 19:12] gurjeetsinghvirdee opened #337 "Add Lizard Spock Game"
### Description

Lizard Spock game same as rock paper scissor game

### Code of Conduct

- [X] I follow [Code of conduct](https://github.com/surajm-333/Ace-The-FrontEnd/blob/main/CODE_OF_CONDUCT.md) of this project.

[2022-04-16 19:14] #337 closed

[2022-04-17 11:52] AsmaIbrahimButt commented on #296
@surajm-333
I will used the htm l,css ,Javascript and reactjs in making the bmr calculator.

[2022-04-17 12:00] surajm-333 commented on #303
@AnIkeT126 you have closed #332 pull request. Will you make another pull request solving this issue or do you not want to make a pull request?

[2022-04-17 12:12] AnIkeT126 commented on #303
I will create another pr, with more fucntions

[2022-04-17 12:21] #262 closed

[2022-04-17 12:28] #199 closed

[2022-04-17 12:30] surajm-333 commented on #322
@wre9-tesh do you still want to work on this issue?

[2022-04-17 12:32] wre9-tesh commented on #322
Yes ,i submitted a pr regarding this

[2022-04-17 12:34] surajm-333 commented on #233
@Atif0604 you can start working on this issue.

[2022-04-17 12:36] surajm-333 commented on #242
@bajajharsha please be more specific about the changes with respect to the image shared by you. Where do you want to add the hover effect? And what about position of login card?

[2022-04-17 12:37] wre9-tesh commented on #322
yes  i would like to ,but i made a pr with this same issue on another project with some modifications

[2022-04-17 12:38] surajm-333 commented on #208
@amityadav200015 would you like to work on this issue. If yes, then respond to above query. Or else it should be assigned to other contributors.

[2022-04-17 12:48] surajm-333 commented on #226
@iamrahulmahato you can start working on this issue.

[2022-04-17 12:51] surajm-333 commented on #245
@Piyush-Aman this is the last reminder to respond to the queries. If you fail to respond to this within a day or two, then this issue will be closed.

[2022-04-17 12:52] surajm-333 commented on #268
@deekshi1023 this is the last reminder to respond to the queries. If you fail to respond to this within a day or two, then this issue will be closed.

[2022-04-17 12:54] surajm-333 commented on #263
@nithu2109 what is the update on above query?

[2022-04-17 12:55] surajm-333 commented on #284
@Khushi-Mattu you can start working on this idea.

[2022-04-17 12:58] surajm-333 commented on #293
Okay @komalswami. What is the tech stack that you will use?

[2022-04-17 13:01] komalswami commented on #293
React js

[2022-04-17 13:05] surajm-333 commented on #296
Hi @AsmaIbrahimButt. Can you do it using HTML, CSS and JS only?

[2022-04-17 13:06] surajm-333 commented on #305
@Ajoe12 respond to the above query.

[2022-04-17 13:08] surajm-333 commented on #322
Okay @wre9-tesh. I am closing this issue now. But you can contribute to this repository with other such projects. Your contributions are appreciated :)

[2022-04-17 13:08] #322 closed

[2022-04-17 18:13] Ajoe12 commented on #305
Sorry, but I will not be able to convert it into normal js, it is made with Reactjs, if possible please assign me this issue.

[2022-04-18 10:51] Anthima opened #338 "[New Issue]: Calculator using HTML,CSS,Javascript"
### Description

Description of the project here
![demo](https://user-images.githubusercontent.com/58143009/163798239-cb310729-eb29-40fd-b982-7af8478ef018.png)

### Code of Conduct

- [X] I follow [Code of conduct](https://github.com/surajm-333/Ace-The-FrontEnd/blob/main/CODE_OF_CONDUCT.md) of this project.

[2022-04-18 10:53] Anthima commented on #338
Calculator Using HTML,CSS and Javascript

[2022-04-18 16:42] Shatakshi-Choudhary commented on #338
Hey! Please assign this issue to me. I am a GSSoC22 contributor. I will try my best to resolve the issue.

[2022-04-18 17:52] #327 closed

[2022-04-18 18:18] nithu2109 commented on #263
will update by 20-04!

[2022-04-19 06:57] Anthima commented on #338
@Shatakshi-Choudhary you can raise some other issues and work on them. I am already working on it.

[2022-04-19 17:59] Atif0604 opened #342 "Movie Search App"
### Description

It a js webapp that searches movie and give brief intro about the movie and rating

### Code of Conduct

- [X] I follow [Code of conduct](https://github.com/surajm-333/Ace-The-FrontEnd/blob/main/CODE_OF_CONDUCT.md) of this project.

[2022-04-20 10:23] srinjoy-26 opened #343 "Portfolio Website : 2"
### Description

a portfolio website made using html , css , js.

### Code of Conduct

- [X] I follow [Code of conduct](https://github.com/surajm-333/Ace-The-FrontEnd/blob/main/CODE_OF_CONDUCT.md) of this project.

[2022-04-20 16:08] #198 closed

[2022-04-21 07:45] #275 closed

[2022-04-21 08:03] surajm-333 commented on #342
@Atif0604 be more descriptive about the project and mention the tech stack that you will use

[2022-04-21 08:05] surajm-333 commented on #290
@mohammadshaad what changes would you make to the design. Be more specific and descriptive.

[2022-04-21 08:08] surajm-333 commented on #293
@komalswami can you develop this website using html, css and js?

[2022-04-21 08:18] surajm-333 commented on #305
@Ajoe12 you can start working on this issue. Give the name to the project folder as Keep-Note

[2022-04-21 08:22] surajm-333 commented on #318
@dsasaank-369 please follow the issue template and be more descriptive about the project. Provide screenshots/demo for reference.

[2022-04-21 08:26] surajm-333 commented on #330
@Kumar-Ankit56 what is the tech stack of this project?

[2022-04-21 08:30] surajm-333 commented on #329
@Abhishek786-Kolvekar provide some description about the project. What is it used for? And also provide some reference like screenshot or video/gif.

[2022-04-21 08:31] surajm-333 commented on #333
@AnIkeT126 what tech stack will you use?

[2022-04-21 08:35] surajm-333 commented on #334
@pratyay9 many issues for developing website templates have already been solved or are assigned. But fret not, you can work on other project ideas and contribute to this repository 🙂

[2022-04-21 08:40] surajm-333 commented on #2
@Jatinkumar30 you need to create a new pull request and add the project files in  folder name Glassmorphism-Calendar

[2022-04-21 08:43] surajm-333 commented on #177
@sam301100 kindly respond to above queries.

[2022-04-21 08:53] surajm-333 commented on #242
@bajajharsha respond to the above query

[2022-04-21 08:54] #245 closed

[2022-04-21 08:55] surajm-333 commented on #263
@nithu2109 provide the demo of this project

[2022-04-21 08:55] #268 closed

[2022-04-21 09:16] Ajoe12 commented on #305
okk, thanks

[2022-04-21 09:21] kalashvasaniya commented on #208
Assign this to me :)

[2022-04-21 09:31] AnIkeT126 commented on #333
HTML, CSS, JS

[2022-04-21 09:32] AnIkeT126 commented on #333
Html, CSS, JS

[2022-04-21 09:43] Abhishek786-Kolvekar commented on #329
Hello Suraj,
My project is basically used to avoid errors that people do while creating letters, especially in format.
I have already contributed this project in another repository.

[2022-04-21 09:44] Abhishek786-Kolvekar commented on #329
![image](https://user-images.githubusercontent.com/81409657/164427950-152d89a6-53c8-4991-9759-d68ac7b01951.png)
![image](https://user-images.githubusercontent.com/81409657/164428018-691fbfb4-772d-4de5-9fc6-ca11b2b6cadc.png)
![image](https://user-images.githubusercontent.com/81409657/164428064-110cfdd5-7546-47a5-bcc7-8bd1b56755d2.png)

[2022-04-21 09:45] Abhishek786-Kolvekar commented on #329
If you need any add-ons please suggest them.
I assure I will not contribute the same project here.

[2022-04-21 10:32] Atif0604 commented on #342
I would be using HTML CSS Js
<img width="943" alt="Movie-Search-App" src="https://user-images.githubusercontent.com/64218887/164439920-fa20fd41-ccb1-4bc8-b2e9-4165524b13fc.png">

[2022-04-21 11:18] #58 closed

[2022-04-21 11:29] #105 closed

[2022-04-21 11:44] #220 closed

[2022-04-21 14:44] Kumar-Ankit56 commented on #330
@surajm-333 I have used HTML, CSS and javascript only

[2022-04-21 17:47] yash-25log opened #348 "Hysky website - community web"
### Description

responsive website build
using html css js

This website can be used by any club in robotics
This mainly promotes any robotic teams service like a portfolio website

project gallery-
![image](https://user-images.githubusercontent.com/58944204/164742468-33f95adc-e4e1-4f97-9591-93201f35e6f1.png)
![image](https://user-images.githubusercontent.com/58944204/164742543-c813c15a-9cc0-4246

[2022-04-21 17:51] yash-25log opened #349 "Tailwind testimonial"
### Description

built a tailwind testimonial
please assign me the issue so i start contributing in
used tailwind with html no js there
responsive as well

#tech stack-
Html
Css
Tailwind
Vanilla js

Works as a swiping testimonial
Slide changes either by arrow button down the line Or timely

Also it is responsive

image gallery-
![image](https://user-images.githubusercontent.com/58944204/164743454-

[2022-04-21 17:56] yash-25log commented on #349
@surajm-333
bhaiya pls assign me in

[2022-04-21 17:56] yash-25log commented on #348
@surajm-333
bhaiya pls assign me in

[2022-04-21 18:18] #96 closed

[2022-04-21 19:23] mohammadshaad commented on #290
I want to make the edges of the rectangular box and the button round.
I know the this change is not that important but it will make the UI look more descent and beautiful

[2022-04-21 21:50] TG922 opened #350 "[New Issue]: Memory Card Game"
### Description

I would like to add a Memory Card Game

### Code of Conduct

- [X] I follow [Code of conduct](https://github.com/surajm-333/Ace-The-FrontEnd/blob/main/CODE_OF_CONDUCT.md) of this project.

[2022-04-21 22:03] Mennapika opened #351 "[New Issue]: pacMan"
### Description

### Creating a simple PacMan game using  js
![pacMan](https://user-images.githubusercontent.com/38566183/164559163-76d1e3a8-6986-4e60-ae3a-e1b04ff32708.PNG)

### Code of Conduct

- [X] I follow [Code of conduct](https://github.com/surajm-333/Ace-The-FrontEnd/blob/main/CODE_OF_CONDUCT.md) of this project.

[2022-04-21 23:45] #350 closed

[2022-04-22 05:02] Kumar-Ankit56 commented on #330
@surajm-333 please review it and assign me.

[2022-04-22 06:07] maneesha-28 commented on #295
Created a pull request "Added a new project: JS calculator #352"
Please review it

[2022-04-22 15:03] yash-25log commented on #348
using html,css,js

[2022-04-22 15:03] surajm-333 commented on #349
@yash-25log please be more descriptive about the project that you want to work on. Also provide some reference if possible.

[2022-04-22 15:03] surajm-333 commented on #348
@yash-25log please be more descriptive about the project that you want to work on. Also provide some reference if possible.

[2022-04-22 15:10] yash-25log commented on #348
@surajm-333 bhaiya now see
if anything else tated let me know

[2022-04-22 15:14] yash-25log commented on #349
@surajm-333 bhaiya pls check now

[2022-04-22 15:23] mohanm18 opened #354 "[New Issue]: ZORO.to Clone"
### Description

I'm a GSSoC'22 Contributor.
ZORO.to is an anime streaming website. This project will consist of a landing page clone of ZORO.to. It will be implemented using HTML and CSS.
![screenshot](https://user-images.githubusercontent.com/91558289/164745506-b25544b6-7e98-4cef-a8a0-e551607e2c44.png)

### Code of Conduct

- [X] I follow [Code of conduct](https://github.com/surajm-333/Ace-The-F

[2022-04-22 18:11] Kumar-Ankit56 opened #355 "Decimal to binary and vice-versa converter"
Hii I'm a GSSoc22 contributor and I'm looking to make a pr request in this repo regarding my project which is to convert binary to decimal and decimal to binary.

### The idea behind this project
The idea behind the project is there is any easiest way to convert a decimal number into binary without using paper that takes too much space just for log division and its reverse process so I have design

[2022-04-22 19:15] anamansari062 commented on #355
@Kumar-Ankit56 Will you be adding any button or the conversion will be automatic, Also state the tech stacks you will be using for this.

[2022-04-22 19:22] anamansari062 commented on #354
@mohanm18 You can work on it.

[2022-04-23 04:36] yash-25log commented on #348
@surajm-333

[2022-04-23 05:18] Kumar-Ankit56 commented on #355
@anamansari062 It will be automatic conversion, and in the tech stack, I have used HTML, CSS, and javascript only.
kindly review it and assign me.

[2022-04-23 08:35] anamansari062 commented on #355
@Kumar-Ankit56 Sure you can work on it.

[2022-04-23 10:18] #343 closed

[2022-04-23 11:01] Mrjoy832 opened #357 "Instagram Clone"
It will be looking like:
![image](https://user-images.githubusercontent.com/77873383/164951478-abd9575c-104c-41b8-a706-7a0717fcc26c.png)

And the project Folder will contain 4 files->
- index.html
- style.css
- script.js
- readme.md

[2022-04-23 11:02] Mrjoy832 commented on #357
@anamansari062 , please assign

[2022-04-23 11:04] Mrjoy832 opened #358 "Telegram UI Clone"
### Description

Description of the project here:
I want to add Telegram Homepage Clone using HTML,CSS. It looks like
![image](https://user-images.githubusercontent.com/77873383/164951712-5164f637-44d0-4345-b93b-4637f8772d73.png)

### Code of Conduct

- [X] I follow [Code of conduct](https://github.com/surajm-333/Ace-The-FrontEnd/blob/main/CODE_OF_CONDUCT.md) of this project.

[2022-04-23 11:04] Mrjoy832 commented on #358
@anamansari062 , please assign

[2022-04-23 12:03] Kumar-Ankit56 commented on #330
@anamansari062 please review and assign me this also.

[2022-04-23 12:33] anamansari062 commented on #330
@Kumar-Ankit56 Sure go ahead.

[2022-04-23 12:34] anamansari062 commented on #358
@Mrjoy832 Please add sample images of what you will be implementing and a bit more description of what the project will have. Example : Files and tabs

[2022-04-23 12:34] anamansari062 commented on #357
@Mrjoy832 Please add sample images of what you will be implementing and a bit more description of what the project will have. Example : Files and tabs

[2022-04-23 12:37] Mrjoy832 commented on #357
okay I will add

[2022-04-23 12:38] Mrjoy832 commented on #358
okay I will add

[2022-04-23 13:39] yash-25log commented on #349
@anamansari062 heynpls assign me in

[2022-04-23 15:01] Jatinkumar30 commented on #2
@surajm-333 Sure I'll create a new pull request.

[2022-04-23 15:02] Jatinkumar30 commented on #2
@aakankshabhende @Jatinkumar30 Do I need to make a new issue regarding this new PR . KIndly help.

[2022-04-23 15:03] Jatinkumar30 commented on #2
@aakankshabhende @surajm-333 Do I need to make a new issue regarding this new PR or just create a new PR. Kindly help.

[2022-04-23 15:25] anamansari062 commented on #349
@yash-25log The idea sounds good, I would suggest make the issues template properly with proper description about what the project does, tech stack

[2022-04-23 15:48] yash-25log commented on #349
Done

[2022-04-23 15:50] yash-25log commented on #349
@anamansari062 pls see now

[2022-04-23 15:51] yash-25log commented on #348
@surajm-333 @anamansari062

[2022-04-23 15:53] anamansari062 commented on #348
@yash-25log What is the motive of the project like what can be this designed used for?

[2022-04-23 15:54] anamansari062 commented on #349
@yash-25log You can work on this

[2022-04-23 15:55] yash-25log commented on #348
This website can be used by any club in robotics
This mainly promotes any robotic teams service like a portfolio website

[2022-04-23 15:55] yash-25log commented on #348
@anamansari062

[2022-04-23 15:56] yash-25log commented on #349
Thanks😃

[2022-04-23 15:56] anamansari062 commented on #348
You can work on this and add this above in the description too

[2022-04-23 15:56] yash-25log commented on #348
Ya sure

[2022-04-23 15:57] yash-25log commented on #348
Thanks

[2022-04-23 16:17] srinjoy-26 opened #359 "QR code generator in JavaScript"
![Screenshot_2022-04-23-22-36-06-97_40deb401b9ffe8e1df2f1cc5ba480b12](https://user-images.githubusercontent.com/91176055/164916267-e38517b4-03ab-4121-b10e-98fa9bb5ca96.jpg)
### Description

My project , converts any text of url into a QR code.
Tech stack
- HTML 5
- CSS3
- JS

### Code of Conduct

- [X] I follow [Code of conduct](https://github.com/surajm-333/Ace-The-FrontEnd/blob/main/CODE_OF_COND

[2022-04-23 16:50] anamansari062 commented on #359
@srinjoy-26 Add sample images and teck stack in description

[2022-04-23 17:07] srinjoy-26 commented on #359
Done

[2022-04-23 19:11] #285 closed

[2022-04-23 19:12] anamansari062 commented on #359
@srinjoy-26 Go ahead

[2022-04-23 19:38] #349 closed

[2022-04-24 00:40] surajm-333 commented on #2
@Jatinkumar30 you need to create a new pull request only. No need to create a new issue.

[2022-04-24 01:13] Mrjoy832 commented on #357
It will be looking like:
![image](https://user-images.githubusercontent.com/77873383/164951478-abd9575c-104c-41b8-a706-7a0717fcc26c.png)

And the project Folder will contain 4 files->
- index.html
- style.css
- script.js
- readme.md

[2022-04-24 01:17] Mrjoy832 commented on #357
@anamansari062 ,updated issue description ..please assign

[2022-04-24 01:26] Mrjoy832 commented on #358
@anamansari062 , please assign

[2022-04-24 02:38] yash-25log opened #362 "Snow flake js animation"
Snow flake particle js animation

Demo to particle js

Tech stack
Html
Css
Js
Particle js must be given the credit for easing the code

This ui can be used as a background
It is user interactive on mouse move or click

### 👨‍💻 Changes proposed and Brief Description
made a particle js demo it works on interactivity and hover
used  HTML canvases CSS and js (particle js library in particular)

### ✅

[2022-04-24 02:38] yash-25log commented on #362
@surajm-333 @anamansari062 pls assign me this

[2022-04-24 02:42] yash-25log opened #363 "Luminosity effect to particle js"
### 👨‍💻 Changes proposed and Brief Description
used HTML CSS js and particle js along with maths
colorized form for particle js
work effectively on mouseover

### ✅ Check List (Check all the applicable boxes)

- [x] My code doesn't break any part of the project

### 📄 Note to reviewers

### 📷 Screenshots
![image](https://user-images.githubusercontent.com/58944204/164934568-b4658e12-a6ef-4520-a10f-

[2022-04-24 02:43] yash-25log commented on #363
@anamansari062

[2022-04-24 09:44] anamansari062 commented on #363
@yash-25log Attach Pictures

[2022-04-24 09:44] anamansari062 commented on #362
@yash-25log Please attach pictures

[2022-04-24 09:45] anamansari062 commented on #358
@Mrjoy832 You are assigned

[2022-04-24 09:47] anamansari062 commented on #357
@Mrjoy832 You can work on this

[2022-04-24 10:04] Ajoe12 commented on #305
Done Please review

[2022-04-24 10:47] yash-25log commented on #362
@anamansari062 pls check this out

[2022-04-24 10:57] yash-25log commented on #362
@anamansari062 i am sorry i was unable to record interactivity tho it is interactive
my recorder wasn't recording it idk why

[2022-04-24 10:57] yash-25log commented on #362
if you say i can host it and share link

[2022-04-24 11:01] yash-25log commented on #363
@anamansari062 interactivity record nhi hui
if you say i can host it if you wanna see
tho it is interactive
i have put the code making it do so

[2022-04-24 11:33] SomyaRanjanSahu commented on #261
@surajm-333 !! Kindly review this PR brother.

[2022-04-24 11:46] Sabarinathan07 opened #364 "Add a 15 puzzle Challenge"
### Description

Description of the project here
I would like to add a 15 puzzle challenge project made by using simple HTML, CSS, and javascript.

The 15 puzzle (also called Gem Puzzle, Boss Puzzle, Game of Fifteen, Mystic Square, and many others) is a [sliding puzzle] having 15 square tiles numbered 1–15 in a frame that is 4 tiles high and 4 tiles wide, leaving one unoccupied tile position. Tile

[2022-04-24 11:46] anamansari062 commented on #363
@yash-25log You are assigned

[2022-04-24 11:46] Sabarinathan07 commented on #364
/assign

[2022-04-24 11:47] anamansari062 commented on #364
@Sabarinathan07 If you can then attach some refernce images in description and start working on the issue

[2022-04-24 11:49] anamansari062 commented on #362
@yash-25log You can work on this.

[2022-04-24 11:53] Sabarinathan07 commented on #364
![1200px-15-puzzle_magical svg](https://user-images.githubusercontent.com/64265337/164974975-beba6b33-53ad-4240-95cb-09a717d1f417.png)
This is like the 15 puzzle Challenge!
I will work on the issue! Thank you for assigning the issue @anamansari062

[2022-04-24 11:54] anamansari062 commented on #364
@Sabarinathan07 Everything looks good. You can also add this image in description above

[2022-04-24 11:56] Sabarinathan07 commented on #364
Yeah sure!

[2022-04-24 11:58] #348 closed

[2022-04-24 12:48] #261 closed

[2022-04-24 14:51] Jagroop2000 opened #367 "Temperature Converter Webpage"
### Description

I would like to work on temperature converter webpage under GSSoC22.
**Technology Used :**
HTML, CSS, JavaScript , Bootstrap.
I also viewed the repo , as I didn't find any such type of project there.

Would you please assign me !!
Hoping Positive Response.

### Code of Conduct

- [X] I follow [Code of conduct](https://github.com/surajm-333/Ace-The-FrontEnd/blob/main/CODE_OF_CONDUC

[2022-04-24 17:28] #357 closed

[2022-04-24 17:29] anamansari062 commented on #367
@Jagroop2000 You can attach a reference image in the description and start working on this

[2022-04-24 17:32] #359 closed

[2022-04-24 17:35] #364 closed

[2022-04-24 17:49] Mrjoy832 opened #369 "Trigonometric Calculator🧮"
### Description

**Description of the project here**
Trigonometric calculator is a calculator which will help to calculate the sin, cos,tan value of any given angle and it will display the relevant result . It's made using **HTML,CSS,JS**
**Demo**
![image](https://user-images.githubusercontent.com/77873383/164989563-ac17f3c4-8182-48af-ab82-efb0c68e7d63.png)

### Code of Conduct

- [X] I follow [Co

[2022-04-24 17:49] Mrjoy832 commented on #369
@anamansari062 , Assign please

[2022-04-24 17:54] Sabarinathan07 opened #370 "Memory card Game using react"
### Description

The objective is to collect the most pairs of cards. If a user successfully matches a pair he/she gets to remove the cards from the screen. The user needs to find all the matches in a limited set of moves.

### Tech Stack
ReactJS , CSS

![3175afcdbf74a46743298da8e39ed673](https://user-images.githubusercontent.com/64265337/164989660-7b5c9f18-f733-4a9e-9077-4071590dd65c.jpg)
An exam

[2022-04-24 17:56] Mrjoy832 opened #371 "Google Drive UI Clone"
### Description

**Description of the project here:**
I want to add **Google Drive Clone** which will be made using HTML,CSS,JS and it's responsive.
![image](https://user-images.githubusercontent.com/77873383/164990833-e20405c2-936b-4fa4-9a65-421c4b760fdf.png)

### Code of Conduct

- [X] I follow [Code of conduct](https://github.com/surajm-333/Ace-The-FrontEnd/blob/main/CODE_OF_CONDUCT.md) of this

[2022-04-24 17:57] Mrjoy832 commented on #371
@anamansari062 , please assign

[2022-04-24 18:16] anamansari062 commented on #369
@Mrjoy832 You are assigned

[2022-04-24 18:17] anamansari062 commented on #370
@Sabarinathan07 Mention tech stack

[2022-04-24 18:19] anamansari062 commented on #371
@Mrjoy832 This has also been done in issue #23

[2022-04-24 18:24] Mrjoy832 commented on #371
Okay I will add Clone of G-Drive

[2022-04-25 01:18] Mrjoy832 opened #374 "Stop Watch⏱"
### Description

**Description of the project here**:
I want to add a **Stop Watch** which will be made using HTML,CSS,JS and the application will be responsive. It is able to countdown as other  Stop watches do and there will be a 'Reset' button to fix at it's initial position.

**P.S: I haven't yet made it, so I can't show any demo...but it will hold good UI for sure with proper functionality**

[2022-04-25 01:35] Sabarinathan07 commented on #370
I am going to create using ReactJS and CSS. I have updated the issue!

[2022-04-25 01:36] Sabarinathan07 commented on #370
@anamansari062 Can you assign this issue to me?

[2022-04-25 05:55] Mrjoy832 commented on #374
@anamansari062 please assign

[2022-04-25 10:19] anamansari062 commented on #374
@Mrjoy832 You are assigned

[2022-04-25 10:20] #355 closed

[2022-04-25 10:21] anamansari062 commented on #370
@Sabarinathan07 You are assigned

[2022-04-25 10:22] #369 closed

[2022-04-25 10:24] anamansari062 commented on #371
@Mrjoy832 You are assigned

[2022-04-25 12:12] #363 closed

[2022-04-25 16:31] srinjoy-26 opened #380 "Rotating earth"
### Description

#### Tech stack
- HTML 5
- CSS 3
<img width="301" alt="earth" src="https://user-images.githubusercontent.com/91176055/165133022-41321102-d753-4f34-afe4-716fad229655.png">
It is an animation , in which a rotating earth will be shown in which one side would represent the dark region and another side would represent the lighter region.

### Code of Conduct

- [X] I follow [Code of co

[2022-04-25 19:32] anamansari062 commented on #380
@srinjoy-26 Give more description

[2022-04-25 19:33] #374 closed

[2022-04-25 19:35] #354 closed

[2022-04-25 19:39] #291 closed

[2022-04-26 10:58] SupriyaGembali opened #382 "Adobe Website Clone"
**Project title**
Adobe Website Clone

**Stack**:

- [x] Html
- [x] CSS
- [x] JavaScript

[2022-04-26 10:59] #382 closed

[2022-04-26 11:00] SupriyaGembali opened #383 "Adobe Website Clone"
### Description
This is the clone of the famous multi national company Adobe's Home page. Here I used HTML for components, CSS for beautifying and styling. JS for the working of site.

**Project title**
Adobe Website Clone

**Stack**:

- [x] Html
- [x] CSS
- [x] JavaScript

![image](https://user-images.githubusercontent.com/94470209/165285906-91acf084-7e57-4fda-a379-2b30f2a427fb.png)

This is resp

[2022-04-26 11:02] SupriyaGembali commented on #383
@anamansari062 Please assign this issue to me

[2022-04-26 11:55] Sabarinathan07 opened #384 "Brick Breaker game"
### Description

### Description
In Brick Breaker, a layer of bricks lines the top third of the screen and the goal is to destroy them all by repeatedly bouncing a ball off a paddle into them.
If you miss the ball, your score and the blocks will reset.

![brick-breaker-game](https://user-images.githubusercontent.com/64265337/165294457-bece7343-4303-406e-9980-451da6fa02fa.png)

I would like to work

[2022-04-26 14:11] anamansari062 commented on #384
@Sabarinathan07 Mention the tech stack and in description use the template provided.

[2022-04-26 14:12] anamansari062 commented on #383
@SupriyaGembali Give a more detail description and use the template preoperly, i dont see alot of tick marks

[2022-04-26 14:30] SupriyaGembali commented on #383
@anamansari062 I have changed the description. Please assign this issue to me

[2022-04-26 15:31] anamansari062 commented on #380
@srinjoy-26 You can work on this, Please make sure there is no plagarism and this project is not uploaded in other reporsitories by you

[2022-04-26 15:41] Akshara604 opened #386 "FreshVeggies (A Mock-up website for a mobile app)"
### Description

This is a mock-up website for an imaginary mobile application called FreshVeggies.

Tech Stack:
Html, CSS

![FreshVeggies(website)](https://user-images.githubusercontent.com/74604911/165338560-c0ca5f23-fc1e-462b-b24a-383c70482002.jpeg)

I want to work on this.
Please assign this to me for GSSoC22

### Code of Conduct

- [X] I follow [Code of conduct](https://github.com/surajm-333/

[2022-04-26 16:07] #370 closed

[2022-04-26 16:13] anamansari062 commented on #386
@Akshara604 So can this template be used in mobile apps or web?

[2022-04-26 16:22] Akshara604 commented on #386
This website basically is like a promotion for the mobile app. It will have a testimonial section, pricing details. I am doing it for an imaginary app called Fresh veggies. We can modify the website based on the product.

[2022-04-26 16:49] ishikaa-2302 commented on #208
Can you assign this to me? @surajm-333

[2022-04-26 17:43] #226 closed

[2022-04-26 18:39] #362 closed

[2022-04-26 22:05] Abhilasha-Jairath commented on #44
I want to work on this under GSSOC2022. Can you assign it to me. I will update the login page design within few days

[2022-04-27 02:28] SupriyaGembali opened #389 "Ikea website Clone"
### Description

### Description
This is the clone of the famous Shopping company Walmart. Here I used HTML for components, CSS for beautifying and styling. JS for the working of site.

**Project title**
Ikea Website Clone

**Stack**:

- [x] Html
- [x] CSS
- [x] JavaScript

![image](https://user-images.githubusercontent.com/94470209/165426781-82d91a38-c313-40a1-984a-0e26023446c3.png)

This is resp

[2022-04-27 02:29] SupriyaGembali commented on #389
@anamansari062 Please assign this issue to me

[2022-04-27 04:11] anamansari062 commented on #44
@Ankit62042 Give updates by tomorrow, Or i will have to reassign this issue

[2022-04-27 04:12] #371 closed

[2022-04-27 04:13] anamansari062 commented on #389
@SupriyaGembali You are assigned. Make sure the code is not plagiarised and It should not exist in another Gssoc Repository.

[2022-04-27 04:38] MonarchGitHub opened #390 "Adding Valorant website Clone to the repo"
### Description

I plan to use vanilla JS, HTML, and CSS to build the project. This project will be a good learning resource for beginners to learn the working of intermediate web-dev as the Valorant website has many moving components and other caveats. I will try to make the website as responsive as possible.

### Code of Conduct

- [X] I follow [Code of conduct](https://github.com/surajm-333/Ace

[2022-04-27 04:48] SupriyaGembali commented on #383
@anamansari062 please add level to the merged PR of this issue

[2022-04-27 13:58] Ankit62042 commented on #44
Hey, I need just 2 days. My project is almost complete

[2022-04-27 15:07] anamansari062 commented on #44
@Ankit62042 Okayy

[2022-04-27 18:28] yash-25log opened #394 "Color pallete website"
### Description

making a website where one can find gradients and color scheme for website or get inspiration from

tech stack using-
-Html
-CSS
-JS
-Little system of API(if needed)

i am currently working on the project
haven't made a perfect header yet
just basic CSS built for pallet currently
and trying to make it responsive

![image](https://user-images.githubusercontent.com/58944204/16559461

[2022-04-27 18:29] yash-25log commented on #394
@anamansari062 @surajm-333
assign kr dena though it will take some time to make it responsive
i would make updates timely

[2022-04-27 18:53] #316 closed

[2022-04-27 19:47] anamansari062 commented on #394
@yash-25log You are assigned!

[2022-04-27 21:37] nouraan-ahmed opened #396 "Adding Gym Website"
### Description

I Build A website for gym that show gym features and trainers and contact information

### Tech Stack

- HTML
- CSS
- Javascript

### Screen shots

![Screenshot from 2022-04-23 22-00-22](https://user-images.githubusercontent.com/52378608/165635186-b9e04646-5054-4247-a921-748e973d4682.png)
![Screenshot from 2022-04-23 22-00-38](https://user-images.githubusercontent.com/52378608/165

[2022-04-27 21:37] nouraan-ahmed commented on #396
@anamansari062 @surajm-333 , please assign me

[2022-04-27 21:42] nouraan-ahmed opened #397 "Adding Travel Website"
### Description

I Build a travel agency website were people can book their travel and compare between cities and contact for details

### Tech Stack

- HTML
- CSS
- Java script

### Screen Shot

![Screenshot from 2022-04-26 13-30-14](https://user-images.githubusercontent.com/52378608/165635618-68e96ba2-bfd5-47ed-b154-42fbf40561e8.png)
![Screenshot from 2022-04-27 23-40-08](https://user-images.git

[2022-04-27 21:43] nouraan-ahmed commented on #397
@anamansari062 @surajm-333 , please assign me

[2022-04-28 13:14] nithu2109 commented on #263
Demonstration:

https://user-images.githubusercontent.com/67360225/165759879-1c9fddd5-9419-45b4-89ab-ef5c0e5b7a5f.mp4

[2022-04-28 18:26] sur16-cse opened #403 "[New Issue]: SLOT MACHINE GAME"
### Description

### Description:
Description of project here: This is a slot machine game which creates a game of chance or test luck of users and it is made using HTML, CSS, and JAVASCRIPT.

This will be looking like:

![ezgif com-gif-maker](https://user-images.githubusercontent.com/67889306/165818081-05f63f5a-0b8e-42dc-bc48-b35ca80dd7da.gif)

**The folders used in this project are following**:

[2022-04-29 07:18] SupriyaGembali opened #404 "Geeks For Geeks Website Clone"
### Description
This is the clone of the famous Educational website GFG. Here I used HTML for components, CSS for beautifying and styling. JS for the working of site.

**Project title**
Geeks For Geeks Website Clone

**Stack**:

- [x] Html
- [x] CSS
- [x] JavaScript

![image](https://user-images.githubusercontent.com/94470209/165900519-569f5dad-0b33-4c0d-9c53-50c1d356e4e0.png)

This is responsive

[2022-04-29 07:19] SupriyaGembali commented on #404
@surajm-333 Please assign this issue to me

[2022-04-29 07:55] shrey2003 opened #405 "[New Issue]: Meditation Feature"
### Description

This feature allows user to meditate by selecting the required duration and required environment(forest, rain, summer night, beach) and sound effect. This project is created using HTML, CSS, JavaScript .Please assign me this issue as I am a GSSOC'22 participant.
![meditation](https://user-images.githubusercontent.com/59368657/165905363-1bc99013-aba1-4a6f-97fc-0717b1a8e606.png)

##

[2022-04-29 16:33] Avik-creator opened #406 "[New Issue]: Whack a Mole"
### Description

It will be whack a mole game using JavaScript.
User have to click on mole to whack it.

### Code of Conduct

- [X] I follow [Code of conduct](https://github.com/surajm-333/Ace-The-FrontEnd/blob/main/CODE_OF_CONDUCT.md) of this project.

### Images:
![images.png](https://user-images.githubusercontent.com/77090462/166088710-a3295899-ee2f-4a52-807b-8bd1c4726b25.png)

-Not to be exact

[2022-04-29 16:34] Avik-creator commented on #406
@anamansari062 Please Assign this issue to me.

[2022-04-29 16:35] Avik-creator opened #407 "[New Issue]: Rock Paper Scissors Using JavaScript"
### Description

Wanna Add Rock Paper Scissors using JavaScript.
It will be playable anywhere with only using the web browser.

### Code of Conduct

- [X] I follow [Code of conduct](https://github.com/surajm-333/Ace-The-FrontEnd/blob/main/CODE_OF_CONDUCT.md) of this project.

### Images:
![images (1).jpeg](https://user-images.githubusercontent.com/77090462/166088663-23292bb2-9bf8-431b-9ab4-582c2cb

[2022-04-29 16:38] Avik-creator commented on #407
@anamansari062 Please Assign this issue to me.

[2022-04-29 16:45] Avik-creator opened #408 "[New Issue]: Notes App."
### Description

It will be made using Javascript, HTML, CSS.
It will be responsive.
Through it we can take anywhere we would like it Just by using our browser.

### Code of Conduct

- [X] I follow [Code of conduct](https://github.com/surajm-333/Ace-The-FrontEnd/blob/main/CODE_OF_CONDUCT.md) of this project.

### Images:

![images (1).png](https://user-images.githubusercontent.com/77090462/1660884

[2022-04-29 16:48] Avik-creator opened #409 "[New Issue]: Number Guessing Game."
### Description

It will be a number guessing game Using HTML, CSS, JavaScript.

### Code of Conduct

- [X] I follow [Code of conduct](https://github.com/surajm-333/Ace-The-FrontEnd/blob/main/CODE_OF_CONDUCT.md) of this project.

### Images:

![Copy of make landing page in 5minutes (1).png](https://user-images.githubusercontent.com/77090462/166088430-244ab3bc-6902-4ef2-a4a3-1ecc0f16996e.png)
    -

[2022-04-29 18:23] #383 closed

[2022-04-29 20:14] anamansari062 commented on #396
@nouraan-ahmed Mention the techstack and proper description

[2022-04-29 20:15] anamansari062 commented on #397
@nouraan-ahmed Mention techstack and proper description

[2022-04-29 20:17] #255 closed

[2022-04-29 20:32] nouraan-ahmed commented on #396
@anamansari062 okay done

[2022-04-29 20:35] nouraan-ahmed commented on #397
@anamansari062 Okay Done

[2022-04-29 20:40] anamansari062 commented on #403
@sur16-cse You are assigned!

[2022-04-29 20:41] anamansari062 commented on #405
@shrey2003 You are assigned!

[2022-04-29 20:42] anamansari062 commented on #406
@Avik-creator Give more description and some reference images

[2022-04-29 20:42] anamansari062 commented on #407
@Avik-creator Add more description and refernce images

[2022-04-29 20:43] anamansari062 commented on #408
@Avik-creator Add more description and refernce image. Also if the code is not responisive edit title as "Notes app template"

[2022-04-29 20:44] anamansari062 commented on #409
@Avik-creator Add more description and reference images

[2022-04-29 20:44] anamansari062 commented on #396
@nouraan-ahmed You are assigned!

[2022-04-29 20:46] #386 closed

[2022-04-29 20:47] #330 closed

[2022-04-30 03:17] Avik-creator commented on #409
@anamansari062 please check it now.

[2022-04-30 03:23] Avik-creator commented on #407
@anamansari062 please check it now.

[2022-04-30 03:25] Avik-creator commented on #406
@anamansari062 please check it now.

[2022-04-30 03:30] #394 closed

[2022-04-30 04:06] #190 closed

[2022-04-30 15:08] #380 closed

[2022-04-30 15:09] anamansari062 commented on #409
@Avik-creator You are assigned!

[2022-04-30 15:09] anamansari062 commented on #407
@Avik-creator You are assigned!

[2022-04-30 15:10] anamansari062 commented on #406
@Avik-creator You are assigned!

[2022-04-30 15:54] srinjoy-26 opened #411 "Education course website"
### Description

#An education course website.
##Tech stack :-
- HTML5
- CSS3
- JS
- BOOTSTRAP
<img width="956" alt="Screenshot 2022-05-02 122828" src="https://user-images.githubusercontent.com/91176055/166196321-129b1191-a701-41ee-a8b8-74af64a9c35c.png">

### Code of Conduct

- [X] I follow [Code of conduct](https://github.com/surajm-333/Ace-The-FrontEnd/blob/main/CODE_OF_CONDUCT.md) of this proj

[2022-04-30 18:59] AmolShelke2 opened #413 "I want to add a Ball Animation project created with HTML and CSS."
### Description

Hey, project admin, I'm a GSSOC participant and I want to add a Ball Animation project created with HTML and CSS it is focused on animation and transformation please go through the demo that I have attached below and assign me this issue to work on thank you.

https://user-images.githubusercontent.com/95171638/166119072-6a9d50b2-e647-41d9-bef7-596573b8815d.mp4

@surajm-333 kindly

[2022-05-01 01:15] Kumar-Ankit56 opened #414 "Number Guessing game"
### Description

**Project title**
Height Converter

**Project Description**
### The idea behind this project
Just by random thinking can I play around with numbers also for judging myself or other users that much they proficient in the guessing
### How does it work
While loading in the container we have an input box where you have to enter numbers between 1 to 20 if your number will cross-check w

[2022-05-01 01:34] #414 closed

[2022-05-01 04:31] Mrjoy832 opened #415 "Color PIcker Game🌈"
### Description

Description of the project here:
I want to add a **Color PIcker Game🌈**  using HTML,CSS,JAVASCRIPT  and The Code will be responsive . This application allows to select colour as per users choice.

### Code of Conduct

- [X] I follow [Code of conduct](https://github.com/surajm-333/Ace-The-FrontEnd/blob/main/CODE_OF_CONDUCT.md) of this project.

[2022-05-01 04:32] Mrjoy832 commented on #415
@anamansari062  please assign

[2022-05-01 04:43] Mrjoy832 opened #416 "Terrorist Shooting Game👨🔫"
### Description

Description of the project here:
I want to add  Terrorist Shooting Game👨🔫, which will be made using HTML,CSS,JS and the Code will be responsive in nature. Here a Random image will be appear into the screen and you have to shoot that to increase your Score.
**Here I am adding a Demo ...It's not exact Demo but it will look like it.**
![image](https://user-images.githubusercontent.co

[2022-05-01 04:43] Mrjoy832 commented on #416
@anamansari062 , please assign

[2022-05-01 08:08] #115 closed

[2022-05-01 08:24] surajm-333 commented on #208
@kalashvasaniya you have worked on many issues in this repository and have some issue to be resolved right now. I guess this time a new contributor should be given a chance. I hope agree with me. So @ishikaa-2302 I am assigning this issue to you. You can start working on it.

[2022-05-01 09:03] anamansari062 commented on #411
@srinjoy-26 If the website is not responsive then add template in issue heading and you can start working on this

[2022-05-01 09:09] srinjoy-26 commented on #411
Bro it's completely responsive 🤘 level 3 issue 😅

[2022-05-01 09:10] anamansari062 commented on #415
@Mrjoy832 Give more description about the game and how it works and add refernce images

[2022-05-02 14:24] #406 closed

[2022-05-02 14:24] Avik-creator commented on #406
Done it.

[2022-05-02 14:31] Avik-creator opened #422 "[New Issue]: Wanna add Drum Kit."
### Description

It will be a Drumkit made by using JavaScript.
It will be non-responsive.
![Snapshot_21-09-25_06-12-26](https://user-images.githubusercontent.com/77090462/166251895-f457ff4d-5ee7-4089-839c-5eac63fc6ab9.png)

### Code of Conduct

- [X] I follow [Code of conduct](https://github.com/surajm-333/Ace-The-FrontEnd/blob/main/CODE_OF_CONDUCT.md) of this project.

[2022-05-02 18:12] Avik-creator commented on #408
@anamansari062 could you please assign this issue to me?

[2022-05-02 18:21] anamansari062 commented on #416
@Mrjoy832 this is inappropriate. Kindly change it to some target shooting game and change the reference images

[2022-05-02 18:25] Mrjoy832 commented on #416
Okay I will change the name but the images are not the actual I will make , it's just a similar type ...kindly assign

[2022-05-02 18:29] #407 closed

[2022-05-02 19:34] anamansari062 commented on #416
@Mrjoy832 Change description and start working on the project

[2022-05-03 01:08] Mrjoy832 commented on #416
Yes changed

[2022-05-03 01:11] Mrjoy832 commented on #415
added reference image ....kindly assign

[2022-05-03 04:11] praveen-221 opened #425 "Google Homepage"
### Description

This project is about creating a google search engine clone with all it's features of gmail, sign in, searching and multilanguage support.

The tech stack for this project is HTML, CSS and JS.

### Code of Conduct

- [X] I follow [Code of conduct](https://github.com/surajm-333/Ace-The-FrontEnd/blob/main/CODE_OF_CONDUCT.md) of this project.

[2022-05-03 08:11] #409 closed

[2022-05-03 13:01] Avik-creator opened #428 "[New Issue]: Apple eCommerce website"
### Description

It will be a responsive website made of HTML, CSS3 JAVASCRIPT ES6.

### Code of Conduct

- [X] I follow [Code of conduct](https://github.com/surajm-333/Ace-The-FrontEnd/blob/main/CODE_OF_CONDUCT.md) of this project.

[2022-05-03 13:02] Avik-creator opened #429 "[New Issue]: Business Agency Website"
### Description

It will be a responsive website made up of HTML5, CSS3, JAVASCRIPT ES6.

### Code of Conduct

- [X] I follow [Code of conduct](https://github.com/surajm-333/Ace-The-FrontEnd/blob/main/CODE_OF_CONDUCT.md) of this project.

[2022-05-03 14:12] surajm-333 commented on #210
@Janvi-Thakkar what's the update on this issue?

[2022-05-03 14:14] #318 closed

[2022-05-03 14:17] surajm-333 commented on #329
@Abhishek786-Kolvekar since you have already contributed this project to other repository, you cannot add the same project to this repository. But you can definitely add other projects and contribute to Ace-The-FrontEnd! 🙂

[2022-05-03 14:17] #329 closed

[2022-05-03 14:19] surajm-333 commented on #263
@nithu2109 is the design responsive?

[2022-05-03 16:13] Atif0604 commented on #342
@surajm-333

[2022-05-04 11:08] Avik-creator commented on #428
@anamansari062 could you please assign me this?

[2022-05-04 17:58] sulogna2001 commented on #93
@surajm-333  Hey I contributed to this but still its not considered underGSSOC22.Can you look into that

[2022-05-04 18:26] anamansari062 commented on #425
@praveen-221 Add some reference images

[2022-05-04 18:36] anamansari062 commented on #429
@Avik-creator Add refernce images

[2022-05-04 18:37] anamansari062 commented on #428
@Avik-creator Add refernce images

[2022-05-04 18:46] Avik-creator commented on #428
![images (2).jpeg](https://user-images.githubusercontent.com/77090462/166804601-1ee9d725-2193-42c5-bc4d-b59f51dfe936.jpeg)
- Some thing like this maybe.
- It won't be the same but may be look like it
- You will get the PR tomorrow.

[2022-05-04 18:46] Avik-creator commented on #428
@anamansari062

[2022-05-05 03:10] #422 closed

[2022-05-05 06:42] Avik-creator commented on #428
@anamansari062 Please check it ma'am

[2022-05-05 09:57] nithu2109 commented on #263
yes!

[2022-05-05 16:22] BIKRAM-SAHA commented on #177
Hi as it has been long since the issue was opened, I would like to volunteer to work on this issue and build a portfolio site. Kindly reply if I should move ahead with this.

[2022-05-05 16:29] Avik-creator commented on #429
@anamansari062 Here are the Reference Images.
- I Have coded it.
- Please check if it is plagiarised or not.
-
<img width="1440" alt="Screenshot 2022-05-05 at 9 57 18 PM" src="https://user-images.githubusercontent.com/77090462/166969605-889e127f-6fd9-4d0c-85b1-1c811284e527.png">
<img width="1440" alt="Screenshot 2022-05-05 at 9 57 22 PM" src="https://user-images.githubusercontent.com/77090462/1669

[2022-05-05 17:46] sampavaranasi commented on #273
@surajm-333 https://github.com/Rayman-Sodhi/Clone-IT/issues/224

[2022-05-05 17:58] sampavaranasi commented on #23
@surajm-333 https://github.com/khushi-purwar/WebDev-ProjectKart/issues/403

[2022-05-05 18:18] sampavaranasi commented on #273
@surajm-333 Take care in repeeat ishues

[2022-05-05 18:46] Kunal0220 commented on #17
Hey Please add the GSSoC label and level to this , It's not getting counted .

[2022-05-05 18:50] anamansari062 commented on #428
@Avik-creator You are assigned

[2022-05-05 18:52] anamansari062 commented on #177
@sam301100 give your work status, or else it will be reassigned soon

[2022-05-05 18:55] #411 closed

[2022-05-06 04:15] srinjoy-26 opened #431 "Home page breaking in EDU:ME"
### Description

Bug in EDU:ME solved. There was a problem in the linking between index.html page "home" with itself , due to which when someone was clicking on the home while staying on the page the webpage was getting broken.

### Code of Conduct

- [X] I follow [Code of conduct](https://github.com/surajm-333/Ace-The-FrontEnd/blob/main/CODE_OF_CONDUCT.md) of this project.

https://user-images.gi

[2022-05-06 07:22] kaybee128 commented on #431
please elaborate and add reference images.

[2022-05-06 07:51] srinjoy-26 commented on #431
please check now @kaybee128

[2022-05-06 08:42] yash-25log opened #432 "Profile card ui"
A profile card using
html
css
js

has a toggle menu
responsive too
@anamansari062 @kaybee128
![image](https://user-images.githubusercontent.com/58944204/167098150-8cf4f185-038e-4a55-a81b-ff58464ac8c9.png)
![image](https://user-images.githubusercontent.com/58944204/167236698-0ee68bba-dd9d-4930-8ab3-e47ff8a2d4b0.png)
![image](https://user-images.githubusercontent.com/58944204/167236709-abfb9107-bf6a

[2022-05-06 08:44] yash-25log commented on #432
@anamansari062 @kaybee128 pls assign

[2022-05-06 09:45] sur16-cse opened #435 "[New Issue]: Dog Lovers"
### Description

Description of the project here:
This project is based on Dog API  used and it shows dogs breed and their SubBreeds and also have gallery of that breed and  and it is made using HTML, CSS, JQUERY, and JAVASCRIPT.
This will be looking:

![screen-capture (5)](https://user-images.githubusercontent.com/67889306/167107994-b52a0435-1d7c-45fe-adcf-d9b4910dd8f1.gif)

The folders used in t

[2022-05-06 10:49] Avik-creator opened #437 "[New Issue]: A tribute Page to Kishore Kumar"
### Description

It will be a tribute page to Kishore Kumar.
It will be made by Using HTML, CSS.
Pictures:
<img width="1092" alt="Screenshot 2022-05-06 at 4 19 23 PM" src="https://user-images.githubusercontent.com/77090462/167117942-f6b18045-a176-4a19-a4ac-91ffe3c03cef.png">
<img width="1095" alt="Screenshot 2022-05-06 at 4 19 32 PM" src="https://user-images.githubusercontent.com/77090462/16711807

[2022-05-06 10:59] Avik-creator opened #438 "[New Issue]: Canvas WallPaper Website"
### Description

It will be made by Using HTML, CSS, JavaScript.
Picture:
<img width="1200" alt="Screenshot 2022-05-06 at 4 28 23 PM" src="https://user-images.githubusercontent.com/77090462/167119238-52e69851-e250-4017-8f55-dbe6bc41404b.png">

### Code of Conduct

- [X] I follow [Code of conduct](https://github.com/surajm-333/Ace-The-FrontEnd/blob/main/CODE_OF_CONDUCT.md) of this project.

[2022-05-06 11:03] Avik-creator commented on #408
@anamansari062 Please assign this to me
Picture of the final project
<img width="766" alt="Screenshot 2022-05-06 at 4 33 19 PM" src="https://user-images.githubusercontent.com/77090462/167119815-014e590c-8dff-46b9-b9fa-27d573975995.png">
It is a responsive one

[2022-05-06 11:12] Avik-creator opened #439 "[New Issue]: Car Animation"
### Description

It will be made by Using HTML, CSS, JavaScript
It will be responsive website
<img width="1195" alt="Screenshot 2022-05-06 at 4 41 43 PM" src="https://user-images.githubusercontent.com/77090462/167121011-ad574d1b-e0e4-406c-845b-0d70a7edb338.png">
.

### Code of Conduct

- [X] I follow [Code of conduct](https://github.com/surajm-333/Ace-The-FrontEnd/blob/main/CODE_OF_CONDUCT.md) of

[2022-05-06 11:50] kaybee128 commented on #438
add videos please

[2022-05-06 13:17] anamansari062 commented on #437
@Avik-creator You can work on this, I would sugges to add more info and styles in the website template and instead you can make a dynamic tribute page with sample images and description

[2022-05-06 13:19] #431 closed

[2022-05-06 13:25] yash-25log commented on #432
What you see is the same in mobile version just the toggle size is small
I am not on PC rn so will share by evening

[2022-05-06 16:55] Avik-creator commented on #439
Here is the Video

https://user-images.githubusercontent.com/77090462/167177825-2ee678e1-31f2-40f2-bd22-0527d3b647dd.mov

@anamansari062 @kaybee128

[2022-05-06 17:01] praveen-221 commented on #425
**Reference Image of the UI:**
![Screenshot (90)](https://user-images.githubusercontent.com/86505091/167178651-81c91e29-40fe-43cf-bb77-84f53ac724c1.png)

[2022-05-06 17:01] Avik-creator commented on #438
Here is the Video @anamansari062 @kaybee128

https://user-images.githubusercontent.com/77090462/167178712-b056cdca-0a15-4fb5-a9fe-5bae5166cf70.mov

Please check it.

[2022-05-07 06:41] #274 closed

[2022-05-07 07:33] Avik-creator commented on #439
@kaybee128 ma'am when did I completed it? I haven't even made a pr. 😅

[2022-05-07 07:42] Adhetya opened #441 "Create a image gallery with sidebar"
### Description

Description of the project here

Create an image gallery which is fully responsive with a sidebar and an image gallery which would help beginners understand how CSS grid and flexbox works. It demonstrates concepts like grid-area which can enable you to create any layout.

Tech stack: HTML and CSS

I am a GSSOC 22 contributor. Please assign this issue to me

This is how the final r

[2022-05-07 07:55] Adhetya opened #442 "Create a tooltip"
### Description

Description of the project here

Create a tooltip using HTML and CSS. On hovering over the image, you get a piece of information related to the image. This involves a transition before slowly revealing the text content

Final result:
<img width="879" alt="Screenshot 2022-05-07 at 1 31 35 PM" src="https://user-images.githubusercontent.com/20537150/167245064-3a69089c-9ede-4dc4-9f36-

[2022-05-07 07:59] Adhetya opened #443 "Create a dark mode toggle button"
### Description

Description of the project here
Create a button which on click changes to dark mode. Could be useful for those who want to add dark mode in their websites

Result:
<img width="909" alt="Screenshot 2022-05-07 at 1 30 10 PM" src="https://user-images.githubusercontent.com/20537150/167245110-726c7366-9d7a-4de0-9673-dbab7dbe8908.png">

### Code of Conduct

- [X] I follow [Code of condu

[2022-05-07 08:37] pushpanjali-10 commented on #443
can u assign this to me?

[2022-05-07 08:39] pushpanjali-10 commented on #351
can u assign this to me?

[2022-05-07 09:06] anamansari062 commented on #441
@Adhetya Mention tech stack in description and you can start working on this issue.

[2022-05-07 09:07] anamansari062 commented on #442
@Adhetya Add more description about tooltip

[2022-05-07 09:14] anamansari062 commented on #351
@Mennapika Are you working on this issue?

[2022-05-07 09:45] #428 closed

[2022-05-07 09:45] #429 closed

[2022-05-07 09:46] #408 closed

[2022-05-07 09:47] Adhetya commented on #442
@anamansari062, done

[2022-05-07 09:56] #230 closed

[2022-05-07 10:32] DragonUncaged opened #444 "Car Game"
### Description

Car Game Avoid Obstacles (car)

- [x] html
- [x] css
- [x] js

![image](https://user-images.githubusercontent.com/72241207/167250568-d453ac51-2f04-4458-8c86-25c5658089e1.png)

### Code of Conduct

- [X] I follow [Code of conduct](https://github.com/surajm-333/Ace-The-FrontEnd/blob/main/CODE_OF_CONDUCT.md) of this project.

[2022-05-07 10:47] DragonUncaged commented on #444
/assign

[2022-05-07 12:48] Susmita-Dey opened #446 "[New Issue]: Facebook Login Page UI Clone"
### Description

I want to add my Facebook Home Page UI Clone made with HTML and Tailwind CSS.
I'm a GSSoC'22 contributor. KIndly assign it to me.
## Screenshots
![image](https://user-images.githubusercontent.com/79099734/167255113-da120064-fa16-442c-9d79-4089d0731939.png)

### Code of Conduct

- [X] I follow [Code of conduct](https://github.com/surajm-333/Ace-The-FrontEnd/blob/main/CODE_OF_CONDUC

[2022-05-07 14:19] Sulagna-Dutta-Roy opened #448 "Neumorphism Age Calculator"
### Description

I will be creating age calculator with neumorphism effects. Tech stack will be html,css, js.

### Code of Conduct

- [X] I follow [Code of conduct](https://github.com/surajm-333/Ace-The-FrontEnd/blob/main/CODE_OF_CONDUCT.md) of this project.

![IMG_20220507_203813.jpg](https://user-images.githubusercontent.com/72568715/167260238-dd681c64-688e-4869-874c-df2b3a979c14.jpg)

[2022-05-07 14:24] DragonUncaged opened #449 "Image Gallery ( assign me)"
### Description

Image Gallery

- [x] html
- [x] css
- [x] js

![preview](https://user-images.githubusercontent.com/72241207/167258464-41c3f157-3423-446e-83f4-4991a6e6ebdb.jpg)

https://user-images.githubusercontent.com/72241207/167258471-ae0f244f-8946-4d98-87ad-b09cd66b143f.mp4

### Code of Conduct

- [X] I follow [Code of conduct](https://github.com/surajm-333/Ace-The-FrontEnd/blob/main/CODE_OF_

[2022-05-07 14:33] DragonUncaged opened #451 "Animated Menu ( assign me)"
### Description

Menu Animated

- [x] html

- [x] css

- [x] js

![preview3](https://user-images.githubusercontent.com/72241207/167258744-819232b6-0bf2-4804-bb30-b383a3d15293.gif)

### Code of Conduct

- [X] I follow [Code of conduct](https://github.com/surajm-333/Ace-The-FrontEnd/blob/main/CODE_OF_CONDUCT.md) of this project.

[2022-05-07 14:44] sampavaranasi commented on #273
@surajm-333 @aakankshabhende Please take care of this : https://github.com/Rayman-Sodhi/Clone-IT/issues/224

[2022-05-07 15:01] anamansari062 commented on #446
@Susmita-Dey This is not home page, this is login page. Kindly change the tilte and description and then you can start working on it.

[2022-05-07 15:04] anamansari062 commented on #448
@Sulagna-Dutta-Roy Add some reference images (It can include whiteboard, paint, or any rough design )

[2022-05-07 15:06] anamansari062 commented on #449
@DragonUncaged Add a proper description and tech stacks

[2022-05-07 15:06] anamansari062 commented on #451
@DragonUncaged Add proper description and tech stacks

[2022-05-07 15:07] DragonUncaged commented on #449
done !!

[2022-05-07 15:10] Sulagna-Dutta-Roy commented on #448
It will be look like this.

![IMG_20220507_203813.jpg](https://user-images.githubusercontent.com/72568715/167260238-dd681c64-688e-4869-874c-df2b3a979c14.jpg)

[2022-05-07 15:15] anamansari062 commented on #449
Talk about what the website does

[2022-05-07 15:15] anamansari062 commented on #448
@Sulagna-Dutta-Roy Add the image in the description

[2022-05-07 15:18] Sulagna-Dutta-Roy commented on #448
Done

[2022-05-07 15:29] DragonUncaged commented on #449
Added the video. That it
website does only that

[2022-05-07 15:40] DragonUncaged opened #456 "3d environment"
### Description

a 3d Environment animation

HTML/CSs

https://user-images.githubusercontent.com/72241207/167261469-6f20d021-d23a-4df5-ba00-71a7afa91688.mp4

### Code of Conduct

- [X] I follow [Code of conduct](https://github.com/surajm-333/Ace-The-FrontEnd/blob/main/CODE_OF_CONDUCT.md) of this project.

[2022-05-07 15:41] DragonUncaged opened #457 "Animated BackGroung"
### Description
## Its the Background ONLY

HTML CSS
![image](https://user-images.githubusercontent.com/72241207/167261657-0aa4d234-0d3c-46e8-9982-c364627394b9.png)

### Code of Conduct

- [X] I follow [Code of conduct](https://github.com/surajm-333/Ace-The-FrontEnd/blob/main/CODE_OF_CONDUCT.md) of this project.

[2022-05-07 15:44] #432 closed

[2022-05-07 15:48] DragonUncaged opened #459 "Loading Animation"
### Description

Animated loading Screen
![preview3](https://user-images.githubusercontent.com/72241207/167261750-680e356c-a8e0-49d6-9890-554bcb454b8f.gif)

### Code of Conduct

- [X] I follow [Code of conduct](https://github.com/surajm-333/Ace-The-FrontEnd/blob/main/CODE_OF_CONDUCT.md) of this project.

[2022-05-07 16:17] Susmita-Dey commented on #446
Okay, done. Thanks for assigning.

[2022-05-07 16:25] Susmita-Dey opened #461 "[New Issue]: Add Netflix Clone"
### Description

I want to add my Netflix Clone project made with HTML, CSS, and JS.
I'm a GSSoC'22 contributor. Kindly assign it to me.

### Code of Conduct

- [X] I follow [Code of conduct](https://github.com/surajm-333/Ace-The-FrontEnd/blob/main/CODE_OF_CONDUCT.md) of this project.

[2022-05-07 17:06] yash-25log opened #462 "Tailwind CSS testimonial converted to REACT"
Converted tailwind project
#360 in react
u may check
made all the features completely same as it was of original version

purpose was to use it in an upcoming react website

![image](https://user-images.githubusercontent.com/58944204/167264533-3528c170-3dbd-44ef-a05a-3fd9a4948196.png)

[2022-05-07 17:07] yash-25log commented on #462
@anamansari062 @kaybee128 kindly assign by tomorrow evening

[2022-05-07 17:28] #439 closed

[2022-05-07 17:44] Kumar-Ankit56 opened #463 "Charcter-Limit"
**Project title**
Character Limit in the text area.

**Project Description**
### The idea behind this project
Someplace like on Twitter you can write only 30 words or something about how we do this.

### How does it work
while loading the project we will have a text box where we can enter text and below the text box, the is a live court with the limit if your text will under the limit then the tex

[2022-05-07 18:26] MR-DHRUV opened #464 "Adding A Aunrise-Sunset Animation"
✅A dynamic surmise and sunset animation, Here's a sample

https://user-images.githubusercontent.com/96336775/167267070-b47e9b73-9b8d-4e2c-9d81-feedad42a512.mp4

Modifications will be done

Tech Stack
✅HTML
✅CSS
✅JS

[2022-05-07 19:49] #443 closed

[2022-05-07 19:50] anamansari062 commented on #456
@DragonUncaged This issue just has an animation. I would suggesst you add something more

[2022-05-07 19:51] anamansari062 commented on #457
@DragonUncaged This issue doesnt come under any templates. I would suggest you to make something more

[2022-05-07 19:54] #425 closed

[2022-05-07 19:55] anamansari062 commented on #459
@DragonUncaged This is not considered as an issue. You could provide a description of where it can be used or add more features

[2022-05-07 19:56] anamansari062 commented on #461
@Susmita-Dey Add some refernence image (It can be rough sketch or paint or figma design)

[2022-05-07 20:01] anamansari062 commented on #464
@MR-DHRUV Mention tech stack and proper description

[2022-05-08 02:28] #438 closed

[2022-05-08 02:42] Avik-creator opened #466 "Real Madrid Website Template"
### Description

It will be a responsive real Madrid Website.
It will look something like this:
![Screenshot_2022-05-08-08-12-11-650_com brave browser](https://user-images.githubusercontent.com/77090462/167279478-39cc0a14-f6a3-4475-a7b4-c8738ff24d47.jpg)

### Tech Stack:
- HTML
- CSS

### Code of Conduct

- [X] I follow [Code of conduct](https://github.com/surajm-333/Ace-The-FrontEnd/blob/main/COD

[2022-05-08 06:59] #459 closed

[2022-05-08 06:59] #457 closed

[2022-05-08 07:08] DragonUncaged commented on #451
assign the issue

[2022-05-08 07:12] #396 closed

[2022-05-08 07:41] DragonUncaged opened #467 "Scroll Animated Landing Page"
### Description

Slide animation

HTML CSS JS

![Priview_timeline](https://user-images.githubusercontent.com/72241207/167286629-55a71107-08c6-4092-b737-b47d3428f691.png)
![preview](https://user-images.githubusercontent.com/72241207/167286757-cf88ed06-4d71-466f-8272-c3310c35654c.gif)

### Code of Conduct

- [X] I follow [Code of conduct](https://github.com/surajm-333/Ace-The-FrontEnd/blob/main/CODE

[2022-05-08 07:41] #456 closed

[2022-05-08 08:21] MR-DHRUV commented on #464
@anamansari062 Ma'am, Please check now

[2022-05-08 08:28] DragonUncaged opened #468 "Uber Clone"
### Description

This Is Uber clone.

- [x] HTML
- [x] CSS
- [x] JS

![image](https://user-images.githubusercontent.com/72241207/167288056-13052879-97ee-4b4f-b5c4-eeb6bdb6f1f3.png)

### Code of Conduct

- [X] I follow [Code of conduct](https://github.com/surajm-333/Ace-The-FrontEnd/blob/main/CODE_OF_CONDUCT.md) of this project.

[2022-05-08 08:41] anamansari062 commented on #466
@Avik-creator Mention tech stack and you can start working on it

[2022-05-08 08:42] Avik-creator commented on #466
@anamansari062 please check it now.

[2022-05-08 08:43] anamansari062 commented on #451
@DragonUncaged
In the description template you have added [x] kindly change it and preview that tick mark comes instead. Also the pr was made before it was assigned, So it will take some time to merge your pr.

[2022-05-08 08:44] anamansari062 commented on #467
@DragonUncaged Give proper description

[2022-05-08 08:45] anamansari062 commented on #468
@DragonUncaged Add more description and mention about tech stack and responisive-ness

[2022-05-08 08:53] DragonUncaged commented on #467
I have uploaded the GIF.
That is the website

[2022-05-08 08:55] #441 closed

[2022-05-08 08:55] DragonUncaged commented on #468
I have Added Assign me.

[2022-05-08 09:15] Adhetya commented on #442
@anamansari062, can you assign this issue to me?

[2022-05-08 09:25] surajm-333 commented on #468
@DragonUncaged what exactly is the project? Is it the clone of the app or clone of the homepage?
If it is homepage clone then provide proper heading and description and mention if it is responsive or not.

[2022-05-08 09:36] DragonUncaged commented on #468
It is the payment page Clone only.
and yes it is responsive.

[2022-05-08 09:42] surajm-333 commented on #462
@yash-25log this project is already made by you and creating it with react would be redundant, take up some unnecessary space and make the repository bulky. Even the current design can be used in a react app.

Also, all the maintainers have been working hard in merging and testing contributors' pull requests. So kindly do not ask for issue assignment upto a certain deadline and have some patience.

[2022-05-08 09:42] #462 closed

[2022-05-08 09:42] DragonUncaged commented on #451
Done !!

[2022-05-08 09:43] yash-25log commented on #462
all right

[2022-05-08 10:57] surajm-333 commented on #263
@nithu2109 you can start working on this issue!

[2022-05-08 11:00] surajm-333 commented on #290
Okay @mohammadshaad. I would suggest you to include some kind of hover or animation effect on the "generate password" and copy button as well to make a significant contribution. You can start working on this issue!

[2022-05-08 11:01] surajm-333 commented on #293
Okay @komalswami you can start developing this responsive website using HTML, CSS and JS only.

[2022-05-08 11:11] surajm-333 commented on #296
@AsmaIbrahimButt if the project can be developed using only html, css and js then it is advised to do so because using react in this case would be redundant and make the repository bulky. This is last notification for responding to the query. If you fail to respond to this then this issue will be closed.

[2022-05-08 11:12] #304 closed

[2022-05-08 11:13] surajm-333 commented on #303
What's the update on this issue @AnIkeT126?

[2022-05-08 11:14] surajm-333 commented on #333
@AnIkeT126 will this clone be responsive?

[2022-05-08 11:14] #334 closed